/**
 * Accessibility
 *   - same as bootstrap/scss/mixins/_screen_reader.scss
 */
@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin sr-only-focusable {
  @include sr-only();

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}


// Sizing shortcut from bootstrap/scss/mixins/_size.scss

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// From bootstrap/scss/mixins/_clearfix.scss

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
