# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

.jekyll-metadata
.DS_store
.vscode
_site
Gemfile
Gemfile.lock

#ignore models.json file added by IDE intellesense
models.json
