# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

.jekyll-metadata
_site
Gemfile
Gemfile.lock

# Ignore OS and IDE tracking files
.DS_store
.idea
.vs

#ignore models.json file added by IDE intellesense
models.json


# Ignore clasp config file
.clasp.json
