---
layout: default
title: About Us
---
<div class="header-container header-container--about-us">
    <div>
        <h1>About Us</h1>
        <p class="header-text--about-us">We bring together civic-minded volunteers to build digital products,
            programs and services with community partners and local government to address issues in our LA region.
        </p>
        <p class="header-text--about-us">
            Hack for LA is a project of <a href="https://www.codeforamerica.org/" target="_blank">Code for America</a> and its official Los Angeles chapter.
        </p>
    </div>
    <div>{% include page-resources/about-us/about-us-header.svg %}</div>
</div>

<div class="page-content-container-grid">
    <div class="not-sticky-nav-container">   
        <a class="anchor" id='letter'></a>
        <div class='page-card page-card--ed'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/letter.svg %}</span><span id="letterBR">Letter from the Executive Director</span></div>
            <div class="about-us-section-content">
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum nisi congue posuere imperdiet. 
                    Mauris ac libero nec tortor eleifend pulvinar in eget est. Phasellus eget feugiat nisl, euismod sodales lacus. 
                    Duis at hendrerit orci. Mauris a varius lorem. Sed a nibh nibh. Vestibulum maximus, magna at vulputate feugiat, 
                    leo nisi dictum neque, sit amet ullamcorper mauris lectus ac augue. Curabitur tincidunt cursus diam eget pharetra.
                    Aliquam non leo ut urna vehicula commodo. Suspendisse ultrices elit et dui accumsan, et vestibulum sapien egestas. 
                    Nam mollis erat ante, ac tincidunt sem molestie quis.
                    </p>
                    <p>
                    Pellentesque elementum tellus eu convallis gravida. Duis fermentum felis elementum odio semper, sit amet dictum tortor iaculis. 
                    Maecenas eu pretium lectus. Phasellus tempor risus vitae sem sodales mattis. Integer ex leo, ultrices sit amet vulputate a, 
                    consectetur id lacus. Proin pharetra tortor quam. Aenean egestas ligula sit amet pharetra maximus. Nunc ultrices est mauris, 
                    non tempor mi suscipit ac.
                    </p>
                    <p>
                    Aliquam erat volutpat. Aenean enim orci, venenatis vehicula dolor nec, dictum auctor erat. Nulla ac odio quis mauris porta pretium 
                    vel ut turpis. Morbi cursus et lorem nec suscipit. Suspendisse potenti. Etiam nec libero sed lacus pharetra lacinia. Sed ac nisi 
                    finibus, pellentesque ante non, ornare mauris. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Vivamus eu risus et eros congue pulvinar vitae et lorem. Vestibulum et lorem orci. 
                    Etiam et justo et quam imperdiet congue. Maecenas sit amet faucibus libero. Maecenas a quam ut purus cursus imperdiet iaculis quis libero. 
                    </p>
                </div>
            </div>
        </div>

        <a class="anchor" id='platform'></a>
        <div class='page-card'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/platform.svg %}</span><span id="platformBR">Hack for LA Platform</span></div>
            <div class="about-us-section-content">
                <div class="sub-card">
                    <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/workforce-development.svg %}</span><span class="sub-head-text au-color-1">Workforce Development</div>
                    <p class="sub-card-content au-border-1">
                        Enlightened self-interest is a powerful motivator. Our members have access to mentorship, 
                        one-on-one help with job searches, and resume coaching. We do project matching to fit skill 
                        and subject areas in which they wish to develop new skills, gain confidence in newly learned 
                        skills, and transition from beginner to junior, mid-level, or expert - often in areas they 
                        wish to add impressive credits to their resume.
                    </p>
                            <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/impact.svg %}</span><span class="sub-head-text au-color-2">Impact</div>
                    <p class="sub-card-content au-border-2">
                        We choose and empower projects where there is a demonstrable impact on stakeholders, project partners, 
                        our local community, and our members. We don’t seek to be the experts, but instead to learn from them 
                        and apply the leverage that technology offers to help improve pace and outcomes from their already 
                        valuable work. High profile project partners carry weight when our members are looking for work.
                    </p>
                    <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/learning.svg %}</span><span class="sub-head-text au-color-3">Learning</div>
                    <p class="sub-card-content au-border-3">
                        An environment where every member and the org itself benefit from the shared experiences of the members. 
                        From high school students to Ph.D., from novice to expert, there is knowledge to be gained by sharing 
                        practices and working collaboratively, making mistakes and learning from them in an environment that 
                        values failing fast and learning.
                    </p>
                    <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/diversity.svg %}</span><span class="sub-head-text au-color-4">Diversity, Equity, and Inclusion</div>
                    <p class="sub-card-content au-border-4">
                        The diverse experiences of all of our members help us create a better civic tech ecosystem, by bringing 
                        their lived experience to our org. Our diversity includes race, sexual orientation, learning modalities, 
                        cognitive abilities, and socio-economic experiences. Our model of inclusion requires and inspires 
                        empathy and patience, both with others and ourselves. We are all here to learn to work together to 
                        create the change we want to see in the world, and that happens one conversation at a time.
                    </p>
                    <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/giving.svg %}</span><span class="sub-head-text au-color-5">Giving</div>
                    <p class="sub-card-content au-border-5">
                        We all come together to give freely of our time, expertise, interest and empathy, in an effort to improve 
                        our local community through direct action.
                    </p>
                    <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/agility.svg %}</span><span class="sub-head-text au-color-6">Agility</div>
                    <p class="sub-card-content au-border-6">
                        There will be impediments, setbacks and disappointments. We embrace change by empowering our members to 
                        meet, talk, experiment and achieve enough common consensus to move internal initiatives forward, without 
                        rigid structures and oppressive processes. This works on project teams, Communities of Practice and 
                        Organizational Stewardship.
                    </p>
                    <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/scalability.svg %}</span><span class="sub-head-text au-color-7">Scalability</div>
                    <p class="sub-card-content au-border-7">
                        In order to scale our impact with people and projects, we experiment, iterate and refine, measure and 
                        automate.  Using the lowest lift tools possible for the job, and building our own, when scale cannot be 
                        achieved with manual labor or open source tools.
                    </p>
                    <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/sustainability.svg %}</span><span class="sub-head-text au-color-8">Sustainability</div>
                    <p class="sub-card-content au-border-8">
                        To create a sustainable community that provides consistent results and experience for stakeholders and a 
                        feeling of stability amongst its members.
                    </p>
                    <p class="bold-quote">And last but definitley not least, a true open door policy....</p>
                    <div class="sub-card-head"><span class="sub-head-image">{% include page-resources/about-us/platform-header-elements/inclusivity.svg %}</span><span class="sub-head-text au-color-9">Radical Inclusivity</div>
                    <p class="sub-card-content au-border-9">
                        When organizations filter you out before you get in the door, they perpetuate the bias already inherent 
                        in our society.  Radical Inclusivity at Hack for LA means that if you can contribute to our impact goals 
                        and peer learning environment, you are welcome here.
                    </p>
                </div>
            </div>
        </div>

        <a class="anchor" id='sustainability'></a>
        <div class='page-card'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/sustainability.svg %}</span><span id="sustainBR">HFLA Supports LA's SDG Movement</div>
            <div class="about-us-section-content">
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum nisi congue posuere imperdiet. 
                    Mauris ac libero nec tortor eleifend pulvinar in eget est. Phasellus eget feugiat nisl, euismod sodales lacus. 
                    Duis at hendrerit orci. Mauris a varius lorem. Sed a nibh nibh. Vestibulum maximus, magna at vulputate feugiat, 
                    leo nisi dictum neque, sit amet ullamcorper mauris lectus ac augue. Curabitur tincidunt cursus diam eget pharetra.
                    Aliquam non leo ut urna vehicula commodo. Suspendisse ultrices elit et dui accumsan, et vestibulum sapien egestas. 
                    Nam mollis erat ante, ac tincidunt sem molestie quis.
                    </p>
                    <p>
                    Pellentesque elementum tellus eu convallis gravida. Duis fermentum felis elementum odio semper, sit amet dictum tortor iaculis. 
                    Maecenas eu pretium lectus. Phasellus tempor risus vitae sem sodales mattis. Integer ex leo, ultrices sit amet vulputate a, 
                    consectetur id lacus. Proin pharetra tortor quam. Aenean egestas ligula sit amet pharetra maximus. Nunc ultrices est mauris, 
                    non tempor mi suscipit ac.
                    </p>
                    <p>
                    Aliquam erat volutpat. Aenean enim orci, venenatis vehicula dolor nec, dictum auctor erat. Nulla ac odio quis mauris porta pretium 
                    vel ut turpis. Morbi cursus et lorem nec suscipit. Suspendisse potenti. Etiam nec libero sed lacus pharetra lacinia. Sed ac nisi 
                    finibus, pellentesque ante non, ornare mauris. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Vivamus eu risus et eros congue pulvinar vitae et lorem. Vestibulum et lorem orci. 
                    Etiam et justo et quam imperdiet congue. Maecenas sit amet faucibus libero. Maecenas a quam ut purus cursus imperdiet iaculis quis libero. 
                    </p>
                </div>
            </div>
        </div>

        <a class="anchor" id='accomplishments'></a>
        <div class='page-card'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/accomplishments.svg %}</span>Accomplishments</div>
            <div class="about-us-section-content">
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum nisi congue posuere imperdiet. 
                    Mauris ac libero nec tortor eleifend pulvinar in eget est. Phasellus eget feugiat nisl, euismod sodales lacus. 
                    Duis at hendrerit orci. Mauris a varius lorem. Sed a nibh nibh. Vestibulum maximus, magna at vulputate feugiat, 
                    leo nisi dictum neque, sit amet ullamcorper mauris lectus ac augue. Curabitur tincidunt cursus diam eget pharetra.
                    Aliquam non leo ut urna vehicula commodo. Suspendisse ultrices elit et dui accumsan, et vestibulum sapien egestas. 
                    Nam mollis erat ante, ac tincidunt sem molestie quis.
                    </p>
                    <p>
                    Pellentesque elementum tellus eu convallis gravida. Duis fermentum felis elementum odio semper, sit amet dictum tortor iaculis. 
                    Maecenas eu pretium lectus. Phasellus tempor risus vitae sem sodales mattis. Integer ex leo, ultrices sit amet vulputate a, 
                    consectetur id lacus. Proin pharetra tortor quam. Aenean egestas ligula sit amet pharetra maximus. Nunc ultrices est mauris, 
                    non tempor mi suscipit ac.
                    </p>
                    <p>
                    Aliquam erat volutpat. Aenean enim orci, venenatis vehicula dolor nec, dictum auctor erat. Nulla ac odio quis mauris porta pretium 
                    vel ut turpis. Morbi cursus et lorem nec suscipit. Suspendisse potenti. Etiam nec libero sed lacus pharetra lacinia. Sed ac nisi 
                    finibus, pellentesque ante non, ornare mauris. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Vivamus eu risus et eros congue pulvinar vitae et lorem. Vestibulum et lorem orci. 
                    Etiam et justo et quam imperdiet congue. Maecenas sit amet faucibus libero. Maecenas a quam ut purus cursus imperdiet iaculis quis libero. 
                    </p>
                </div>
            </div>
        </div>

        <a class="anchor" id='metrics'></a>
        <div class='page-card'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/metrics.svg %}</span>Metrics</div>
            <div class="about-us-section-content">
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum nisi congue posuere imperdiet. 
                    Mauris ac libero nec tortor eleifend pulvinar in eget est. Phasellus eget feugiat nisl, euismod sodales lacus. 
                    Duis at hendrerit orci. Mauris a varius lorem. Sed a nibh nibh. Vestibulum maximus, magna at vulputate feugiat, 
                    leo nisi dictum neque, sit amet ullamcorper mauris lectus ac augue. Curabitur tincidunt cursus diam eget pharetra.
                    Aliquam non leo ut urna vehicula commodo. Suspendisse ultrices elit et dui accumsan, et vestibulum sapien egestas. 
                    Nam mollis erat ante, ac tincidunt sem molestie quis.
                    </p>
                    <p>
                    Pellentesque elementum tellus eu convallis gravida. Duis fermentum felis elementum odio semper, sit amet dictum tortor iaculis. 
                    Maecenas eu pretium lectus. Phasellus tempor risus vitae sem sodales mattis. Integer ex leo, ultrices sit amet vulputate a, 
                    consectetur id lacus. Proin pharetra tortor quam. Aenean egestas ligula sit amet pharetra maximus. Nunc ultrices est mauris, 
                    non tempor mi suscipit ac.
                    </p>
                    <p>
                    Aliquam erat volutpat. Aenean enim orci, venenatis vehicula dolor nec, dictum auctor erat. Nulla ac odio quis mauris porta pretium 
                    vel ut turpis. Morbi cursus et lorem nec suscipit. Suspendisse potenti. Etiam nec libero sed lacus pharetra lacinia. Sed ac nisi 
                    finibus, pellentesque ante non, ornare mauris. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Vivamus eu risus et eros congue pulvinar vitae et lorem. Vestibulum et lorem orci. 
                    Etiam et justo et quam imperdiet congue. Maecenas sit amet faucibus libero. Maecenas a quam ut purus cursus imperdiet iaculis quis libero. 
                    </p>
                </div>
            </div>
        </div>

        <a class="anchor" id='partners'></a>
        <div class='page-card'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/partners.svg %}</span>Partners</div>
            <div class="about-us-section-content">
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum nisi congue posuere imperdiet. 
                    Mauris ac libero nec tortor eleifend pulvinar in eget est. Phasellus eget feugiat nisl, euismod sodales lacus. 
                    Duis at hendrerit orci. Mauris a varius lorem. Sed a nibh nibh. Vestibulum maximus, magna at vulputate feugiat, 
                    leo nisi dictum neque, sit amet ullamcorper mauris lectus ac augue. Curabitur tincidunt cursus diam eget pharetra.
                    Aliquam non leo ut urna vehicula commodo. Suspendisse ultrices elit et dui accumsan, et vestibulum sapien egestas. 
                    Nam mollis erat ante, ac tincidunt sem molestie quis.
                    </p>
                    <p>
                    Pellentesque elementum tellus eu convallis gravida. Duis fermentum felis elementum odio semper, sit amet dictum tortor iaculis. 
                    Maecenas eu pretium lectus. Phasellus tempor risus vitae sem sodales mattis. Integer ex leo, ultrices sit amet vulputate a, 
                    consectetur id lacus. Proin pharetra tortor quam. Aenean egestas ligula sit amet pharetra maximus. Nunc ultrices est mauris, 
                    non tempor mi suscipit ac.
                    </p>
                    <p>
                    Aliquam erat volutpat. Aenean enim orci, venenatis vehicula dolor nec, dictum auctor erat. Nulla ac odio quis mauris porta pretium 
                    vel ut turpis. Morbi cursus et lorem nec suscipit. Suspendisse potenti. Etiam nec libero sed lacus pharetra lacinia. Sed ac nisi 
                    finibus, pellentesque ante non, ornare mauris. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Vivamus eu risus et eros congue pulvinar vitae et lorem. Vestibulum et lorem orci. 
                    Etiam et justo et quam imperdiet congue. Maecenas sit amet faucibus libero. Maecenas a quam ut purus cursus imperdiet iaculis quis libero. 
                    </p>
                </div>
            </div>
        </div>

        <a class="anchor" id='donations'></a>
        <div class='page-card'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/donations.svg %}</span>Make a Donation</div>
            <div class="about-us-section-content">
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum nisi congue posuere imperdiet. 
                    Mauris ac libero nec tortor eleifend pulvinar in eget est. Phasellus eget feugiat nisl, euismod sodales lacus. 
                    Duis at hendrerit orci. Mauris a varius lorem. Sed a nibh nibh. Vestibulum maximus, magna at vulputate feugiat, 
                    leo nisi dictum neque, sit amet ullamcorper mauris lectus ac augue. Curabitur tincidunt cursus diam eget pharetra.
                    Aliquam non leo ut urna vehicula commodo. Suspendisse ultrices elit et dui accumsan, et vestibulum sapien egestas. 
                    Nam mollis erat ante, ac tincidunt sem molestie quis.
                    </p>
                    <p>
                    Pellentesque elementum tellus eu convallis gravida. Duis fermentum felis elementum odio semper, sit amet dictum tortor iaculis. 
                    Maecenas eu pretium lectus. Phasellus tempor risus vitae sem sodales mattis. Integer ex leo, ultrices sit amet vulputate a, 
                    consectetur id lacus. Proin pharetra tortor quam. Aenean egestas ligula sit amet pharetra maximus. Nunc ultrices est mauris, 
                    non tempor mi suscipit ac.
                    </p>
                    <p>
                    Aliquam erat volutpat. Aenean enim orci, venenatis vehicula dolor nec, dictum auctor erat. Nulla ac odio quis mauris porta pretium 
                    vel ut turpis. Morbi cursus et lorem nec suscipit. Suspendisse potenti. Etiam nec libero sed lacus pharetra lacinia. Sed ac nisi 
                    finibus, pellentesque ante non, ornare mauris. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Vivamus eu risus et eros congue pulvinar vitae et lorem. Vestibulum et lorem orci. 
                    Etiam et justo et quam imperdiet congue. Maecenas sit amet faucibus libero. Maecenas a quam ut purus cursus imperdiet iaculis quis libero. 
                    </p>
                </div>
            </div>
        </div>

        <a class="anchor" id='sponsors'></a>
        <div class='page-card'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/sponsors.svg %}</span>Sponsors</div>
            <div class="about-us-section-content">
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum nisi congue posuere imperdiet. 
                    Mauris ac libero nec tortor eleifend pulvinar in eget est. Phasellus eget feugiat nisl, euismod sodales lacus. 
                    Duis at hendrerit orci. Mauris a varius lorem. Sed a nibh nibh. Vestibulum maximus, magna at vulputate feugiat, 
                    leo nisi dictum neque, sit amet ullamcorper mauris lectus ac augue. Curabitur tincidunt cursus diam eget pharetra.
                    Aliquam non leo ut urna vehicula commodo. Suspendisse ultrices elit et dui accumsan, et vestibulum sapien egestas. 
                    Nam mollis erat ante, ac tincidunt sem molestie quis.
                    </p>
                    <p>
                    Pellentesque elementum tellus eu convallis gravida. Duis fermentum felis elementum odio semper, sit amet dictum tortor iaculis. 
                    Maecenas eu pretium lectus. Phasellus tempor risus vitae sem sodales mattis. Integer ex leo, ultrices sit amet vulputate a, 
                    consectetur id lacus. Proin pharetra tortor quam. Aenean egestas ligula sit amet pharetra maximus. Nunc ultrices est mauris, 
                    non tempor mi suscipit ac.
                    </p>
                    <p>
                    Aliquam erat volutpat. Aenean enim orci, venenatis vehicula dolor nec, dictum auctor erat. Nulla ac odio quis mauris porta pretium 
                    vel ut turpis. Morbi cursus et lorem nec suscipit. Suspendisse potenti. Etiam nec libero sed lacus pharetra lacinia. Sed ac nisi 
                    finibus, pellentesque ante non, ornare mauris. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Vivamus eu risus et eros congue pulvinar vitae et lorem. Vestibulum et lorem orci. 
                    Etiam et justo et quam imperdiet congue. Maecenas sit amet faucibus libero. Maecenas a quam ut purus cursus imperdiet iaculis quis libero. 
                    </p>
                </div>
            </div>
        </div>
        <a class="anchor" id='news'></a>
        <div class='page-card last-card'>
            <div class="about-us-section-header"><span class="sec-head-img">{% include page-resources/about-us/section-header-elements/news.svg %}</span>HFLA in the News</div>
            <div class="about-us-section-content">
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum nisi congue posuere imperdiet. 
                    Mauris ac libero nec tortor eleifend pulvinar in eget est. Phasellus eget feugiat nisl, euismod sodales lacus. 
                    Duis at hendrerit orci. Mauris a varius lorem. Sed a nibh nibh. Vestibulum maximus, magna at vulputate feugiat, 
                    leo nisi dictum neque, sit amet ullamcorper mauris lectus ac augue. Curabitur tincidunt cursus diam eget pharetra.
                    Aliquam non leo ut urna vehicula commodo. Suspendisse ultrices elit et dui accumsan, et vestibulum sapien egestas. 
                    Nam mollis erat ante, ac tincidunt sem molestie quis.
                    </p>
                    <p>
                    Pellentesque elementum tellus eu convallis gravida. Duis fermentum felis elementum odio semper, sit amet dictum tortor iaculis. 
                    Maecenas eu pretium lectus. Phasellus tempor risus vitae sem sodales mattis. Integer ex leo, ultrices sit amet vulputate a, 
                    consectetur id lacus. Proin pharetra tortor quam. Aenean egestas ligula sit amet pharetra maximus. Nunc ultrices est mauris, 
                    non tempor mi suscipit ac.
                    </p>
                    <p>
                    Aliquam erat volutpat. Aenean enim orci, venenatis vehicula dolor nec, dictum auctor erat. Nulla ac odio quis mauris porta pretium 
                    vel ut turpis. Morbi cursus et lorem nec suscipit. Suspendisse potenti. Etiam nec libero sed lacus pharetra lacinia. Sed ac nisi 
                    finibus, pellentesque ante non, ornare mauris. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Vivamus eu risus et eros congue pulvinar vitae et lorem. Vestibulum et lorem orci. 
                    Etiam et justo et quam imperdiet congue. Maecenas sit amet faucibus libero. Maecenas a quam ut purus cursus imperdiet iaculis quis libero. 
                    </p>
                </div>
            </div>
        </div>    
    </div>

    <nav id="sticky-nav" class="sticky-nav">
        <ul>
            <li><a class="is-active" href='#letter'>Letter from the ED</a></li>
            <li><a href='#platform'>Hack for LA Platform</a></li>
            <li><a href='#sustainability'>Sustainability</a></li>
            <li><a href='#accomplishments'>Accomplishments</a></li>
            <li><a href='#metrics'>Metrics</a></li>
            <li><a href='#partners'>Partners</a></li>
            <li><a href='#donations'>Donations</a></li>
            <li><a href='#sponsors'>Sponsors</a></li>
            <li><a href='#news'>News</a></li>
        </ul>
    </nav>
</div>

<!-- Include javaScript -->
{% include page-resources/about-us/about-us.js.html %}