<div class="content-hack-night">
  <div class="show-video">
    <div class="header-text-margin--events">
      <h1 class="title1">Events</h1>
      <p class="header-desc">
        Hack for LA was incubated in the Code for America Brigade Network and continues the valuable work under Civic Tech Structure, 
        Inc. a network of civic-minded technologists who contribute their skills toward using the web as a platform for local government 
        and community service.
      </p>
      <!--This is hidden when full screen and shown when mobile and tablet-->
      <div class="fullscreen--hide-video">
        <div>
          <iframe class="video-size" src="https://embed.ted.com/talks/jennifer_pahlka_coding_a_better_government"
            width="854" height="480" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
      </div>

      <p id="head-content" class="events--head-content">
        To learn more, watch the
        <a href="https://www.ted.com/talks/jennifer_pahlka_coding_a_better_government" target="_blank">Ted Talk</a>
        by Code for America founder, Jennifer Pahlka, on maintaining a better government through code.
      </p>
    </div>

    <div class="mobile--hide-video fullscreen-video">
      <div class="events-video-fullscreen-container">
        <iframe class="video-size" src="https://embed.ted.com/talks/jennifer_pahlka_coding_a_better_government"
          width="854" height="480" frameborder="0" scrolling="no" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>