
<div class="getting-started-page-card-locations">
    <div class="locations-1">
      <div class="location-img-pos">
        <img class="location-image" src="../assets/images/hack-nights/westside1.png" alt="westside" />
      </div>
      <div class="location-content">
        <h3 style="font-size: 28px; font-weight: 700" class="title3">Monday</h3>
        <div class="mini-projects">
          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/engage-logo.png" alt="Engage Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/engage">Engage</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/hellogov.jpg" alt="HelloGOV Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/hellogov">HelloGOV</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/lucky-parking.png" alt="Lucky Parking Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/lucky-parking">Lucky Parking</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/new-schools-today.jpg" alt="New School Today Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/new-schools-today">New Schools Today</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/not-today.png" alt="Not Today Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/not-today">Not Today</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/public-tree-map.png" alt="Public Tree Map Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/public-tree-map">Public Tree Map</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/vrms.png" alt="VRMS Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/vrms">VRMS</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/website.png" alt="Hack for LA Website Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/website">HackforLA Website</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/undebate.jpg" alt="Undebate Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/undebate">Undebate</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/expunge-assist.png" alt="" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/expunge-assist">Expunge Assist</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="getting-started-page-card-locations">
    <div class="locations-1">
      <div class="location-img-pos">
        <img class="location-image" src="../assets/images/hack-nights/DTLA.png" alt="Downtown LA" />
      </div>
      <div class="location-content">
        <h3 style="font-size: 28px; font-weight: 700" class="title3">Tuesday</h3>
        <div class="mini-projects">
          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/311.jpg" alt="311 Data Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/311-data">311 Data</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/civic-tech-index.png" alt="Civic Tech Index Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/civic-tech-index">Civic Tech Index</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/tdm-calculator.jpg" alt="LA TDM Calculator Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/tdm-calculator">LA TDM Calculator</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/vrms.png" alt="VRMS Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/vrms">VRMS</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/home-unite-us.png" alt="Home Unite Us Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/home-unite-us">Home Unite Us</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/website.png" alt="Hack for LA Website Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/website">HackforLA Website</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/writeforall.png" alt="Write for ALl Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/writeforall">Write for All</a>
            </div>
          </div>

          <div class="img-dis">
            <img id="mini-img" src="../assets/images/projects/food-oasis.jpg" alt="Food Oasis Project" />
            <div class="proj-desc">
              <a href="https://www.hackforla.org/projects/food-oasis">Food Oasis</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="getting-started-page-card-locations">
    <div class="locations-1">
      <div class="location-img-pos">
        <img class="location-image" src="../assets/images/hack-nights/southla.png" alt="South LA" />
      </div>
      <div class="location-content">
        <h3 style="font-size: 28px; font-weight: 700" class="title3">Wednesday</h3>
        <div class="mini-projects description">
          <p>
            Our South LA meetup was created by a community member on our
            leadership team.
          </p>
          <p>
            The mission of the South LA hacknight is to offer free technical
            education opportunities and facilitate user centered design and
            software development projects to improve civic life in the local
            area with local partners and stakeholders.
          </p>
          <p>
            This meetup is just getting started, there are no current
            projects.
          </p>
        </div>
      </div>
    </div>
  </div>
