/**
 * Colors
 */
$color-black: #333;
$color-blue: #046afa;
$color-blue-dark: #030d2d;
$color-red: #fa114f;
$color-teal: #32ddb1;
$color-white: #fff;

$color-grey-light: #f6f6f6;
$color-grey-med: #ccc;
$color-papayawhip: #ffefd5;
$color-royalblue: #4169e1;
