---
layout: default
title: Wins
permalink: /wins/

---

{%- include_relative wins-hero.html -%}
{% include_relative wins-overlay.html %}
<a class="anchor" id="projects"></a>
<section class="content-section projects">
	<div   class="wins-page-contain projects-inner" >

		{% include_relative wins-filter-template.html %}
		{% include_relative wins-card-template.html %}

		<ul id="responses" class="win-list unstyled-list"></ul>
	</div>
</section>


<script src="/assets/js/inert.min.js"></script>
<script src="/assets/js/wins.js" type="module"></script>
