<a class="anchor" id="about"></a>
<section class="content-section about">
  <div class="page-contain">
    <h2 class="title2">
      Want to know more about Hack for LA?
    </h2>
    <p>
      We bring together civic-minded volunteers to build digital products, programs and services with community partners and local 
      government to address issues in our LA region. Hack for LA is a project of <a href="https://www.codeforamerica.org" rel="noopener" target="_blank">Code for America</a> and is it's 
      official Los Angeles chapter. 
    </p>
  </div>
</section>

