<section id="about" class="content-section about">
  <div class="page-contain">
    <h2>
      Want to know more about Hack for LA?
    </h2>
    <p>
      Hack for LA is a project group of <a href="https://www.hacker.fund" target="_blank"> Hacker Fund</a> and the
      official Los Angeles chapter of <a href="https://www.codeforamerica.com" target="_blank">Code for America</a>. We
      bring together coders, designers, entrepreneurs, students, government staff, activists, and other civic-minded
      people to solve the LA region’s biggest challenges.
    </p>
    <div id="contact">
      <h3>Contact Us</h3>
      <p>
        Are you press and want to get in touch? Are you interested in becoming a sponsor? Want to just <a
          href="http://hackforla-slack.herokuapp.com/" target="_blank"> check us out on Slack</a>? Looking to volunteer?
      </p>

      {% include forms/contact-us.html %}
    </div>
  </div>
</section>
