{% assign visible_projects = site.projects | where: "program-area", "Citizen Engagement" | where: "visible", "true" %}
             {% for item in visible_projects %}
                   <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>

                            <!-- QUESTIONS HOW TO MAKE THIS REUSEABLE -->
                            <!-- src, alt -->
                        <img class="card-image" src="{{ item.card-image-src }}" alt="{{ item.card-image-alt }}"/>
                           <div class="mobile-card-info-container">
                               <div class="mobile-card-nav">
                                   <h3>{{ item.title }}</h3>
                                   <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
                               </div>
                               <div class="project-dropdown">
                                    <div class="problem-info">
                                        <h4>Problem</h4>
                                        <p>{{ item.problem }}</p>
                                    </div>
                                    <div class="solution-info">
                                        <h4>Solution</h4>
                                        <p>{{ item.solution }}</p>
                                    </div>
                                    <div class="impact-info">
                                        <h4>Impact</h4>
                                        <p>{{ item.impact }}</p>
                                    </div>
                               </div>
                           </div>
                       <div class="sustainable-dev-goal">
                           <h4>Sustainable Development Goal</h4>
                           <div class="card-bottom-info">
                            <!-- QUESTIONS HOW TO MAKE THIS REUSEABLE-->
                            <!-- alt -->
                               <img class="card-bottom-icon" src="{{ item.sdg-image-src }}" alt="{{ item.sdg-image-alt }}" />
                                       <p>{{ item.sdg }}</p>
                           </div>
                       </div>
                   </div>
            {% endfor %}




<!--
        <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
            <img class="card-image" src="/assets/images/projects/311.jpg" alt="311 project card"/>
            <div class="mobile-card-info-container">
                <div class="mobile-card-nav">
                    <h3>311 Data</h3>
                    <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
                </div>
                <div class="project-dropdown">
                        {% for item in site.projects %}
                            {% if item.title == "311 Data" %}
                            <div class="problem-info">
                                <h4>Problem</h4>
                                <p>{{ item.problem }}</p>
                            </div>
                            <div class="solution-info">
                                <h4>Solution</h4>
                                <p>{{ item.solution }}</p>
                            </div>
                            <div class="impact-info">
                                <h4>Impact</h4>
                                <p>{{ item.impact }}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
        <div class="sustainable-dev-goal">
            <h4>Sustainable Development Goal</h4>
            <div class="card-bottom-info">
                <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/peace-justice.svg" alt="peace justice bottom sustainable dev goal"/>
                {% for item in site.projects %}
                    {% if item.title == "311 Data" %}
                        <p>{{ item.sdg }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> -->




    <!-- <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
        <img class="card-image" src="/assets/images/projects/access-the-data.png" alt="access the data project card"/>
        <div class="mobile-card-info-container">
            <div class="mobile-card-nav">
                <h3>Access the Data</h3>
                <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
            </div>
            <div class="project-dropdown">
                {% for item in site.projects %}
                    {% if item.title == "Access The Data" %}
                    <div class="problem-info">
                        <h4>Problem</h4>
                        <p>{{ item.problem }}</p>
                    </div>
                    <div class="solution-info">
                        <h4>Solution</h4>
                        <p>{{ item.solution }}</p>
                    </div>
                    <div class="impact-info">
                        <h4>Impact</h4>
                        <p>{{ item.impact }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="sustainable-dev-goal">
            <h4>Sustainable Development Goal</h4>
            <div class="card-bottom-info">
                <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/peace-justice.svg" alt="peace justice bottom sustainable dev goal"/>
                {% for item in site.projects %}
                    {% if item.title == "Access The Data" %}
                        <p>{{ item.sdg }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> -->





    <!-- <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
        <img class="card-image" src="/assets/images/projects/engage.jpg" alt="engage project card" />
        <div class="mobile-card-info-container">
            <div class="mobile-card-nav">
                <h3>Engage</h3>
                <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
            </div>
            <div class="project-dropdown">
                {% for item in site.projects %}
                    {% if item.title == "Engage" %}
                    <div class="problem-info">
                        <h4>Problem</h4>
                        <p>{{ item.problem }}</p>
                    </div>
                    <div class="solution-info">
                        <h4>Solution</h4>
                        <p>{{ item.solution }}</p>
                    </div>
                    <div class="impact-info">
                        <h4>Impact</h4>
                        <p>{{ item.impact }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="sustainable-dev-goal">
            <h4>Sustainable Development Goal</h4>
            <div class="card-bottom-info">
                <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/peace-justice.svg" alt="peace justice bottom sustainable dev goal"/>
                {% for item in site.projects %}
                    {% if item.title == "Engage" %}
                        <p>{{ item.sdg }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> -->



    <!-- <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
        <img class="card-image" src="/assets/images/projects/open-community-survey.jpg" alt="open community project card"/>
        <div class="mobile-card-info-container">
            <div class="mobile-card-nav">
                <h3>Open Community Survey</h3>
                <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
            </div>
            <div class="project-dropdown">
                {% for item in site.projects %}
                    {% if item.title == "Open Community Survey" %}
                    <div class="problem-info">
                        <h4>Problem</h4>
                        <p>{{ item.problem }}</p>
                    </div>
                    <div class="solution-info">
                        <h4>Solution</h4>
                        <p>{{ item.solution }}</p>
                    </div>
                    <div class="impact-info">
                        <h4>Impact</h4>
                        <p>{{ item.impact }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="sustainable-dev-goal">
            <h4>Sustainable Development Goal</h4>
            <div class="card-bottom-info">
                <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/peace-justice.svg" alt="peace justice bottom sustainable dev goal"/>
                {% for item in site.projects %}
                    {% if item.title == "Open Community Survey" %}
                        <p>{{ item.sdg }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> -->



<!--
    <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
        <img class="card-image" src="/assets/images/projects/lucky-parking.png" alt="lucky parking project card"/>
        <div class="mobile-card-info-container">
            <div class="mobile-card-nav">
                <h3>Lucky Parking</h3>
                <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
            </div>
            <div class="project-dropdown">
                {% for item in site.projects %}
                    {% if item.title == "Lucky Parking" %}
                    <div class="problem-info">
                        <h4>Problem</h4>
                        <p>{{ item.problem }}</p>
                    </div>
                    <div class="solution-info">
                        <h4>Solution</h4>
                        <p>{{ item.solution }}</p>
                    </div>
                    <div class="impact-info">
                        <h4>Impact</h4>
                        <p>{{ item.impact }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="sustainable-dev-goal">
            <h4>Sustainable Development Goal</h4>
            <div class="card-bottom-info">
                <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/sustainable-cities.svg" alt="sustainable cities bottom sustainable dev goal"/>
                {% for item in site.projects %}
                    {% if item.title == "Lucky Parking" %}
                        <p>{{ item.sdg }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> -->




