<a class="anchor" id="projects"></a>
<section class="content-section projects">
  <div class="page-contain projects-inner">
    <h2 class="project-header">Current Projects</h2>
    <ul class="project-list unstyled-list">
      {% assign status_list = "Active, Rebooting, Completed, On Hold" | split: ", " %}
      {% for status in status_list %}
        {% assign projects = site.projects | where: "status", status | sort: "title" %}
        {%- for item in projects -%}
          {%- if item.hide != true -%}
            {%- include project-card.html project=item -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    </ul>
    <p class="project-pitch">
      Have an idea? <a href="mailto:team@hackforla.org" class="btn btn-primary">Submit your pitch</a>
    </p>
  </div>
</section>
