<a class="anchor" id="projects"></a>
<section class="content-section projects">
  <div class="page-contain projects-inner">
    <h2 class="project-header title2">Current Projects</h2>
    <p class="project-pitch">
      Have an idea?
      <a href="mailto:team@hackforla.org?subject=Submitting my pitch to Hack for LA" class="btn btn-primary btn-md-narrow"
        >Submit your pitch</a
      >
    </p>
  </div>
  <div class="page-contain filter-toolbar">
    <ul class="filter-list" id="filter-list"></ul>
    <div class="filter-tag-container"></div>
  </div>
  <div class="page-contain projects-inner" style="clear: left">
    <ul class="project-list unstyled-list"></ul>
  </div>
</section>

<script src="/assets/js/current-projects-check.js">

</script>