<div class="page-card card-primary page-card-lg page-card--donate">   
  <h3 class="title6 donate-title ">Provide In-Kind Software & Services</h3>
  <p>Your donation of software or services help Hack for LA continue to use cutting edge technology in support of our nonprofit mission.</p>
  <p>Putting your tools in the hands of Hack for LA volunteers creates a new generation of tech workers who bring experience with your product to their companies.</p>    
  <p>We provide visible credit on the credits page and can collaborate on joint press releases or social media posts if desired.</p>    
  <p> Reach out to us if you would like to offer <a href="mailto: donations@hackforla.org" target="_blank">in-kind software or services</a>.</p>  
</div>
<div class="page-card card-primary page-card-lg page-card--donate">  
  <h3 class="title6 donate-title">Make a donation to Hack for LA</h3>
    {% include donation/donate-gif-text.html %}
</div>