<div class="page-card card-primary page-card-lg page-card--donate">
  <h3 class="title6 donate-title ">Provide In-Kind Software & Services</h3>
    {% include donation/in-kind.html %}
</div>
<div class="page-card card-primary page-card-lg page-card--donate donation-grid">
  <div class="donation-body">
    <h3 class="title6 donate-title">Make a donation to Hack for LA</h3>
    <ol>
      <li>
        Please follow this link to the Code for America
        <a href="https://www.codeforamerica.org/donate" target="_blank" rel="noopener noreferrer">donation
          form</a>
      </li>
      <li>
        To make a donation please select <strong>Hack for LA</strong> under the brigades
        listed.
      </li>
    </ol>
  </div>
  <img
    class="donation-gif"
    src="/assets/images/about/hfla-donate.gif"
    alt=""
  />
  <p id='donation-footer'>*100% of proceeds go to Hack for LA when option is selected.</p>
</div>
