{% assign guide = include.guide %}

    <div
        data-project-Status="{{ guide.status }}"
        data-practice-Areas="{{ guide.practice-area }}"
        data-project-Tools="{{ guide.tools }}"
        data-project-Source="{{ guide.source }}"
        data-project-Contributors="{{ guide.contributors }}"
        class="toolkit-flex-item section-container">

        {%- if guide.svg -%}
        <div class="toolkit-flex-item-img-container">
            <img src={{ guide.svg | absolute_url }} alt="">
        </div>
        {%- endif -%}

        <div class="toolkit-info-container">
            {%- if guide.status == 'completed' -%}
                <h3><a href={{ item.resource-url-completed }}>{{ guide.title }}</a></h3>

            {%- else -%}
                <h3>{{ guide.title }}</h3>
            {%- endif -%}

            {%- if guide.description.size < 210 -%}
                <p>{{ guide.description }}</p>
            {%- else -%}
                <p>{{ guide.short-description}}</p>
            {%- endif -%}


        </div>
        {%- if guide.status == 'work-in-progress' -%}
            <span class="toolkit-flex-item-status">
                {%- if guide.resource-url-wip -%}
                    <a href={{ item.resource-url-wip }}>work in progress</a>
                {%- else -%}
                    work in progress
                {%- endif -%}
            </span>
        {%- endif -%}
    </div>
