{% assign guide = include.guide %}
    
    <div data-article-type={{ guide.practice-area | downcase | remove: ' ' }} class="toolkit-flex-item section-container">

        {%- if guide.svg -%}
        <div class="toolkit-flex-item-img-container">
            {% include {{ guide.svg }} %}
        </div>
        {%- endif -%}

        <div class="toolkit-info-container">
            {%- if guide.status == 'completed' -%}
                <h3><a href={{ item.resource-url }}>{{ guide.title }}</a></h3>
                
            {%- else -%}  
                <h3>{{ guide.title }}</h3>
            {%- endif -%}

            {%- if guide.description -%}
            <p>{{ guide.description }}</p>
            {%- endif -%}


        </div>
        {%- if guide.status == 'work-in-progress' -%}
            <span class="toolkit-flex-item-status">work in progress</span>
        {%- endif -%}  
    </div>
