<section id="hack-nights" class="content-section section-hack-nights">
    <div class="page-contain">
        <h2>Meetups - Every Monday &amp; Tuesday</h2>
        <p>We host weekly Meetups in Downtown Los Angeles and Santa Monica. At these events, we help groups of
            volunteers organize themselves into project teams to build technology addressing the LA region’s biggest civic issues. </p>
        <p>Come to a meetup to:</p>
            <ul>
                <li>Meet project team members and learn about projects from live human beings. (Project team members also coordinate their work on our <a href="https://www.hackforlat.org/slack">Slack</a> team &ndash; which is a great place to start if you're not able to get to the next meetup.)</li>
                <li>Learn! Hone a new skill on a real-world project, or attend one of our tech talks.</li>
                <li>Join an inclusive, diverse community who are driven to make LA better. Just like you!</li>
            </ul>
        <p>Everyone is welcome. Show up and we will find a way for you to be useful, no matter what skills you have.</p>
        <div class="locations">
            {%- assign hacknights = site.hack-nights | sort: 'ordinal' -%}
            {%- for item in hacknights -%}
            <div class="location">
                <div class="location-img" style="background-image: url({{ item.image | absolute_url }})"></div>
                <div class="location-details">
                    <strong>{{ item.title }}</strong> {{ item.event-date }}
                    <address>
                        <a href={{ item.map }} rel="noopener" target="_blank">
                            {{ item.address1 }}<br>{{ item.address2 }}, {{ item.city }}, {{ item.state }} {{ item.zip }}
                        </a>
                    </address>
                </div>
            </div>
            {%- endfor -%}
        </div>
        <p>
            <a href="https://www.meetup.com/hackforla/" rel="noopener" target="_blank" class="btn btn-primary">RSVP on Meetup</a>
            <a href="http://hackforla-slack.herokuapp.com/" rel="noopener" target="_blank" class="btn btn-primary">Join our Slack</a>
        </p>
    </div>
</section>
