{% assign project = include.project %}
<li class="project-card">
  <div class="project-card-inner">
    <a href='{{ project.url | replace: ".html", "" }}'>
      <div class="project-tmb">
        <img src="{{ project.image | absolute_url }}" class="project-tmb-img" alt={{project.alt}}/>
      </div>
    </a>
    <div class="project-body">
      <div class='status-indicator {{ "status-" | append: project.status }}'>
        <h5 class='status-text'>{{ project.status }}</h5>
      </div>
      <a href='{{ project.url | replace: ".html", "" }}'><h4 class="project-title">{{ project.title }}</h4></a>
      <p class="project-description">{{ project.description }}</p>

      {%- if project.links -%}
      <div class="project-links">
        <strong>Links: </strong>
        {%- for item in project.links -%}
          <a href={{ item.url }} rel="noopener" target='_blank'> {{ item.name }}</a>{%- if forloop.last == false -%},
        {%- endif -%}
        {%- endfor -%}
      </div>
      {%- endif -%}

      {%- if project.partner -%}
      <div class="project-partner">
        <strong>Partner: </strong>
        {{ project.partner }}
      </div>
      {%- endif -%}

      {%- if project.looking -%}
        <div class="project-needs">
          <strong>Looking for: </strong>
          {% for role in project.looking %}
            <p style='display:inline;'> {{ role }}</p>{% if forloop.last == false %},{% endif %}
          {% endfor %}
        </div>
      {%- endif -%}

      {%- if project.location -%}
      <div class="project-location">
        <strong>Location: </strong>
        {{ project.location }}
      </div>
      {%- endif -%}
    </div>
  </div>
</li>
