{% assign url = include.url %}
{% assign image = include.image %}
{% assign name = include.name %}

<a href='{{ url }}' target="_blank" class='resource-link'>
    <li class='resource-card'>
        <!--Where the images will be-->
        <div {% if image %} class='resource-img resource-img-provided' {% else %} class='resource-img' {% endif %}>
            {% if name == 'GitHub' or name == 'Slack' %}
                {% include {{ name | prepend: 'svg/icon-' | append: '-color.svg' | downcase }} %}
            {% elsif name == 'Getting Started' %}
                {% include svg/logo-hfla-small.svg %}
            {% elsif image %}
                <img src={{ page.image | absolute_url }} class='project-tmb-img project-start-guide-img' alt='{{ page.alt }}'/>
            {% else %}
                {% include svg/_ionicons_svg_ios-link.svg %}
            {% endif %}
        </div>

        <div class='resource-body'>
            <h4 class='resource-title'>
                {{ name }}
            </h4>
        </div>
    </li>
</a>