<!-- Modal Structure -->
<div class="search-tip-overlay" id="search-tip-modal">
  <div class="search-tip-modal-container">
    <div class="top-buffer"></div>
    <div class="project-card">
      <img class="overlay-close-icon" src="/assets/images/wins-page/x.svg" alt="Close">
      <div class="search-tip-card center-screen">
        <div class="search-tip-card-top">
          <div class="search-card-title project-card-inner">
            <span id="overlay-name" class="search-tip-card-name">Blank</span>
          </div>
        </div>
        <div class="search-tip-card-bottom">
          <div class="project-inner overlay-card-text">
            <p id="search-tip-overview">Blank</p>
            <p id="search-tip-and">Blank</p>
            <p id="search-tip-or">Blank</p>
            <p id="search-tip-not">Blank</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-buffer"></div>
  </div>
</div>