<!-- Modal Structure -->
<div class="search-tip-overlay" id="search-tip-modal">
  <div class="search-tip-modal-container">
    <div class="top-buffer"></div>
    <div class="search-tip-modal-card">
      <img class="overlay-close-icon" src="/assets/images/wins-page/x.svg" alt="Close">
      <div class="search-tip-card center-screen">
        <div class="search-tip-card-top">
          <div class="search-card-title project-card-inner">
            <span id="overlay-name" class="search-tip-card-name">Blank</span>
          </div>
        </div>
        <div class="search-tip-card-bottom">
          <div class="project-inner overlay-card-text">
            <table id="search-tip-table" class="search-tip-table">
              <thead>
                <tr>
                  <th>Boolean Operators</th>
                  <th>Meaning</th>
                  <th>Example</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="table-operator-1">Blank</td>
                  <td id="table-meaning-1">Blank</td>
                  <td id="table-example-1">Blank</td>
                </tr>
                <tr>
                  <td id="table-operator-2">Blank</td>
                  <td id="table-meaning-2">Blank</td>
                  <td id="table-example-2">Blank</td>
                </tr>
                <tr>
                  <td id="table-operator-3">Blank</td>
                  <td id="table-meaning-3">Blank</td>
                  <td id="table-example-3">Blank</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-buffer"></div>
  </div>
</div>