<div class="header-links">
  <ul class="inline-list header-list">
    {% for item in site.data.navigation.social %} {% if item.header %}
    <li>
      <a class="js-inline-link js-inline-link-{{ item.name | downcase }}" href="{{ item.link }}" aria-label="{{item.name}}" rel="noopener" target="_blank">
        {% if item.icon %} {%- include {{ item.icon }} -%} {% endif %} 
      </a>
      <div class="span sr-only">
        {{ item.name }}
      </div>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
