<section id="sponsors" class="content-section">
  <div class="section-inner page-contain">
    <div class="section-body-full">
      <h2 class="title2">Sponsors</h2>
      <div class="logo-garden">
        <ul class="unstyled-list">
          {% assign sponsors = site.data.internal.sponsors | sort: 'position' %}
          {% for item in sponsors %}
          <li>
            <div class="logo">
              <a href="{{ item.link }}" rel="noopener" target="_blank">
                <img src="{{ baseurl }}{{ item.img_url | absolute_url }}" alt="{{ item.name }}" />
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
