/**
 * Vendor
 */

// This is the original reset included when we used bourbon.sass
@import 'normalize.scss';

/**
 * General Settings and Utilities
 */
@import 'core/mixins';
@import 'variables/colors';
@import 'variables/layout';
@import 'variables/typography';
@import 'variables/utilities';

// /**
//  * Base global styles.
//  */
@import 'elements/base';

// /**
//  * Elements
//  */
@import 'elements/accordion';
@import 'elements/buttons';
@import 'elements/forms';
@import 'elements/icons';
@import 'elements/lists';
@import 'elements/loader';
@import 'elements/typography';
@import 'elements/containers';
@import 'elements/cards';
@import 'elements/color-styles';

// /**
//  * Components
//  */
@import 'components/404';
@import 'components/home';
@import 'components/about';
@import 'components/communities-of-practice';
@import 'components/footer';
@import 'components/events.scss';
@import 'components/header';
@import 'components/header-nav';
@import 'components/impact-stats';
@import 'components/project-filter';
@import 'components/social-links';
@import 'components/credit-items.scss';
@import 'components/project-meetings.scss';
@import 'components/guide-pages.scss';
@import 'components/getting-started-page';
@import 'components/dashboard';
@import 'components/guide-pages/2FA.scss';
@import 'components/toolkit.scss';
@import 'components/wins-page.scss';
@import 'components/wins-form.scss';
@import 'components/join-us.scss';
@import 'components/sitemap.scss';
@import 'components/program-areas.scss';
@import 'components/projects-page.scss';
@import 'components/donate.scss';
@import 'components/design-system.scss';
@import 'components/citizen_engagement.scss';
@import 'components/privacy-policy.scss';


//Guide Pages (Within Components)
@import 'components/guide-pages/github-issue-guide.scss';
@import 'components/guide-pages/survey-reporting-dashboard.scss';

// /**
//  * Layouts
//  */
@import 'layouts/main';
@import 'layouts/redirect';

// /**
//  * Utility
//  */
@import 'core/utility';
@import 'core/print';

// /**
//  * Prototype Project Page
//  */
@import 'components/project-page';
