/**
 * Colors
 */
$color-black: #333;
$color-blue: #046afa;
$color-blue-dark: #030d2d;
$color-red: #fa114f;
$color-teal: #32ddb1;
$color-white: #fff;

$color-grey-light: #f6f6f6;
$color-grey-med: #ccc;
$color-papayawhip: #ffefd5;
$color-royalblue: #4169e1;
$color-pink: #f7f5f5;

$color-dodgerblue: #1587FF;
$color-lightseagreen: #0DC583;  
$color-orange: #F9B400;
$color-chocolate: #F16618;
$color-firebrick: #D7261B;
$color-deeppink: #FA207C;
$color-mediumvioletred: #D11D69; 
$color-darkorchid: #981DD1;
$color-blueviolet: #571DD1;


