/**
 * Breakpoints
 */
$screen-desktop-large: 1632px;
$screen-desktop: 960px;
$screen-tablet: 768px;
$screen-mobile: 480px;

$bp-desktop-large-up: '(min-width: #{$screen-desktop-large})';
$bp-below-desktop-large: '(max-width: #{$screen-desktop-large - 1})';
$bp-desktop-up: '(min-width: #{$screen-desktop})';
$bp-below-desktop: '(max-width: #{$screen-desktop - 1})';
$bp-tablet-up: '(min-width: #{$screen-tablet})';
$bp-below-tablet: '(max-width: #{$screen-tablet - 1})';
$bp-mobile-up: '(min-width: #{$screen-mobile})';
$bp-below-mobile: '(max-width: #{$screen-mobile - 1})';

/**
 * Magic Numbers
 */
$max-content-width: 800px;
