/**
 * Breakpoints
 *
 * These are the most commonly used breakpoints for different device widths.
 */
$screen-desktop-large: 1632px;
$screen-desktop-medium: 1024px;
$screen-desktop: 960px;
$screen-tablet: 768px;
$screen-mobile: 480px;

/**
 * Breakpoint Start and End Declaration
 *
 * These are generally used for declaring media queries.
 * As an example, if a developer wants to make a media query for   
 * anything above a tablet, use the variable $bp-tablet-up. For  
 * anything below a tablet, use $bp-below-tablet.
 */
$bp-desktop-large-up: '(min-width: #{$screen-desktop-large})';
$bp-below-desktop-large: '(max-width: #{$screen-desktop-large - .02})';
$bp-desktop-medium-up: '(min-width: #{$screen-desktop-medium})';
$bp-below-desktop-medium: '(max-width: #{$screen-desktop-medium - .02})';
$bp-desktop-up: '(min-width: #{$screen-desktop})';
$bp-below-desktop: '(max-width: #{$screen-desktop - .02})';
$bp-tablet-up: '(min-width: #{$screen-tablet})';
$bp-below-tablet: '(max-width: #{$screen-tablet - .02})';
$bp-mobile-up: '(min-width: #{$screen-mobile})';
$bp-below-mobile: '(max-width: #{$screen-mobile - .02})';

/**
 * Magic Numbers
 *
 * This is a list of any reusable length values
 */
$max-content-width: 800px;
