/*
 * Typography
 */
$font-family-body: 'Roboto', sans-serif;
$font-family-decorative: 'Roboto', sans-serif;

$font-family: (
  body: $font-family-body,
  decorative: $font-family-decorative
);

$font-weight: (
  light: 300,
  normal: 400,
  semibold: 600,
  bold: 700
);

$rem-base: 16px;

// Typography scale inspired by:
// http://typecast.com/blog/a-more-modern-scale-for-web-typography
$font-size-small: (
  print: 10pt,
  mobile: 0.625rem,
  /* 10px*/ tablet: 0.875rem,
  /* 14px*/ desktop: 0.875rem /* 14px*/
);

$font-size-base: (
  print: 12pt,
  mobile: $rem-base,
  /* 16px*/ tablet: $rem-base,
  /* 16px*/ desktop: $rem-base /* 16px*/
);

$font-size-blockquote: (
  print: 24pt,
  mobile: 1.25rem,
  /* 20px*/ tablet: 1.5rem,
  /* 24px*/ desktop: 1.5rem /* 24px*/
);

$font-size-h4: (
  print: 14pt,
  mobile: 1.125rem,
  /* 18px*/ tablet: 1.125rem,
  /* 18px*/ desktop: 1.125rem /* 18px*/
);

$font-size-h3: (
  print: 18pt,
  mobile: 1.375rem,
  /* 22px*/ tablet: 1.5rem,
  /* 24px*/ desktop: 1.75rem /* 28px*/
);

$font-size-h2: (
  print: 24pt,
  mobile: 1.625rem,
  /* 26px*/ tablet: 2rem,
  /* 32px*/ desktop: 2.25rem /* 36px*/
);

$font-size-h1: (
  print: 36pt,
  mobile: 2rem,
  /* 32px*/ tablet: 2.5rem,
  /* 40px*/ desktop: 3rem /* 48px*/
);

$font-size-title1: (
  print: 36pt,
  /* 32px*/ mobile: 2rem,
  /* 40px*/ tablet: 2.5rem,
  /* 48px*/ desktop: 3rem
);

$font-size-title2: (
  print: 27pt,
  /* 28px*/ mobile: 1.75rem,
  /* 32px*/ tablet: 2rem,
  /* 36px*/ desktop: 2.25rem
);

$font-size-title3: (
  print: 21pt,
  /* 24px*/ mobile: 1.5rem,
  /* 24px*/ tablet: 1.5rem,
  /* 28px*/ desktop: 1.75rem
);

$font-size-title4: (
  print: 18pt,
  /* 20px*/ mobile: 1.25rem,
  /* 20px*/ tablet: 1.25rem,
  /* 24px*/ desktop: 1.5rem
);

$font-size-title5: (
  print: 15pt,
  /* 18px*/ mobile: 1.125rem,
  /* 18px*/ tablet: 1.125rem,
  /* 20px*/ desktop: 1.25rem
);

$font-size-title6: (
  print: 12pt,
  /* 18px*/ mobile: 1.125rem,
  /* 18px*/ tablet: 1.125rem,
  /* 18px*/ desktop: 1.125rem
);

$font-size-title7: (
  print: 9pt,
  /* 16px*/ mobile: 1rem,
  /* 16px*/ tablet: 1rem,
  /* 16px*/ desktop: 1rem
);

$font-size-paragraph1: 1.25rem; /* Equivalent to 20px if base font-size is 16px */

$font-size-paragraph2: 1.125rem; /* Equivalent to 18px if base font-size is 16px */

$font-size-paragraph3: 1rem; /* Equivalent to 16px if base font-size is 16px */

$line-height-small: (
  print: 1.25,
  mobile: 1.25,
  tablet: 1.375,
  desktop: 1.375
);

$line-height-base: (
  print: 1.25,
  mobile: 1.25,
  tablet: 1.375,
  desktop: 1.375
);

$line-height-blockquote: (
  print: 1.25,
  mobile: 1.25,
  tablet: 1.458,
  desktop: 1.458
);

$line-height-h4: (
  print: 1.25,
  mobile: 1.111,
  tablet: 1.222,
  desktop: 1.222
);

$line-height-h3: (
  print: 1.25,
  mobile: 1.136,
  tablet: 1.25,
  desktop: 1.25
);

$line-height-h2: (
  print: 1.25,
  mobile: 1.154,
  tablet: 1.25,
  desktop: 1.25
);

$line-height-h1: (
  print: 1.25,
  mobile: 1.25,
  tablet: 1.125,
  desktop: 1.05
);

$line-height-paragraph-class: 1.375; /* Equivalent to 137% */
