<header class="hero">

  <div class="hero--header">
      <h1 class="title1">At Hack for LA, we’re using technology to build a more equitable future.</h1>
      <a href='./join'><button class='btn btn-primary btn-sm btn--hero'>Join Us</button></a>
  </div>

  <div class="hero--embrace">
      <h2 class="title2">We embrace new approaches and provide opportunities for growth without gatekeeping.</h2>
      <p>Through our non-profit, open-source civic tech projects we support communities, transform government through educational and software development partnerships, and are evolving a new workforce development development model to fill the gaps between education and employment. 

        <!-- Link below to remain inactive until About page is completed and live -->
        <!-- <a href="/about">Learn more</a></p> -->
        
  </div>

</header>