<header class="hero">

  <div class="hero--header">
      <h1 class="title1">At Hack for LA, we’re using technology to build a more equitable future.</h1>
  </div>

  <div class="hero--embrace">
      <h2 class="title2">We embrace new approaches and provide opportunities for growth without gatekeeping.</h2>
      <p>Through our non-profit, open-source civic tech projects we support communities, transform government through educational and software partnerships, and are evolving a new workforce development model to fill the gaps between education and employment. <a href="/about">Learn more</a></p>
  </div>

</header>