<section class="home--technologies home--section">

    <h2 class="title2">Explore our projects by <a href="./projects">Technology</a></h2>

    <div class="technology-metrics-container">
        <ul class="unstyled-list">
            <li class="metric">
                <p class="metric-number">30+</p>
                <p>Projects</p>
            </li>
            <hr>
            <li class="metric">
                <!-- This number is static for now -->
                <p class="metric-number">39</p>
                <p>Technologies</p>
            </li>
            <hr>
            <li class="metric">
                <div class="metric-number">
                    <img src="assets/images/hero/infinite.svg">
                </div>
                <p>Potential<span class="desktop-up-only"> to hone your skills</span></p>
            </li>
        </ul>
    </div>

</section> 