<section class="home--join home--section">

    <div class="join-heading">
        <h2 class="title2">Ready to <a href="./join.html">join us</a><span style="color: #fa114f">?</span></h2>
    </div>

    <div class="join-text">
        <p class="join-text--main">
            <span>Are you a developer, designer, writer, researcher, product manager, or in dev-ops, marketing, or non-profit development?</span>
            <span class="join-text--desktop-only">Join the Hack for LA community and make an impact!</span>
        </p>

        <p class="join-text--sub">All of our teams and meetings are remote. Everyone regardless of age, experience, or skill level is welcome!</p>
    </div>

    <div class="join-button">
        <a href='./join'><button class='btn btn-primary btn-md btn--home-join'>Join Us</button></a>
    </div>

</section>