<section class="home--wins home--section">
    {% include elements/wins-card-overlay.html %}
    
    <div class="wins-heading">
        <h2 class="title2">Celebrating our volunteers’ <a href="./wins/">wins</a></h2>
        <p>Our volunteers work on diverse interdisciplinary teams on impactful projects, overcome imposter syndrome, build their networks, find jobs, get promotions, change fields,  get and receive coaching, build civic tech infrastruture that creates a better future for all, and have fun doing it.</p>
    </div>

    {% include elements/wins-card.html %}
</section>