<section class="home--program-areas home--section">
    
    <div class="program-areas--header">
        <h2 class="title2">Explore our projects by <a href="./program-areas.html">Program Area</a></h2>
    </div>

    <ul class="program-areas--cards">
    {% assign sorted_program_areas = site.data.internal.program-areas | sort %}
    {% for program_area in sorted_program_areas %}
        <li class="program-area-card">
            <a href="/program-areas/#{{ program_area[0] }}">
                <div class="program-area-img">
                    <img class="program-area-gradient" src="{{program_area[1].image}}" alt="{{program_area[1].image_alt}}"/>
                </div>
                <p>{{ program_area[1].name }}</p>
            </a>
        </li>
    {% endfor %}
    </ul>

</section>