.cal-title {
  color: $color-red;
}

.cal-container {
  background-color: $color-white;
  border-radius: 16px;
  padding: 5px;

  @media #{$bp-mobile-up} {
    padding: 10px;
  }
}

.cal {
  margin: 0 auto;
  max-height: 500px;
  overflow-y: auto;
  padding: 5px;
  width: 100%;

  @media #{$bp-mobile-up} {
    padding: 10px;
  }
}
.cal-item {
  background: $color-white;
  border-top: 1px solid $color-grey-med;
  color: $color-black;
  margin: 0;
  padding: 10px;

  &:first-child {
    border-top: 0;
  }

  @media #{$bp-mobile-up} {
    padding: 20px;
  }

  &--title {
    color: $color-red;
    font-size: #{map-get($font-size-h4, mobile)};

    @media #{$bp-tablet-up} {
      font-size: #{map-get($font-size-h3, print)};
    }
  }

  &--description {
    margin: 5px 0;
  }

  &--details {
    font-size: #{map-get($font-size-base, print)};
    font-weight: #{map-get($font-weight, light)};
    font-style: normal;
  }
}

button {
  background: $color-white;
  border: 2px solid $color-red;
  color: $color-red;
  cursor: pointer;
  font-size: #{map-get($font-size-small, print)};
  margin: 5px 0;

  &:hover {
    background: $color-red;
    color: $color-white;
  }
}
