<div class='home-getting-started-container content-section section-hack-nights wins-hero'>
    <img src="/assets/images/wins-page/wins-trophy.png" alt="image of a person being celebrated and holding a trophy">
    <div>
    <h1 class="title1">Let's celebrate together!</h1>
    <a href='https://docs.google.com/forms/d/e/1FAIpQLSeTiFjtxKbYgrJHAdFUovXlE55BdwwUQ9NePOXRY2q-h-w1tg/viewform' target='_blank' class='btn btn-primary btn-xl btn--wins btn--default' title='Hack for LA Wins Form'>Share your wins</a>
    <!-- <a href='/share-your-wins'><button class='btn btn-primary btn-xl btn--wins'>Share your wins</button></a> -->

    
    </div>
</div>

