<ul class="old-filter-list wins-filter" id="filter-list">
  <li class="old-filter-item">
    <a>Role<span class="old-labelArrow"> ∟ </span></a>
    <ul class="old-dropdown" id="role-dropdown"></ul>
  </li>
  <li class="old-filter-item">
    <a>Team<span class="old-labelArrow"> ∟ </span></a>
    <ul class="old-dropdown" id="team-dropdown"></ul>
  </li>
</ul>
<template id="wins-filter-template-repeat">
  <li>
    <div>
      <input type="checkbox" id="" name="" value="" class="old-filter-checkbox" />
      <label for=""></label>
    </div>
  </li>
</template>
