<template id="wins-card-template">
  <li class="project-card wins-card">
    <div class="wins-card-top">
      <img class="wins-card-profile-img" />
      <div class="project-inner wins-card-top-right">
        <div class="wins-card-title project-card-inner">
          <span class="wins-card-name"> </span>
          <span class="wins-card-icons">
            <a target="_blank" class="wins-card-linkedin-icon"><img class="linkedin-icon" /></a>
            <a target="_blank" class="wins-card-github-icon"><img class="github-icon" /></a>
          </span>
        </div>
        <div class="project-inner wins-card-team"></div>
        <div class="project-inner wins-card-role"></div>
      </div>
    </div>
    <div class="wins-card-bottom">
      <img class="wins-card-big-quote" />
      <div class="wins-card-info-container">
        <div class="project-inner wins-card-text">
          <p class="wins-card-overview"></p>
          <div class="wins-see-more-div">
            <span id="0" expandable tabindex="0" class="see-more-div" aria-label="see more">See More</span>
          </div>
          <!-- <div class="wins-icon-container" id="icons-0"></div> -->
        </div>
        <div class="wins-icon-container" id="icons-0"></div>
      </div>
    </div>
  </li>
</template>