{% assign data = include.data %}
<div class="project-card wins-card" style="display: flex;">
  <div class="wins-card-top">
    <img class="wins-card-profile-img" src="
    {% if data.github_permission == 'Yes' %}
    {{ data.github_url }}.png
    {% else %}
    /assets/images/wins-page/avatar-default.svg
    {% endif %}
    " id="ghImg-0">
    <div class="project-inner wins-card-top-right">
      <div class="wins-card-title project-card-inner">
        <span class="wins-card-name">{{ data.name }}</span>
        <span class="wins-card-icons">
          <a target="_blank" class="wins-card-linkedin-icon" href="{{ data.linkedin_url }}"><img class="linkedin-icon"
              src="/assets/images/wins-page/icon-linkedin-small.svg"></a>
          <a target="_blank" class="wins-card-github-icon" href="{{ data.github_url }}"><img class="github-icon"
              src="/assets/images/wins-page/icon-github-small.svg"></a>
        </span>
      </div>
      <div class="project-inner wins-card-team">Team(s): {{ data.team }}</div>
      <div class="project-inner wins-card-role">Role(s): {{ data.role }}</div>
    </div>
  </div>
  <div class="wins-card-bottom">
    <img class="wins-card-big-quote" src="/assets/images/wins-page/quote-icon.svg">
    <div class="project-inner wins-card-text">
      <p class="wins-card-overview">{{ data.overview }}</p>
      <div class="project-inner wins-see-more-div">
        <span id="0" role="button" onclick="seeMore(id)" onkeypress="seeMore(id)" class="see-more-div"
          tabindex="0">...see more</span>
      </div>
    </div>
  </div>
</div>