<div class="overlay">
    <div id="overlay-project-card" class="modal-container">
        <div class="top-buffer"></div>
        <div class="project-card">
        <img class="overlay-close-icon" src="/assets/images/wins-page/x.svg">
        <div class="wins-card center-screen">
            <div class="wins-card-top">
            <img class="wins-card-profile-img" id="overlay-profile-img" src="/assets/images/wins-page/avatar-default.svg">
            <div class="wins-card-top-right">
                <div class="wins-card-title project-card-inner">
                <span id="overlay-name" class="wins-card-name">Blank</span>
                <span id="overlay-icons" class="wins-card-icons"></span>
                </div>
                <div id="overlay-teams" class="project-inner wins-card-team">Team(s): Blank</div>
                <div id="overlay-roles" class="project-inner wins-card-team">Role(s): Blank</div>
            </div>
            </div>
            <div class="wins-card-bottom">
            <img class="wins-card-big-quote" src="/assets/images/wins-page/quote-icon.svg">
            <div class="project-inner overlay-card-text">
                <p id="overlay-overview">Blank</p>
                <div id="overlay-info" class="wins-card-info"></div>
            </div>
            </div>
        </div>
        </div>
        <div class="bottom-buffer"></div>
    </div>
</div>