/**
 * This combination of styles pushes the footer to the bottom of the page even
 * when the content is short.
 */

 #app {
   position: relative;
   min-height: 100vh;
 }

 #content {
  padding-bottom: 160px;

  @media #{$bp-below-mobile} {
    padding-bottom: 200px;
  }
 }

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  .main-content {
    flex-grow: 1;
  }
}

.page-contain {
  margin: 0 auto;
  max-width: $max-content-width;
}

.content-section {
  padding: 32px 16px;
}

// This is to provide padding for readability to the content in the default-markdown.html layout
#content-markdown {
  padding: 200px 100px 300px 100px;
}