<div class="donate-components-items">
    <div class="circle-full-container">
        <div class="circle-with-text crc-lg">
            <div class="circle">
                <p id="circle-override-p-padding" class="inside-circle-text">Hosting</p>
                <p id="circle-override-p-padding" class="inside-circle-text">Mailing List Services</p>
                <p id="circle-override-p-padding" class="inside-circle-text">Zoom</p>
                <p id="circle-override-p-padding" class="inside-circle-text">Meetup</p>
            </div>
        </div>
        <p class="circle-title">
            Monthly
        </p>
    </div>
    <div class="circle-lower-container">
        <div class="circle-full-container">
            <div class="circle-with-text crc-md">
                <div class="circle">
                    <p id="circle-override-p-padding" class="inside-circle-text">Domain Names</p>
                    <p id="circle-override-p-padding" class="inside-circle-text">Insurance</p>
                </div>
            </div>
            <p class="circle-title">
                Annual
            </p>
        </div>
        <div class="circle-full-container">
            <div class="circle-with-text crc-sm">
                <div class="circle">
                    <p id="circle-override-p-padding" class="inside-circle-text">Stickers</p>
                    <p id="circle-override-p-padding" class="inside-circle-text">T-Shirts</p>
                </div>
            </div>
            <p class="circle-title">
                Occasional
            </p>
        </div>
    </div>
</div>