<div class="donation-grid">
  <div class="donation-body">
    <p>Hack for LA takes donations through Code for America.</p>  
    <ol>
      <li>
        Please follow this link to the Code for America
        <a href="https://www.codeforamerica.org/donate" target="_blank" rel="noopener noreferrer">donation form.</a>
      </li>
      <li>
        To make a donation please select <strong>Hack for LA</strong> under the brigades
        listed.
      </li>
    </ol>            
  </div>
  <img class="donation-gif" src="/assets/images/about/hfla-donate.gif" alt="">
  <p class="donation-footer" id='donation-footer'>*100% of donated proceeds go directly to Hack for LA when option is selected.</p>
</div>
