<div class="donation-grid">
  <div class="donation-body">
    <p>Hack for LA takes donations through Civic Tech Structure.</p>
    <ol>
      <li>
        Please follow this link to the Civic Tech Structure Stripe
        <a href="https://donate.stripe.com/bIY9Cpcg8dihfIc5kl" target="_blank" rel="noopener noreferrer">donation form.</a>
      </li>
    </ol>
  </div>
  <a href="https://donate.stripe.com/bIY9Cpcg8dihfIc5kl" target="_blank" rel="noopener noreferrer"><img class="donation-png" src="/assets/images/about/donate-form.png" alt=""/></a>
  <p class="donation-footer" id="donation-footer"> *100% of donated proceeds are tax deductible. </p>
</div>
