---
layout: default
title: About
permalink: /about/
---

    <div class="header-container header-container--about-us">
        <div class="about-header-text-margin">
            <h1>About Us</h1>
            <p class="header-text--about-us">We bring together civic-minded volunteers to build digital products,
                programs and services with community partners and local government to address issues in our LA region.
            </p>
            <p class="header-text--about-us">
                Hack for LA is a project of <a href="https://www.codeforamerica.org/" target="_blank">Code for America</a> and its official Los Angeles chapter.
            </p>
        </div>
        <div><img src="/assets/images/about/about-us-header.svg" alt="" /></div>
    </div>
<div class="bg-color">
    <div class="page-content-container-grid">
        <div class="sticky-nav-content-container">   
            <a class="anchor" id='letter'></a>
            <div class='page-card--about page-card--ed'>
                <div class="about-us-section-header--ED"><span class="sec-head-img-ed">
                    <img src="/assets/images/about/section-header-elements/letter.svg" alt="" /></span><span id="letterBR">Letter from the Executive Director</span>
                </div>
                <div>
                    {% for item in site.data.internal.about %}
                       <p> {{item.executive_letter | markdownify}} </p> 
                    {% endfor %}                
                </div>

            </div>

            <a class="anchor" id='platform'></a>
            <div class='page-card--about page-card--platform'>
                <div class="about-us-section-header"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/platform.svg" alt=""></span>Hack for LA Platform</div>
                <div class="about-us-section-content">
                    <div class="sub-card">
                        <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/workforce-development.svg" alt=""></span><span class="sub-head-text color-dodgerblue">Workforce Development</div>
                        <p class="sub-card-content border-dodgerblue">
                            Enlightened self-interest is a powerful motivator. Our members have access to mentorship, 
                            one-on-one help with job searches, and resume coaching. We do project matching to fit skill 
                            and subject areas in which they wish to develop new skills, gain confidence in newly learned 
                            skills, and transition from beginner to junior, mid-level, or expert - often in areas they 
                            wish to add impressive credits to their resume.
                        </p>
                        <div class="platform-mid-section">
                            <div class="platform-sec-impact">
                                <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/impact.svg" alt=""></span><span class="sub-head-text color-lightseagreen">Impact</div>
                                <p class="sub-card-content border-lightseagreen">
                                    We choose and empower projects where there is a demonstrable impact on stakeholders, project partners, 
                                    our local community, and our members. We don’t seek to be the experts, but instead to learn from them 
                                    and apply the leverage that technology offers to help improve pace and outcomes from their already 
                                    valuable work. High profile project partners carry weight when our members are looking for work.
                                </p>
                            </div>
                            <div class="platform-sec-learning">
                                <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/learning.svg" alt=""></span><span class="sub-head-text color-orange">Learning</div>
                                <p class="sub-card-content border-orange">
                                    An environment where every member and the org itself benefit from the shared experiences of the members. 
                                    From high school students to Ph.D., from novice to expert, there is knowledge to be gained by sharing 
                                    practices and working collaboratively, making mistakes and learning from them in an environment that 
                                    values failing fast and learning.
                                </p>
                            </div>
                            <div class="platform-sec-diversity">
                                <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/diversity.svg" alt=""></span><span class="sub-head-text color-chocolate">Diversity, Equity, and Inclusion</div>
                                <p class="sub-card-content border-chocolate">
                                    The diverse experiences of all of our members help us create a better civic tech ecosystem, by bringing 
                                    their lived experience to our org. Our diversity includes race, sexual orientation, learning modalities, 
                                    cognitive abilities, and socio-economic experiences. Our model of inclusion requires and inspires 
                                    empathy and patience, both with others and ourselves. We are all here to learn to work together to 
                                    create the change we want to see in the world, and that happens one conversation at a time.
                                </p>
                            </div>
                            <div class="platform-sec-giving">
                                <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/giving.svg" alt=""></span><span class="sub-head-text color-firebrick">Giving</div>
                                <p class="sub-card-content border-firebrick">
                                    We all come together to give freely of our time, expertise, interest and empathy, in an effort to improve 
                                    our local community through direct action.
                                </p>
                            </div>
                            <div class="platform-sec-agility">
                                <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/agility.svg" alt=""></span><span class="sub-head-text color-deeppink">Agility</div>
                                <p class="sub-card-content border-deeppink">
                                    There will be impediments, setbacks and disappointments. We embrace change by empowering our members to 
                                    meet, talk, experiment and achieve enough common consensus to move internal initiatives forward, without 
                                    rigid structures and oppressive processes. This works on project teams, Communities of Practice and 
                                    Organizational Stewardship.
                                </p>
                            </div>
                            <div class="platform-sec-scalability">
                                <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/scalability.svg" alt=""></span><span class="sub-head-text color-mediumvioletred">Scalability</div>
                                <p class="sub-card-content border-mediumvioletred">
                                    In order to scale our impact with people and projects, we experiment, iterate and refine, measure and 
                                    automate.  Using the lowest lift tools possible for the job, and building our own, when scale cannot be 
                                    achieved with manual labor or open source tools.
                                </p>
                            </div>
                            <div class="platform-sec-sustainability">
                                <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/sustainability.svg" alt=""></span><span class="sub-head-text color-darkorchid">Sustainability</div>
                                <p class="sub-card-content border-darkorchid">
                                    To create a sustainable community that provides consistent results and experience for stakeholders and a 
                                    feeling of stability amongst its members.
                                </p>
                            </div>
                        </div>
                        <p class="bold-quote">And last but definitley not least, a true open door policy....</p>
                        <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/inclusivity.svg" alt=""></span><span class="sub-head-text color-blueviolet">Radical Inclusivity</div>
                        <p class="sub-card-content border-blueviolet">
                            When organizations filter you out before you get in the door, they perpetuate the bias already inherent 
                            in our society.  Radical Inclusivity at Hack for LA means that if you can contribute to our impact goals 
                            and peer learning environment, you are welcome here.
                        </p>
                    </div>
                </div>
            </div>

            <a class="anchor" id='sustainability'></a>
            <div class='page-card--about'>
                <div class="about-us-section-header"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/sustainability.svg" alt="" /></span>
                    <span class="sdg-title-mobile">HfLA Supports SDGs</span><span class="sdg-title-full">Hack for LA Supports:<br />LA’s Sustainable Development Goals (SDG) Movement</span></div>
                <div class="about-us-section-content">
                    <div class="flex-container-reverse">
                        <!--This is the top and then right cell-->
                        <div class="sdg-right-column">
                            <p class="top-paragraph">
                                The SDGs were drafted and adopted at the UN General Assembly in 2015. The SDGs aim to address social inequality, economic growth, 
                                environmental preservation, among other global development challenges. In 2015, the United Nations established the 2030 Global 
                                Agenda for Sustainable Development consisting of 17 Sustainable Development Goals (SDGs).
                            </p>
                            <p class="text-bold text-bold--sdg">Select Hack for LA projects working to achieve these goals:</p>
                            <div class="sdg-groups">
                                <div class="sdg-column sdg-left color-goldenrod-2">2.1</div><div class="sdg-column sdg-right">FOLA</div>
                            </div>
                            <div class="sdg-groups">
                                <div class="sdg-column sdg-left color-orangered">5.5</div><div class="sdg-column sdg-right">Women Leadership Development</div>
                                <div class="sdg-column sdg-left color-orangered">5.b</div><div class="sdg-column sdg-right">Empowering women through the use of technology</div>
                                <div class="sdg-column sdg-left color-orangered">5.d</div><div class="sdg-column sdg-right">End discrimination against LBGTQI+</div>
                            </div>
                            <div class="sdg-groups">
                                <div class="sdg-column sdg-left color-brown">8.2</div><div class="sdg-column sdg-right">Software Engineering Apprenticing and Fellowships</div>
                                <div class="sdg-column sdg-left color-brown">8.6</div><div class="sdg-column sdg-right">Virtual Workshop Wednedsays</div>
                                <div class="sdg-column sdg-left color-brown">8.b</div><div class="sdg-column sdg-right">Youth internships and mentorship program</div>
                            </div>
                            <div class="sdg-groups">
                                <div class="sdg-column sdg-left color-goldenrod-11">11.2</div><div class="sdg-column sdg-right">TDM calculator</div>
                            </div>
                            <div class="sdg-groups">
                                <div class="sdg-column sdg-left color-darkolivegreen">13.3</div><div class="sdg-column sdg-right">Climate Collabathon</div>
                            </div>
                            <div class="sdg-groups">
                                <div class="sdg-column sdg-left color-teal">16.3</div><div class="sdg-column sdg-right">Racial Justice and Record Clearance</div>
                                <div class="sdg-column sdg-left color-teal">16.7</div><div class="sdg-column sdg-right">Undebate and Engage</div>
                                <div class="sdg-column sdg-left color-teal">16.8</div><div class="sdg-column sdg-right">311-data.org</div>
                            </div>
                            <div class="sdg-groups">
                                <div class="sdg-column sdg-left color-midnightblue">17.6</div><div class="sdg-column sdg-right">Open Source Software Code for All and Civic Tech Index</div>
                                <div class="sdg-column sdg-left color-midnightblue">17.11</div><div class="sdg-column sdg-right">Structured Context Data Project</div>
                                <div class="sdg-column sdg-left color-midnightblue">17.17</div><div class="sdg-column sdg-right">Collabathon chrome extension</div>
                            </div>
                        </div>
                        <!-- This is the bottom and then left cell-->
                        <div class="sdg-left-column">
                            <div class="grid-2-column">
                                <img src="/assets/images/about/sdg-elements/zero-hunger.svg" alt="Zero Hunger goal logo" />
                                <img src="/assets/images/about/sdg-elements/gender-equality.svg" alt="Gender Equality goal logo" />
                                <img src="/assets/images/about/sdg-elements/decent-work.svg" alt="Decent Work and Economic Growth goal logo" />
                                <img src="/assets/images/about/sdg-elements/sustainable-cities.svg" alt="Sustainable Cities and Communities goal logo" />
                                <img src="/assets/images/about/sdg-elements/climate-action.svg" alt="Climate Action goal logo" />
                                <img src="/assets/images/about/sdg-elements/peace-justice.svg" alt="Peace, Justice and Strong Intuitions goal logo" />
                                <img src="/assets/images/about/sdg-elements/partnerships.svg" alt="Partnerships for the goals goal logo" />
                                <div class="grid-center"><img src="/assets/images/about/sdg-elements/sdg-la.svg" alt="Los Angeles Sustainable Development wheel logo" /><br />
                                    <a href="https://sdg.lamayor.org"><span class="small-text">https://sdg.lamayor.org</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="anchor" id='accomplishments'></a>
            <div class='page-card--about'>
                <div class="about-us-section-header"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/accomplishments.svg" alt="" /></span>Accomplishments</div>
                <div class="about-us-section-content">
                    <div class="flex-container">
                        <!--This is the top and then right cell-->
                        <div class="top-left-column top-left-column--acc">
                            <p class="text-bold accomplishment-highlights">Highlights from 2020</p>
 
                            {% for item in site.data.internal.about %}
                                {% for accomplishment in item.accomplishments.left_col_accomplishments%}
                                    <div class="accomplishment-title"><a href="https://www.hackforla.org/projects/food-oasis" target="_blank" rel="noopener noreferrer"> {{accomplishment.title}} </a></div>
                                    <div> {{ accomplishment.description }} </div>                                    
                                {% endfor %}
                            {% endfor %} 
                        </div> 

                        <div class="bottom-right-column bottom-right-column--acc">
                            {% for item in site.data.internal.about %}
                            {% for accomplishment in item.accomplishments.right_col_accomplishments%}
                                <div class="accomplishment-title"><a href="https://www.hackforla.org/projects/food-oasis" target="_blank" rel="noopener noreferrer"> {{accomplishment.title}} </a></div>
                                <div> {{ accomplishment.description }} </div>                                    
                            {% endfor %}
                        {% endfor %} 

                        </div>
                    </div>
                    <div class="flex-container flex-container--wins">
                        <!--This is the top and then right cell-->
                        <div class="top-left-column wins-column-width-left">
                            <div class="accomplishment-wins"><img src="/assets/images/about/wins-cup.svg">Wins</div>
                            <div>Check out what our team members have said about their experiences.</div>
                            <p class="eliptical align-left coming-soon">Coming soon....</p>
                        </div>
                        <div class="bottom-right-column wins-column-width-right">
                            <div class="wins-card-mobile"><a href="https://hackforla.org/wins" target="_blank" rel="noopener noreferrer"><img src="/assets/images/about/wins-card-mobile.svg" alt="The wins card displays the contributer's name, their teams and roles, and testimonials of their accomplishments." /></div>
                            <div class="wins-card-desktop"><a href="https://hackforla.org/wins" target="_blank" rel="noopener noreferrer"><img src="/assets/images/about/wins-card-desktop.svg" alt="The wins card displays the contributer's name, their teams and roles, and testimonials of their accomplishments." /></a></div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="anchor" id='metrics'></a>
            <div class='page-card--about'>
                <div class="about-us-section-header"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/metrics.svg" alt="" /></span>Metrics</div>
                <div class="about-us-section-content">
                    <div class="top-paragraph">
                        <p>
                            Hack for LA is taking an iterative approach to Metrics gathering. Using readily available tools now, and building 
                            custom tools to model, grow, and serve our sector specific community.
                        </p>
                        <p>
                            We currently use Google surveys extensively and make the responses available publicly.  
                        </p>
                    </div>
                    <div class="flex-container">
                        <!--This is the top and then right cell-->
                        <div class="top-left-column">
                            <div class="small-card">
                                <div class="flex-container-row">
                                    <img class="metrics-image-size" src="/assets/images/about/metrics-pie-chart.png" alt="Piechart of Metrics Breakdown" /><div class="metrics-title">Metrics</div>
                                </div>
                                <p>Check out our <a href="https://hackforla.org/dashboard" target="_blank" rel="noopener noreferrer">Survey Results</a></p>
                            </div>
                        </div>
                        <div class="bottom-right-column">
                            <div class="small-card">
                                <div class="metrics-vrms-title"><img src="/assets/images/about/vrms-logo.svg" alt="VRMS logo" /></div>
                                <div class="metrics-vrms-links"><a href="https://vrms.io" target="_blank" rel="noopener noreferrer">See App</a> <a href="https://hackforla.org/projects/vrms" target="_blank" rel="noopener noreferrer">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>
                            VRMS is a browser-based software tool created by Hack for LA (HfLA) to curate participant journeys and further the organization’s 
                            goals of workforce development and project impact. 
                        </p>
                        <p>
                            By collecting and using relevant data VRMS will be able to automate repetitive tasks; match volunteers with projects, 
                            relevant training, and job opportunities; measure engagement with projects and activities; and surface insights to 
                            improve organizational effectiveness and the volunteer experience over time.  
                        </p>
                    </div>
                </div>
            </div> 

            <a class="anchor" id='partners'></a>
            <div class='page-card--about'>
                <div class="about-us-section-header"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/partners.svg" alt="" /></span>Partners</div>
                <div class="about-us-section-content">
                    <div class="flex-container-row flex-container-row--partners">

                        {% for partner in site.data.internal.partners%}
                            <a href="{{partner.link}}" target="_blank" rel="noopener noreferrer">
                                <img class="partner-logo" src="{{partner.image}}" alt="{{partner.name}}" />
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <a class="anchor" id='donations'></a>
            <div class='page-card--about'>
                <div class="about-us-section-header"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/donations.svg" alt="" /></span>Make a Donation</div>
                <div class="about-us-section-content">
                    <div class="flex-container">
                        <div class="top-left-column top-paragraph">
                            <p class="donation-spacing">Hack for LA takes donations through Code for America.</p>
                            <div class="list-container-no-indent">
                                <ol>
                                    <li class="donation-spacing">Please follow this link to the Code for America <a href="https://www.codeforamerica.org/donate" target="_blank" rel="noopener noreferrer">donation form.</a></li>
                                    <li class="donation-spacing"><p>To make a donation please select <b>Hack for LA</b> under the brigades listed.</p>
                                        <p class="text-small-italic">*100% of donated proceeds go directly to Hack for LA when option is selected.</p></li> 
                                </ol>
                            </div>
                        </div>
                        <div class="bottom-right-column top-paragraph">
                            <img class="donation-gif-box-shadow" src="/assets/images/about/hfla-donate.gif" alt="Video guide on how to donate for Hack for LA" />
                        </div>
                    </div>
                </div>
            </div>

            <a class="anchor" id='sponsors'></a>
            <div class='page-card--about'>
                <div class="about-us-section-header"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/sponsors.svg" 
                    alt="Make your donation for Hack for LA Brigade on codeforamerica.org/donate. Choose the amount and select the payment frequency, then enter 'Hack for LA' under 'if your donation is for a Brigade, please select the Brigade Name(Optional)'." /></span>Sponsors</div>
                <div class="about-us-section-content">
                    <div class="flex-container-row flex-container-row--partners">
                        {% comment %}
                        {%for sponsor in site.data.internal.sponsors%}
                            <a href="{{sponsor.link}}" target="_blank" alt="{{sponsor.name}}">
                                <img width="150px" height="150px" src="{{sponsor.img_url}}">
                            </a>
                        {% endfor %}
                        {% endcomment %}
                        <a href="https://www.codeforamerica.org" target="_blank" alt="Code for America">
                            <img src="/assets/images/about/sponsors/code-for-america.svg">
                        </a>
                        <a href="https://laincubator.org" target="_blank" alt="LA Incubator">
                            <img src="/assets/images/about/sponsors/laci.svg"> 
                        </a>
                        <a href="https://www.carbonfive.com" target="_blank" alt="Carbon Five">
                            <img src="/assets/images/about/sponsors/carbon-five.svg">
                        </a>
                        <a href="https://www.sipandsonder.com" target="_blank" alt="Sip and Sonder">
                            <img src="/assets/images/about/sponsors/sip-sonder.svg">
                        </a>
                    </div>
                </div>
            </div>
            <a class="anchor" id='news'></a>
            <div class='page-card--about last-card'>
                <div class="about-us-section-header"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/news.svg"></span>HfLA in the News</div>
                <div class="about-us-section-content">
                    <div class="flex-container">
                        {% for item in site.data.internal.press %}
                            <div class="news-cells">
                                <img src="{{item[1].image}}" alt="{{item[1].image_alt}}" />
                                <p class="more-padding"><a href="{{item[1].link_url}}" target="_blank" rel="noopener noreferrer">{{item[1].title}}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                    {% for testemonial in site.data.internal.testimonials %}
                        <div class="garcetti-quote"><div class="entire-quote"><img class="quote-marks" src="/assets/images/about/quotes.png" alt="" /> 
                            <p class="quote-text"> {{testemonial.quote}}</p>
                        </div>
                            <cite class="mayor-cite">&#8212; {{testemonial.source}}</cite>
                            <img id="quote-tmc" src="{{testemonial.img_url}}" alt="{{testemonial.source}}">
                        </div>
                    {% endfor %}

                    
                    
                </div>
            </div>    
        </div>

        <nav id="sticky-nav" class="sticky-nav">
            <ul>
                <li><a class="is-active" href='#letter'>Letter from the ED</a></li>
                <li><a href='#platform'>Hack for LA Platform</a></li>
                <li><a href='#sustainability'>Sustainability</a></li>
                <li><a href='#accomplishments'>Accomplishments</a></li>
                <li><a href='#metrics'>Metrics</a></li>
                <li><a href='#partners'>Partners</a></li>
                <li><a href='#donations'>Make a Donation</a></li>
                <li><a href='#sponsors'>Sponsors</a></li>
                <li><a href='#news'>News</a></li>
            </ul>
        </nav>
        <div class="sticky-nav-spacer-div"> </div>
    </div>
</div>

<!-- Include javaScript -->
<script src="{{ '/assets/js/about.js' | absolute_url }}"></script>
