---
layout: default
title: About
permalink: /about/
---
<!-- Header banner -->
<div class="header-container flex-container">
    <div class="header-text">
        <h1 class="title1">About Us</h1>
        <p>We bring together civic-minded volunteers to build digital products,
            programs and services with community partners and local government to address issues in our LA region.
        </p>
        <p class="sub-p">
            Hack for LA is a project of <a class="header-link--about" href="https://www.codeforamerica.org/" target="_blank">Code for America</a> and its official Los Angeles chapter.
        </p>
    </div>
    <img class="header-hero-image"src="/assets/images/about/about-us-header.svg" alt="" />
</div>

<div class="bg-color">
    <div class="page-content-container-grid">
        <div class="sticky-nav-content-container">

            <a class="anchor" id='letter' data-name="Letter from the ED"></a>
            {% include about-page/about-card-executive-letter.html %}

            <a class="anchor" id='platform' data-name="Hack for LA Platform"></a>
            {% include about-page/about-card-platform.html %}

            <a class="anchor" id='sustainability' data-name="Sustainability"></a>
            {% include about-page/about-card-sustainability.html %}

            <a class="anchor" id='accomplishments' data-name="Accomplishments"></a>
            {% include about-page/about-card-accomplishments.html %}

            <a class="anchor" id='metrics' data-name="Metrics"></a>
            {% include about-page/about-card-metrics.html %}

            <a class="anchor" id='partners' data-name="Partners"></a>
            {% include about-page/about-card-partners.html %}

            <a class="anchor" id='donations' data-name="Donations"></a>
            {% include about-page/about-card-donations.html %}

            <a class="anchor" id='sponsors' data-name="Sponsors"></a>
            {% include about-page/about-card-sponsors.html %}


            <a class="anchor" id='news' data-name="News"></a>
            {% include about-page/about-card-news.html %}


        </div>

        <nav id="sticky-nav" class="sticky-nav">
            <ul>
                <li><a class="is-active" href='#letter'>Letter from the ED</a></li>
                <li><a href='#platform'>Hack for LA Platform</a></li>
                <li><a href='#sustainability'>Sustainability</a></li>
                <li><a href='#accomplishments'>Accomplishments</a></li>
                <li><a href='#metrics'>Metrics</a></li>
                <li><a href='#partners'>Partners</a></li>
                <li><a href='#donations'>Make a Donation</a></li>
                <li><a href='#sponsors'>Sponsors</a></li>
                <li><a href='#news'>News</a></li>
            </ul>
        </nav>
        <div class="sticky-nav-spacer-div"> </div>

    </div>
</div>



<!-- Include javaScript -->
<script src="{{ '/assets/js/about.js' | absolute_url }}"></script>
