---
layout: default
title: Citizen Engagement
permalink: /citizen-engagement
---
<!-- Header banner -->
<div class="header-container flex-container program-header-container">
    <div class="header-text">
        <h1 class="title1">Citizen Engagement</h1>
        <p>
            We at Hack for LA are volunteers that believe in building technology
            and analyzing data to make it easier to participate effectively in your community.
        </p>
        <p class="sub-p">
            Below are our products that are making that happen.
            If you have a new idea, want to submit feedback that will guide the next iteration
            of an existing tool, or want to start working on a project team with us, please contact
            us at <a href="mailto: citizenengagement@hackforla.org">citizenengagement@hackforla.org.</a>
        </p>
        <p class="bottom-header-paragraph">
            Read more about <a href="https://sdg.lamayor.org/about/global-goals">LA’s Sustainable Development Goals</a>.
        </p>
    </div>
    <img class="header-hero-image" src="/assets/images/citizen-engagement/citizen-engagement-header.svg"
        alt="Image of people together in community" />
</div>
<!-- Header banner -->

<!-- Page body -->
<section class="content-section project-wrapper">
    <div class="page-contain projects program-area-container">
        <h2>Current Projects</h2>
        <!-- Card -->
        <!-- Cards have been standardized and can be found in _sass/elements/_cards-->
        <!-- These cards utilize the previous standardized elements, plus new elements that I have integrated. -->
        <!-- Specifically I have added data attributes to the page-card container, and the dropdown arrow.
             We use the data attributes in JS to expand and close the cards. -->
        <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
                <!-- These three divs contain the image, a div that contains navigation and project info,
                     and the sustainable goals div -->

                <img class="card-image" src="/assets/images/projects/311.jpg" alt="311 project card"/>

                    <!-- When the card is closed in mobile, we only see the image and the navigation. When the card is
                         open, we see the project information. -->
                <div class="mobile-card-info-container">
                    <div class="mobile-card-nav">
                        <h3>311 Data</h3>
                        <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
                    </div>
                    <div class="project-dropdown">
                            {% for item in site.projects %}
                                {% if item.title == "311 Data" %}
                                <div class="problem-info">
                                    <h4>Problem</h4>
                                    <p>{{ item.problem }}</p>
                                </div>
                                <div class="solution-info">
                                    <h4>Solution</h4>
                                    <p>{{ item.solution }}</p>
                                </div>
                                <div class="impact-info">
                                    <h4>Impact</h4>
                                    <p>{{ item.impact }}</p>
                                </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
                <!-- The div below is controlled by the dropdown arrow. It is outside of the above container so it can
                     span the entire card  -->
            <div class="sustainable-dev-goal">
                <h4>Sustainable Development Goal</h4>
                <div class="card-bottom-info">
                    <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/peace-justice.svg" alt="peace justice bottom sustainable dev goal"/>
                    {% for item in site.projects %}
                        {% if item.title == "311 Data" %}
                            <p>{{ item.sdg }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
            <img class="card-image" src="/assets/images/projects/access-the-data.png" alt="access the data project card"/>
            <div class="mobile-card-info-container">
                <div class="mobile-card-nav">
                    <h3>Access the Data</h3>
                    <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
                </div>
                <div class="project-dropdown">
                    {% for item in site.projects %}
                        {% if item.title == "Access The Data" %}
                        <div class="problem-info">
                            <h4>Problem</h4>
                            <p>{{ item.problem }}</p>
                        </div>
                        <div class="solution-info">
                            <h4>Solution</h4>
                            <p>{{ item.solution }}</p>
                        </div>
                        <div class="impact-info">
                            <h4>Impact</h4>
                            <p>{{ item.impact }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="sustainable-dev-goal">
                <h4>Sustainable Development Goal</h4>
                <div class="card-bottom-info">
                    <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/peace-justice.svg" alt="peace justice bottom sustainable dev goal"/>
                    {% for item in site.projects %}
                        {% if item.title == "Access The Data" %}
                            <p>{{ item.sdg }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
            <img class="card-image" src="/assets/images/projects/engage.jpg" alt="engage project card" />
            <div class="mobile-card-info-container">
                <div class="mobile-card-nav">
                    <h3>Engage</h3>
                    <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
                </div>
                <div class="project-dropdown">
                    {% for item in site.projects %}
                        {% if item.title == "Engage" %}
                        <div class="problem-info">
                            <h4>Problem</h4>
                            <p>{{ item.problem }}</p>
                        </div>
                        <div class="solution-info">
                            <h4>Solution</h4>
                            <p>{{ item.solution }}</p>
                        </div>
                        <div class="impact-info">
                            <h4>Impact</h4>
                            <p>{{ item.impact }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="sustainable-dev-goal">
                <h4>Sustainable Development Goal</h4>
                <div class="card-bottom-info">
                    <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/peace-justice.svg" alt="peace justice bottom sustainable dev goal"/>
                    {% for item in site.projects %}
                        {% if item.title == "Engage" %}
                            <p>{{ item.sdg }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
            <img class="card-image" src="/assets/images/projects/open-community-survey.jpg" alt="open community project card"/>
            <div class="mobile-card-info-container">
                <div class="mobile-card-nav">
                    <h3>Open Community Survey</h3>
                    <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
                </div>
                <div class="project-dropdown">
                    {% for item in site.projects %}
                        {% if item.title == "Open Community Survey" %}
                        <div class="problem-info">
                            <h4>Problem</h4>
                            <p>{{ item.problem }}</p>
                        </div>
                        <div class="solution-info">
                            <h4>Solution</h4>
                            <p>{{ item.solution }}</p>
                        </div>
                        <div class="impact-info">
                            <h4>Impact</h4>
                            <p>{{ item.impact }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="sustainable-dev-goal">
                <h4>Sustainable Development Goal</h4>
                <div class="card-bottom-info">
                    <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/peace-justice.svg" alt="peace justice bottom sustainable dev goal"/>
                    {% for item in site.projects %}
                        {% if item.title == "Open Community Survey" %}
                            <p>{{ item.sdg }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-card card-primary page-card-lg card-body card-width program-area" data-dropdown>
            <img class="card-image" src="/assets/images/projects/lucky-parking.png" alt="lucky parking project card"/>
            <div class="mobile-card-info-container">
                <div class="mobile-card-nav">
                    <h3>Lucky Parking</h3>
                    <input class="dropdown-arrow" data-dropdown-arrow type="image" src="/assets/images/citizen-engagement/arrow-button-icon.svg" alt="dropdown-arrow">
                </div>
                <div class="project-dropdown">
                    {% for item in site.projects %}
                        {% if item.title == "Lucky Parking" %}
                        <div class="problem-info">
                            <h4>Problem</h4>
                            <p>{{ item.problem }}</p>
                        </div>
                        <div class="solution-info">
                            <h4>Solution</h4>
                            <p>{{ item.solution }}</p>
                        </div>
                        <div class="impact-info">
                            <h4>Impact</h4>
                            <p>{{ item.impact }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="sustainable-dev-goal">
                <h4>Sustainable Development Goal</h4>
                <div class="card-bottom-info">
                    <img class="card-bottom-icon" src="/assets/images/about/sdg-elements/sustainable-cities.svg" alt="sustainable cities bottom sustainable dev goal"/>
                    {% for item in site.projects %}
                        {% if item.title == "Lucky Parking" %}
                            <p>{{ item.sdg }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-card card-primary page-card-lg card-body card-width organizations">
                <div class="organizations-info">
                    <h3>Organizations We Work With</h3>
                    <p>None of what we do would be possible without the generous
                        support of many organizations throughout out our communities.
                        A big thank you to:</p>
                </div>
                <div class="organizations-images">
                    <img class="org-img" src="/assets/images/sponsors/logo-cfa.svg" alt="code for america logo"/>
                    <img class="org-img" src="/assets/images/citizen-engagement/la_neighborhood_councils.svg" alt="neighborhood councils empower LA: department of neighborhood empowerment logo">
                    <img class="org-img" src="/assets/images/citizen-engagement/palms_neighborhood_council.svg" alt="palms neighborhood council logo">
                    <img class="org-img" src="/assets/images/citizen-engagement/echo_park_neighborhood_council.svg" alt="echo park neighborhood council logo">
                    <img class="org-img" src="/assets/images/citizen-engagement/la_county_open_data.svg" alt="county of los angeles open data logo">
                    <img class="org-img" src="/assets/images/citizen-engagement/voices_neighborhood_council.svg" alt="voices of neighborhood council logo">
                    <img class="org-img" src="/assets/images/citizen-engagement/mid_city_neighborhood_council.svg" alt="MINC mid-city neighborhood council logo">
                    <img class="org-img" src="/assets/images/citizen-engagement/mar_vista_community_council.svg" alt="Join Us! marvista.org | mar vista community college logo">
                </div>
        </div>
    </div>
    <!-- Card -->
</section>

<!-- Include javaScript -->
<script>

    document.addEventListener('click', (e) => {
        // <- Dropdown functionality
        const isDropdownArrow = e.target.closest("[data-dropdown-arrow");
        let currentDropown;

        if (isDropdownArrow) {
            currentDropdown = e.target.closest("[data-dropdown]");
            currentDropdown.classList.toggle("activated");
        }

        document.querySelectorAll("[data-dropdown].activated").forEach(dropdown => {
            if (dropdown === currentDropdown) return;
            dropdown.classList.remove("activated");
        })
        // Dropdown functionality ->
    })

</script>