---
layout: default
title: Donate
permalink: /donate/
---

<div class="donate-wrapper">
  <div class="header-container header-container--donate">
    <div class="donate-banner-text">
      <h1 class="title1">Donate to Hack for LA</h1>
      <p>
        In support of the development and launch of enterprise software
      products with Government and nonprofit partners, we are standardizing
      our infrastructure and procedures. This enables Hack for LA to provide
      world-class training to our members and valuable, scalable, impactful
      products to the community.
      </p>
    </div>
    {% include donation/donation-circles.html %}
  </div>
  <div class="content-section join-us-card-container">
    <div class="page-card card-primary page-card-lg page-card--donate">
      <h3 class="title6 donate-title ">Provide In-Kind Software & Services</h3>
        {% include donation/in-kind.html %}
    </div>  
    <div class="page-card card-primary page-card-lg page-card--donate">  
      <h3 class="title6 donate-title">Make a Donation</h3>
        {% include donation/donate-gif-text.html %}
    </div>
  </div>
</div>
