/**
 * Sustainable Development Goal (SDG) Background Colors
 *
 * These background color classes match the colors of the SDG icons provided by the United Nations (UN):
 * https://www.un.org/sustainabledevelopment/news/communications-material/
 */

 .background-color-sdg2 { background-color: $color-sdg2; }
 .background-color-sdg3 { background-color: $color-sdg3; }
 .background-color-sdg4 { background-color: $color-sdg4; }
 .background-color-sdg5 { background-color: $color-sdg5; }
 .background-color-sdg8 { background-color: $color-sdg8; }
 .background-color-sdg9 { background-color: $color-sdg9; }
 .background-color-sdg10 { background-color: $color-sdg10; }
 .background-color-sdg11 { background-color: $color-sdg11; }
 .background-color-sdg13 { background-color: $color-sdg13; }
 .background-color-sdg16 { background-color: $color-sdg16; }
 .background-color-sdg17 { background-color: $color-sdg17; }