// This was originally created for the about-us page which has a separate column for sticky nav
.page-card {
    background: #fff;
    border: 0 solid rgba(51, 51, 51, 0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    overflow: hidden;
    max-width: 896px;
    margin-bottom: 0;
    padding: 22px;
    height: fit-content;
    margin: 12px;

    @media #{$bp-tablet-up} {
        margin: 12px 12px 40px;
        max-width: 896px;
        padding: 40px;
    }
}

.small-card {
    height: 180px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 30px 0 45px 0;
    padding: 10px 0 10px 0;
}