.color-dodgerblue {
    color: $color-dodgerblue; 
}

.color-lightseagreen {
    color: $color-lightseagreen;
}

.color-orange {
    color: $color-orange;
}

.color-chocolate {
    color: $color-chocolate; 
}

.color-firebrick {
    color: $color-firebrick; 
}

.color-deeppink {
    color: $color-deeppink;
}

.color-mediumvioletred {
    color: $color-mediumvioletred; 
}

.color-darkorchid {
    color: $color-darkorchid; 
}

.color-blueviolet {
    color: $color-blueviolet; 
}

