.header-container {
    background: #fff;
    padding: 40px;
    height: fit-content;
    margin: 61px auto 0;
    font-family: "Roboto"sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
  
    @media #{$bp-below-mobile} {
      padding: 87px 15px 0px 15px;
      margin-top: 10%;
    }
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }