.header-container {
    background: $color-white;
    padding:  64px;
    height: fit-content;
    margin: 61px auto 0;
    text-align: center;
    justify-content: center;

    .header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 5rem;

        h1 {
            margin-bottom: 38px;
        }
    
        p {
            font-size: 1.125rem;
            max-width: 508px;
            text-align: left;
            margin-bottom: 0
        }

        .sub-p {
            margin-top: 1rem;
        }
    }

    .header-hero-image {
        height: 240px;
        width: auto;
        align-self: center;
    }

    @media #{$bp-below-desktop} {
        flex-flow: column;

        .header-text {
            margin-right: 0;

            p {
                margin-bottom: 16px;
            }
        }

        .header-hero-image {
            margin-top: 20px;
        }
    }

    @media #{$bp-below-tablet} {
        flex-flow: column;
        padding: 32px;
        margin: 54px auto 0;

        .header-text {
            margin-right: 0;

            h1 {
                margin-bottom: 28px;
            }
    
            p {
                max-width: 300px;
                line-height: 1.5rem;
            }
        }

        .header-hero-image {
            height: 155px;
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
  }

.header-container--projscredits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 64px;

  img {
    max-height: 240px;
  }

  @media #{$bp-below-tablet}{
    img {
      max-height: 170px;
    }
  }

  @media #{$bp-below-mobile} {
    flex-direction: column;
    align-items: center;
    padding: 32px;
  }
}

.projscredits-text-margin {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  p {
    font-size: 18px;
    max-width: 508px;
    margin-top: 8px;
    text-align: left;
  }
  h1 {
    font-size: 48px;
  }
  @media #{$bp-below-mobile} {
    margin: auto;
    margin-bottom: 36px;
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
}