.filters-title {
  margin: 0 0 10px 0;
}
section.filter-content-container {
  display: grid;
  grid-template-columns: 275px 1fr;
}
a.filter-item {
  text-decoration: none;
}
.project-list {
  margin-top: 0.5rem;
}
//filter container
ul.filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
}

//category boxes
li.filter-item {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  margin: 0 10px;
  transition-duration: 0.5s;
  border-top: solid 1px $color-mediumgrey;
  cursor: pointer;
}

//category names
li.filter-item a {
  color: black;
  text-transform: capitalize;
}

li.filter-item:focus-within a {
  outline: none;
}

//dropdown
ul.filter-list li ul {
  opacity: 1;
  display: block;
  list-style: none;
  width: 115%;
  padding: 5px;
  line-height: 2em;
  font-size: 0.9em;
  cursor: default;
}

ul.filter-list li ul li {
  width: 100%;
  text-align: left;
}

.hidden-project {
  display: none;
}

.dropdown label {
  cursor: pointer;
  vertical-align: middle;
}
.dropdown li:nth-child(n+9) {
  display: none;
}
.dropdown li.view-all:last-child {
  display: block;
  color: $color-red;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.filter-checkbox {
  border: 1px solid #000000;
  border-radius: 4px;
  margin: 0px 5px;
  cursor: pointer;
  vertical-align: middle;
}

// might need this later, keep until PR for projects page filter
// .labelArrow {
//   transform: rotate(-45deg);
//   font-size: 24px;
//   position: absolute;
//   top: 2%;
//   right: 10%;
// }

.filter-tag-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
}

.filter-tag {
  --filter-tag-height: 24px;
  align-self: flex-start;
  height: var(--filter-tag-height);
  box-sizing: border-box;
  max-width: fit-content;
  margin: 0em 0.5em .5em;
  padding: 0.15em 1em;
  background: $color-red;
  border: none;
  border-radius: calc(var(--filter-tag-height) / 2);
  color: $color-white;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;

  &::after {
    content: "\00d7";
    padding-left: 0.5em;
  }

  &:hover,
  &:active,
  &:focus {
    background: darken($color-red, 10%);
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
  }
}

.filter-tag span {
  margin: 0 0 0 5px;
  min-height: 20px;
}

a.clear-filter-tags {
  margin-left: 1em;
  text-decoration: underline;
  color: $color-cement;

  &:hover {
    cursor: pointer;
  }
}

.number-of-checked-boxes {
  color: $color-red;
}

@media #{$bp-below-tablet} {
  //resize dropdown on tablet and mobile view
  ul.filter-list li ul {
    width: 105%;
    padding: 15px;
  }
}

@media (max-width: 659px) {
  //creating 2 rows and 2 columns to display categories on mobile
  ul.filter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  //resize category labels
  li.filter-item {
    padding: 5px 10px;
  }

  //resize and reposition label arrow GET RID OF THIS IF NOT USED BY PROJECT PAGE FILTER PR
  // .labelArrow {
  //   top: -8%;
  //   right: 5%;
  //   font-size: 20px;
  // }

  .clear-filter-tags {
    display: none;
  }
}