.filters-title {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters-title .show-filters-button,
.filters-title .hide-filters-button {
  display: none;
}

// Centered Components and filters up top
section.filter-content-container {
  display: flex;
  justify-content: center;
}
.page-contain.projects-inner {
  margin: 0px 0px;
}
.page-contain.projects-inner.curr-projects {
  margin: 0px auto;
}

a.filter-item {
  text-decoration: none;
}
.project-list {
  margin-top: 0.5rem;
}

.filter-toolbar {
  padding: 8px 32px;
  box-sizing: border-box;
  height: 100%;
}

.filtersDiv {
  min-width:282px;
}

//filter container
ul.filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
  width: 100%;
  box-sizing: border-box;
}

//category boxes
li.filter-item {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  margin: 0;
  transition-duration: 0.5s;
  border-top: solid 1px $color-mediumgrey;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

//category names
li.filter-item a {
  color: black;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
}

li.filter-item:focus-within a {
  outline: none;
}

//dropdown
ul.filter-list li ul {
  opacity: 1;
  display: block;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  line-height: 2em;
  font-size: 0.9em;
  cursor: default;
}

ul.filter-list li ul li {
  width: 100%;
  text-align: left;
}

.hidden-project {
  display: none;
}

.dropdown label {
  cursor: pointer;
  vertical-align: middle;
}
.dropdown li:nth-child(n+9) {
  display: none;
}
.dropdown li.view-all:last-child {
  display: block;
  color: $color-red;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.dropdown.show-all li.view-all:last-child {
  display: none;
}
.dropdown.show-all {
  max-height: 360px;
  overflow-y: scroll;
}
.dropdown.show-all li:nth-child(n+9) {
  display: block;
}
.dropdown.show-all::-webkit-scrollbar {
  width: 5px;
  border-radius: 2.5px;
}

.dropdown.show-all::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $color-mediumgrey
}

.dropdown.show-all::-webkit-scrollbar-thumb {
background-color: $color-cement;
border-radius: 2.5px;
}

.filter-checkbox {
  border: 1px solid #000000;
  border-radius: 4px;
  margin: 0px 5px;
  cursor: pointer;
  vertical-align: middle;
}
.category-title {
  position: relative;
  width: 100%
}

.labelArrow {
  transform: rotate(135deg);
  transform-origin: 64% 50%;
  bottom: auto;
  top: 0; 
  right: 5%;
  font-size: 24px;
  position: absolute;
}
.show-none .labelArrow {
  transform: rotate(-45deg);
  transform-origin: 36% 50%;
  bottom: 0;
  top: auto;
}

.show-none + .dropdown {
  display: none;
}
.applied-filters{
  font-size: 16px;
  font-weight: 700;
  color: $color-black;
  margin: 10px 0;
}
.filter-tag-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 0 10px 0;
}

.filter-tag {
  --filter-tag-height: 24px;
  align-self: flex-start;
  height: var(--filter-tag-height);
  box-sizing: border-box;
  max-width: fit-content;
  margin: 0em 0.5em .5em;
  padding: 0.15em 1em;
  background: $color-red;
  border: none;
  border-radius: calc(var(--filter-tag-height) / 2);
  color: $color-white;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;

  &::after {
    content: "\00d7";
    padding-left: 0.5em;
  }

  &:hover,
  &:active,
  &:focus {
    background: darken($color-red, 10%);
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
  }
}

.filter-tag span {
  margin: 0 0 0 5px;
  min-height: 20px;
}

a.clear-filter-tags {
  margin-left: 1em;
  text-decoration: underline;
  color: $color-cement;

  &:hover {
    cursor: pointer;
  }
}

.number-of-checked-boxes {
  color: $color-red;
}
.mobile-filter-buttons {
  display: none;
}
@media #{$bp-below-tablet} {
  //resize dropdown on tablet and mobile view
  section.filter-content-container {
    display: block;
    padding: 32px 16px;
    // flex-direction: column;
  }
  .filter-toolbar {
    background-color: $color-pink;
    padding: 0;
  }
  .filter-toolbar.show-filters {
    height: 100vh;
    width: 100vw;
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    background: $color-white;
  }
  .filters-title {
    background: $color-white;
    border: 1px solid $color-mediumgrey;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 16px;  
    font-weight: 400; 
  }
  .filter-toolbar.show-filters .filters-title {
    width: 100%;
    border: none;
    font-size: 24px;
    font-weight: 700;
    padding: 44px 12px 5px 12px;
  }
  .filters-title .show-filters-button {
    display: inline-block;
    border: none;
  }
  .filter-toolbar.show-filters .filter-tag-container {
    display: none;
  }
  ul.filter-list {
    display: none;
  }
  .filter-toolbar.show-filters .show-filters-button {
    display: none;
  }
  .filter-toolbar.show-filters .hide-filters-button {
    display: inline-block;
    border: none;
  }
  
  .filter-toolbar.show-filters ul.filter-list {
    display: flex;
    padding: 0 12px;
  }
  .filter-toolbar.show-filters .mobile-filter-buttons {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: $color-white;
    padding: 8px;
    box-shadow: 0px -1px 4px 0px $color-mediumgrey;
  }
  .filter-toolbar.show-filters .mobile-filter-buttons button {
    border: none;
  }
  .dropdown li {
    display: none;
  }
  .dropdown li.view-all:last-child {
    display: none;
  }
  li.filter-item {
    margin: 0;
  }
  .labelArrow {
  transform: rotate(-45deg);
  transform-origin: 36% 50%;
  bottom: 0;
  top: auto; 
  font-size: 24px;
  position: absolute;
  right: 21px;
}
.show-none .labelArrow {
  transform: rotate(135deg);
  transform-origin: 64% 50%;
  bottom: auto;
  top: 0;
}
.show-none + .dropdown {
  display: block;
}
.show-none + .dropdown li {
  display: block;
}

}