#{$all-text-inputs} {
  padding-right: 20px;
  padding-left: 20px;
  appearance: none;
  background: $color-white;
  border: 0 solid rgba($color-black, 0.06);
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba($color-black, 0.2) inset;
  color: $color-black;
  font-size: 1rem;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}

textarea {
  appearance: none;
  border: 0 solid rgba($color-black, 0.06);
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba($color-black, 0.2) inset;
  height: auto;
  padding: 20px;
  resize: vertical;
}

::-webkit-resizer {
  display: none;
}
