.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
