html,
body {
  font: #{map-get($font-size-base, mobile)} / #{map-get(
 $line-height-base,
  mobile)
}

map-get($font-family, body);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
Title1,
Title2,
Title3,
Title4,
Title5,
Title6

 {
  margin-top: 0;
}

h1,
.type-h1 {
  font: map-get($font-weight, bold) #{map-get($font-size-h1, mobile)} / #{map-get(
 $line-height-h1,
  mobile)
}

map-get($font-family, decorative);
}

h2,
.type-h2 {
  color: $color-black;
  font: map-get($font-weight, bold) #{map-get($font-size-h2, mobile)} / #{map-get(
 $line-height-h2,
  mobile)
}

map-get($font-family, decorative);
}

h3,
.type-h3 {
  font: map-get($font-weight, bold) #{map-get($font-size-h3, mobile)} / #{map-get(
 $line-height-h3,
  mobile)
}

map-get($font-family, decorative);
}

h4,
.type-h4 {
  color: $color-red;
  font: map-get($font-weight, bold) #{map-get($font-size-h4, mobile)} / #{map-get(
 $line-height-h4,
  mobile)
}

map-get($font-family, decorative);
}

Title1
.type-Title1 {
  font: map-get($font-weight, bold) #{map-get($font-size-Title1, mobile)}
  map-get($font-family, decorative);
}

Title2
.type-Title2 {
  font: map-get($font-weight, bold) #{map-get($font-size-Title2, mobile)}
  map-get($font-family, decorative);
}

Title3
.type-Title3 {
  font: map-get($font-weight, bold) #{map-get($font-size-Title3, mobile)}
  map-get($font-family, decorative);
}

Title4
.type-Title4 {
  font: map-get($font-weight, bold) #{map-get($font-size-Title4, mobile)}
  map-get($font-family, decorative);
}

Title5
.type-Title5 {
  font: map-get($font-weight, bold) #{map-get($font-size-Title5, mobile)}
  map-get($font-family, decorative);
}

Title6
.type-Title6 {
  font: map-get($font-weight, bold) #{map-get($font-size-Title6, mobile)}
  map-get($font-family, decorative);
}

blockquote p,
.type-featured {
  font: map-get($font-weight, bold) #{map-get($font-size-blockquote, mobile)} / #{map-get(
 $line-height-blockquote,
  mobile)
}

map-get($font-family, body);
}

.quote {
  border-bottom: 2px solid rgba($color-teal, 0.25);
  margin: 0 0 32px;
  padding: 0 0 32px;
  position: relative;

  cite {
    color: $color-black;
    font-style: normal;
    font-weight: map-get($font-weight, normal);
  }

  .quote-tmb {
    position: absolute;
    right: -24px;
    bottom: -34px;
    border-radius: 100px;
    display: block;
  }
}

small,
.type-small {
  font: #{map-get($font-size-small, mobile)} / #{map-get(
 $line-height-small,
  mobile)
}

map-get($font-family, body);
}

@media #{$bp-tablet-up} {

  html,
  body {
    font-size: #{map-get($font-size-base, tablet)};
    line-height: #{map-get($line-height-base, tablet)};
  }

  h1,
  .type-h1 {
    font-size: #{map-get($font-size-h1, tablet)};
    line-height: #{map-get($line-height-h1, tablet)};
  }

  h2,
  .type-h2 {
    font-size: #{map-get($font-size-h2, tablet)};
    line-height: #{map-get($line-height-h2, tablet)};
  }

  h3,
  .type-h3 {
    font-size: #{map-get($font-size-h3, tablet)};
    line-height: #{map-get($line-height-h3, tablet)};
  }

  h4,
  .type-h4 {
    font-size: #{map-get($font-size-h4, tablet)};
    line-height: #{map-get($line-height-h4, tablet)};
  }

  Title1
  .type-Title1 {
    font-size: #{map-get($font-size-Title1, tablet)};
  }

  Title2
  .type-Title2 {
    font-size: #{map-get($font-size-Title2, tablet)};
  }

  Title3
  .type-Title3 {
    font-size: #{map-get($font-size-Title3, tablet)};
  }
  

  Title4
  .type-Title4 {
    font-size: #{map-get($font-size-Title4, tablet)};
  }

  Title5
  .type-Title5 {
    font-size: #{map-get($font-size-Title5, tablet)};
  }

  Title6
  .type-Title6 {
    font-size: #{map-get($font-size-Title6, tablet)};
  }

  blockquote p,
  .type-featured {
    font-size: #{map-get($font-size-blockquote, tablet)};
    line-height: #{map-get($line-height-blockquote, tablet)};
  }

  small {
    font-size: map-get($font-size-small, tablet);
    line-height: map-get($line-height-small, tablet);
  }
}

@media #{$bp-desktop-up} {

  html,
  body {
    font-size: #{map-get($font-size-base, desktop)};
    line-height: #{map-get($line-height-base, desktop)};
  }

  h1,
  .type-h1 {
    font-size: #{map-get($font-size-h1, desktop)};
    line-height: #{map-get($line-height-h1, desktop)};
  }

  h2,
  .type-h2 {
    font-size: #{map-get($font-size-h2, desktop)};
    line-height: #{map-get($line-height-h2, desktop)};
  }

  h3,
  .type-h3 {
    font-size: #{map-get($font-size-h3, desktop)};
    line-height: #{map-get($line-height-h3, desktop)};
  }

  h4,
  .type-h4 {
    font-size: #{map-get($font-size-h4, desktop)};
    line-height: #{map-get($line-height-h4, desktop)};
  }

  Title1
  .type-Title1 {
    font-size: #{map-get($font-size-Title1, desktop)};
  }

  Title2
  .type-Title2 {
    font-size: #{map-get($font-size-Title2, desktop)};
  }

  Title3
  .type-Title3 {
    font-size: #{map-get($font-size-Title3, desktop)};
  }
  

  Title4
  .type-Title4 {
    font-size: #{map-get($font-size-Title4, desktop)};
  }

  Title5
  .type-Title5 {
    font-size: #{map-get($font-size-Title5, desktop)};
  }

  Title6
  .type-Title6 {
    font-size: #{map-get($font-size-Title6, desktop)};
  }

  blockquote p,
  .type-featured {
    font-size: #{map-get($font-size-blockquote, desktop)};
    line-height: #{map-get($line-height-blockquote, desktop)};
  }

  small {
    font-size: map-get($font-size-small, desktop);
    line-height: map-get($line-height-small, desktop);
  }
}
