html,
body {
  font: #{map-get($font-size-base, mobile)} / #{map-get(
 $line-height-base,
  mobile)
}

map-get($font-family, body);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol

 {
  margin-top: 0;
}

h1,
.type-h1 {
  font: map-get($font-weight, bold) #{map-get($font-size-h1, mobile)} / #{map-get(
 $line-height-h1,
  mobile)
}

map-get($font-family, decorative);
}

h2,
.type-h2 {
  color: $color-black;
  font: map-get($font-weight, bold) #{map-get($font-size-h2, mobile)} / #{map-get(
 $line-height-h2,
  mobile)
}

map-get($font-family, decorative);
}

h3,
.type-h3 {
  font: map-get($font-weight, bold) #{map-get($font-size-h3, mobile)} / #{map-get(
 $line-height-h3,
  mobile)
}

map-get($font-family, decorative);
}

h4,
.type-h4 {
  color: $color-red;
  font: map-get($font-weight, bold) #{map-get($font-size-h4, mobile)} / #{map-get(
 $line-height-h4,
  mobile)
}

map-get($font-family, decorative);
}

.title1 {
  font-size: #{map-get($font-size-title1, mobile)};
}

.title2 {
  font-size: #{map-get($font-size-title2, mobile)};
}

.title3 {
  font-size: #{map-get($font-size-title3, mobile)};
}

.title4 {
  font-size: #{map-get($font-size-title4, mobile)};
}

.title5 {
  font-size: #{map-get($font-size-title5, mobile)};
}

.title6 {
  font-size: #{map-get($font-size-title6, mobile)};
}

.title7 {
  font-size: #{map-get($font-size-title7, mobile)};
}

blockquote p,
.type-featured {
  font: map-get($font-weight, bold) #{map-get($font-size-blockquote, mobile)} / #{map-get(
 $line-height-blockquote,
  mobile)
}

map-get($font-family, body);
}

.quote {
  border-bottom: 2px solid rgba($color-teal, 0.25);
  margin: 0 0 32px;
  padding: 0 0 32px;
  position: relative;

  cite {
    color: $color-black;
    font-style: normal;
    font-weight: map-get($font-weight, normal);
  }

  .quote-tmb {
    position: absolute;
    right: -24px;
    bottom: -34px;
    border-radius: 100px;
    display: block;
  }
}

small,
.type-small {
  font: #{map-get($font-size-small, mobile)} / #{map-get(
 $line-height-small,
  mobile)
}

map-get($font-family, body);
}

@media #{$bp-tablet-up} {

  html,
  body {
    font-size: #{map-get($font-size-base, tablet)};
    line-height: #{map-get($line-height-base, tablet)};
  }

  h1,
  .type-h1 {
    font-size: #{map-get($font-size-h1, tablet)};
    line-height: #{map-get($line-height-h1, tablet)};
  }

  h2,
  .type-h2 {
    font-size: #{map-get($font-size-h2, tablet)};
    line-height: #{map-get($line-height-h2, tablet)};
  }

  h3,
  .type-h3 {
    font-size: #{map-get($font-size-h3, tablet)};
    line-height: #{map-get($line-height-h3, tablet)};
  }

  h4,
  .type-h4 {
    font-size: #{map-get($font-size-h4, tablet)};
    line-height: #{map-get($line-height-h4, tablet)};
  }

  .title1 {
    font-size: #{map-get($font-size-title1, tablet)};
  }

  .title2 {
    font-size: #{map-get($font-size-title2, tablet)};
  }

  .title3 {
    font-size: #{map-get($font-size-title3, tablet)};
  }
  

  .title4 {
    font-size: #{map-get($font-size-title4, tablet)};
  }

  .title5 {
    font-size: #{map-get($font-size-title5, tablet)};
  }

  .title6 {
    font-size: #{map-get($font-size-title6, tablet)};
  }

  .title7 {
    font-size: #{map-get($font-size-title7, tablet)};
  }
  
  blockquote p,
  .type-featured {
    font-size: #{map-get($font-size-blockquote, tablet)};
    line-height: #{map-get($line-height-blockquote, tablet)};
  }

  small {
    font-size: map-get($font-size-small, tablet);
    line-height: map-get($line-height-small, tablet);
  }
}

@media #{$bp-desktop-up} {

  html,
  body {
    font-size: #{map-get($font-size-base, desktop)};
    line-height: #{map-get($line-height-base, desktop)};
  }

  h1,
  .type-h1 {
    font-size: #{map-get($font-size-h1, desktop)};
    line-height: #{map-get($line-height-h1, desktop)};
  }

  h2,
  .type-h2 {
    font-size: #{map-get($font-size-h2, desktop)};
    line-height: #{map-get($line-height-h2, desktop)};
  }

  h3,
  .type-h3 {
    font-size: #{map-get($font-size-h3, desktop)};
    line-height: #{map-get($line-height-h3, desktop)};
  }

  h4,
  .type-h4 {
    font-size: #{map-get($font-size-h4, desktop)};
    line-height: #{map-get($line-height-h4, desktop)};
  }

  .title1 {
    font-size: #{map-get($font-size-title1, desktop)};
  }

  .title2 {
    font-size: #{map-get($font-size-title2, desktop)};
  }

  .title3 {
    font-size: #{map-get($font-size-title3, desktop)};
  }
  
  .title4 {
    font-size: #{map-get($font-size-title4, desktop)};
  }

  .title5 {
    font-size: #{map-get($font-size-title5, desktop)};
  }

  .title6 {
    font-size: #{map-get($font-size-title6, desktop)};
  }

  .title7 {
    font-size: #{map-get($font-size-title7, desktop)};
  }
  
  blockquote p,
  .type-featured {
    font-size: #{map-get($font-size-blockquote, desktop)};
    line-height: #{map-get($line-height-blockquote, desktop)};
  }

  small {
    font-size: map-get($font-size-small, desktop);
    line-height: map-get($line-height-small, desktop);
  }
}


%paragraph-class {
  line-height: $line-height-paragraph-class;
  font-family: $font-family-body;
  font-weight: map-get($font-weight, normal);
  color: $color-black;
}

.paragraph1 {
  @extend %paragraph-class;
  font-size: $font-size-paragraph1;
}

.paragraph2 {
  @extend %paragraph-class;
  font-size: $font-size-paragraph2;
}

.paragraph3 {
  @extend %paragraph-class;
  font-size: $font-size-paragraph3;
}