/* This page is built using a mobile first method.  Plain tags apply to mobile. Breakpoints below for larger sizes. */

.header-container--about-us {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 25px 15px 0 15px;
}

.header-container h1 {
    margin-bottom: 20px;
}

.header-text--about-us {
    font-size: 20px;
    max-width: 600px;
    text-align: left;

    a {
        text-decoration: none;
        font-weight: 700;
    
        &:link,
        &:visited {
          color: $color-black;
        }
    
        &:hover,
        &:active,
        &:focus {
          color: $color-red;
        }
      }
}

// CSS Grid 
.page-content-container-grid {
  //min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "content";
  align-items: start;
  margin-top: 20px;
  scroll-behavior: smooth;
}

  //Make universal
  .page-card {
     background: #fff;
     border: 0 solid rgba(51, 51, 51, 0.06);
     border-radius: 16px;
     box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
     overflow: hidden;
     max-width: 850px;
     margin-bottom: 0;
     padding: 22px;
     height: fit-content;
     margin: 12px;
  }

  .grid-2-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    justify-items: stretch;
    align-content: space-between; 
  }

  // Make the Letter page card have square corners
  .page-card--ed {
    border-radius: 0;
  }

  // Makes the sticky navigation stick
  .stick-it {
    position: fixed;
    top:60px;
    z-index: 1;
    right: 182px;
  }

  // Make the active link different
  .is-active {
    color: black;
    font-weight: 700;
    color: black !important;
    text-decoration: none;
    a {
      text-decoration: none;
      font-weight: 700;
  
      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: $color-black;
      }
    }
  }

  .is-active::before {
    content: "\25C0";
    float: left;
    font-size: 12px;
    padding-right: 25px;
    display: none;
  }

  // This adjustment is so that the page scrolls to the correct place when you hit the nav links
  a.anchor {
    display: block;
    position: relative;
    top: -75x;
    visibility: hidden;
  }

  .last-card {
    margin-bottom: 2rem;
  }

  .sticky-nav {
    grid-area: nav;
    justify-self: start;
    display: none;
    background: #fff;
    border: 0px solid rgba(51, 51, 51, 0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    overflow: hidden;
    max-width: 360px;
    padding: 30px;
    margin-top: 12px;
    height: fit-content;
  }

  .sticky-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sticky-nav ul li {
    margin-bottom: 10px;
  }

  // The part of the page that is not the sticky nav.  Should probably rename
  .not-sticky-nav-container {
    grid-area: content;
  }

  .about-us-section-header {
    font-weight: 900;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .about-us-section-header:after {
    content: "\221F";
    float: right;
    transform: rotate(-45deg);
    transition: transform 0.25s ease-in;
    color: rgb(250, 17, 79);
    font-weight: bolder;
    font-size: 24px;
  }
  .about-us-section-content {
    display: none;
  }

  .au_active::after {
    content: "\221F";
    transform: rotate(135deg);
    transition: transform 0.25s ease-in;
  }

  .sub-card-head {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 0 8px 0;
    display: flex;
    align-items: center;
  }

  .sub-head-image {
    padding-right: 10px;
  }

  .sub-head-text {
    padding-bottom: 5px;
  }

  .sub-card-content {
    padding-left: 5px;
    padding-left: 23px;
    margin-left: 8px;
  }

  // Colors
  
  .au-color-1 {
    color: $color-dodgerblue; 
  }

  .au-border-1 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-dodgerblue;
  }
  .au-color-2 {
    color: $color-lightseagreen;
  }

  .au-border-2 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-lightseagreen;
  }

  .au-color-3 {
    color: $color-orange;
  }

  .au-border-3 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-orange;
  }

  .au-color-4 {
    color: $color-chocolate; 
  }

  .au-border-4 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-chocolate;
  }

  .au-color-5 {
    color: $color-firebrick; 
  }

  .au-border-5 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-firebrick;
  }

  .au-color-6 {
    color: $color-deeppink;
  }

  .au-border-6 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-deeppink;
  }

  .au-color-7 {
    color: $color-mediumvioletred; 
  }

  .au-border-7 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-mediumvioletred;
  }

  .au-color-8 {
    color: $color-darkorchid; 
  }

  .au-border-8 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-darkorchid;
  }

  .au-color-9 {
    color: $color-blueviolet; 
  }

  .au-border-9 {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: $color-blueviolet;
  }

  .bold-quote {
    font-weight: 700;
    font-style: italic;
    text-align: center;
  }

  .sdg-images {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around; 
    align-content: space-between;
  }

  .small-text {
    font-size: 8pt;
  }

  .grid-center {
    place-self: center;
  }

/* Below are the breakpoints and adjustments for different size monitors */

// Bigger than mobile - 480px
@media #{$bp-mobile-up} {
} // End mobile up

// Bigger than tablet - 768px
@media #{$bp-tablet-up} {
  .header-container--about-us {
    flex-flow: row;
    padding: 3rem 1rem 0 1rem;
  } 

  .page-content-container-grid {
    grid-template-columns: auto 400px;
    grid-template-rows: auto;
    grid-gap: 0 20px;
    grid-template-areas: 
    "content nav";
  }
  .sticky-nav {
    display: block;
  }

  .not-sticky-nav-container {
    margin-left: 100px;
    grid-area: content;
    justify-self: start;
  }
  
  .last-card {
    margin-bottom: 150px;
  }

  .about-us-section-content {
    display: block;
  }

  .about-us-section-header:after {
    display: none;
  }
  .sec-head-img {
    display: none;
  }
  .about-us-section-header {
    justify-content: center;
  }
  .line-break {
    display: none;
  }

  .sticky-nav a {
    text-decoration: none;
  }

  .platform-mid-section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "top-left top-right"
    "top-left top-right"
    "top-left mid-right"
    "mid-left mid-right"
    "mid-left low-right"
    "mid-left low-right"
    "bottom-left bottom-right"
    "bottom-left bottom-right"
    "bottom-left bottom-right"
    ;
    column-gap: 10px;
    row-gap: 10px;
  }

  .platform-sec-impact {
    grid-area: top-left;
  }
  .platform-sec-learning {
    grid-area: top right;
  }
  .platform-sec-diversity {
    grid-area: mid-left;
  }
  .platform-sec-giving {
    grid-area: mid-right;
  }
  .platform-sec-agility {
    grid-area: low-right
  }
  .platform-sec-scalability {
    grid-area: bottom-left;
  }
  .platform-sec-sustainability {
    grid-area: bottom-right;
    align-self: center;
  }
} // End tablet-up

//Bigger than desktop - 960px
@media #{$bp-desktop-up} {
} // End desktop up
