/* This page is built using a mobile first method.  Plain tags apply to mobile. Breakpoints below for larger sizes. */

.header-link--about {
    text-decoration: none;
    font-weight: 700;

    &:link,
    &:visited {
      color: $color-black;
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-red;
    }
}

.donation-gif-box-shadow {
  box-shadow: 0px 8px 16px rgba(0,0,0,0.12);
}

// CSS Grid 
.page-content-container-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "content";
  align-items: start;
  margin-top: 20px;
  scroll-behavior: smooth;
}

.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 26px;
  justify-items: stretch;
  align-content: space-between; 
}

// Makes the sticky navigation stick
.stick-it {
  position: fixed;
  top:45px;
  left: 1070px;
}

// Style the sticky nav links
.sticky-nav li {
  list-style-type: none;
  position: relative;
  margin-bottom: 15px;
}

// Make the active link different
.is-active {
  font-weight: 700;
  color:$color-black !important;
  a {
    font-weight: 700;
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $color-black;
    }
  }
}

.is-active::before {
  position: absolute;
  content: "\25C0";
  font-size: 10px;
  margin-left: -35px;
  margin-top: 5px;
}

// This adjustment is so that the page scrolls to the correct place when you hit the nav links
a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

.last-card {
  margin-bottom: 2rem;
}

.sticky-nav {
  grid-area: nav;
  display: none;
  background: $color-white;
  border: 0px solid rgba(51, 51, 51, 0.06);
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
  overflow: hidden;
  width: 250px;
  padding: 35px 30px 15px 18px;
  margin-top: 30px;

}

.sticky-nav-inner-grid {
  display: grid;
  grid-template-columns: 15px auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "content";
  align-items: start;
  margin-top: 20px;
  scroll-behavior: smooth;
}

// The content container for pages with sticky nav
.sticky-nav-content-container {
  grid-area: content;
}

.page-card--about {
  overflow: hidden;
  border: 0 solid rgba(51, 51, 51, 0.06);
  border-radius: 16px;
  margin: 12px;
  padding: 22px;
  height: fit-content;
}

// Make the Letter page card have square corners
.page-card--ed {
  box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2); 
  border-radius: 0;
}

.about-us-section-header {
  font-weight: 900;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.about-us-section-header:after {
  content: "\221F";
  float: right;
  transform: rotate(-45deg);
  transition: transform 0.25s ease-in;
  color: rgb(250, 17, 79);
  font-weight: bolder;
  font-size: 24px;
}

.about-us-section-header--ED {
  font-weight: 900;
  font-size: 1.25rem;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: inherit;
}

// This is putting NOTHING after the header.  It's necessary to align it the same as the other headers
.about-us-section-header--ED:after {
  content: "\2000 \2000 \2000 \2000 \2000 \2000 \2000 \2000";
  float: right;
  transform: rotate(-45deg);
  transition: transform 0.25s ease-in;
  color: rgb(250, 17, 79);
  font-weight: bolder;
  font-size: 24px;
}

#letterBR {
  padding-left: 30px;
}

.more-less {
  display: none;
}


.sec-head-img-ed {
  padding: 0 25 0 0;
}

.led-closed {
  margin-top: 25px;
}

.read-more {
  color: $color-red;
  text-align: right;
  margin-right: 30px;
  cursor: pointer;
}

.read-more::after {
  content: "\221F";
  position: absolute;
  margin-left: 10px;
  transform: rotate(-45deg);
  color: rgb(250, 17, 79);
  font-weight: bolder;
  font-size: 16px;
}

.read-less {
  color: $color-red;
  text-align: right;
  margin-right: 30px;
  cursor: pointer;
}

.read-less::after {
  content: "\221F";
  position: absolute;
  margin-left: 10px;
  transform: rotate(135deg);
  color: rgb(250, 17, 79);
  font-weight: bolder;
  font-size: 16px;
}

.au_active::after {
  content: "\221F";
  transform: rotate(135deg);
  transition: transform 0.25s ease-in;
}

.sub-card-head {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 0 10px 0;
  display: flex;
  align-items: center;
}

.sub-head-image {
  padding-right: 10px;
}

.sub-head-text {
  padding-bottom: 5px;
}

.sub-card-content {
  padding-left: 10px;
  margin-left: 8px;
}

.flex-container--wins {
  margin-top: 40px;
}

.flex-container-row {
  @media only screen and (max-width: 350px) {
    margin-top: 18px;
    margin-bottom: 10px;
    }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.flex-container-row--partners {
  justify-content: space-between;
  margin-top: 25px;
  
  & .partner-logo{
		width: 100px;
		margin: 12px 15px;
  }
}

.border-dodgerblue {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-dodgerblue;
}
.border-lightseagreen {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-lightseagreen;
}

.border-orange {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-orange;
}

.border-chocolate {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-chocolate;
}

.border-firebrick {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-firebrick;
}

.border-deeppink {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-deeppink;
}

.border-mediumvioletred {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-mediumvioletred;
}

.border-darkorchid {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-darkorchid;
}

.border-blueviolet {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: $color-blueviolet;
}

// SDG Colors
.color-goldenrod-2 {
  color: #d49f28;
  font-weight: 700;
}

.color-orangered {
  color: $color-orangered;
  font-weight: 700;
}

.color-brown {
  color: #8e1737;
  font-weight: 700;
}

.color-goldenrod-11 {
  color: $color-lightorange; 
  font-weight: 700;
  }

.color-darkolivegreen {
  color: $color-darkolive;
  font-weight: 700;
}

.color-teal {
  color: $color-darkroyalblue;
  font-weight: 700;
}

.color-midnightblue {
  color: $color-midnightblue;
  font-weight: 700;
}

.bold-quote {
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.sdg-images {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around; 
  align-content: space-between;
}

.small-text {
  font-size: 8pt;
}

.grid-center {
  place-self: center;
}

.sdg-groups {
  margin-bottom: 20px;
}

/* Clear floats after the columns */
.sdg-groups:after {
  content: "";
  display: table;
  clear: both;
}

.sdg-column {
  float: left;
}

.sdg-left {
  width: 15%;
}

.sdg-right {
  width:  85%;
}

// Used for aligning contents of sdg left column
.sdg-left-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-bold {
  font-weight: 700;
}

.text-bold--sdg {
  margin: 10px 0 20px 0;
}

.top-paragraph {
  padding-top: 25px;
}

.sdg-title-mobile {
  display: inline;
}

.sdg-title-full {
  display: none;
}

.accomplishment-title {
  color: $color-red;
  text-decoration: underline;
  margin: 25px 0 10px 0;
  font-weight: 500;
}

.accomplishment-wins {
  text-decoration: none;
  margin: 25px 0 10px 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.accomplishment-wins img {
  padding-right: 20px;
}

.accomplishment-highlights {
  margin: 30px 0 0 0;
}

.eliptical {
  color: #959393;
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.wins-cup {
  padding-right: 25px;
}

.wins-card-mobile {
  display: block;
  width: 308px;
  height: 222px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.wins-card-desktop {
  display: none;
}

.coming-soon {
  margin-top: 18px;
}

.garcetti-mobile {
  display: block;
}

.garcetti-large {
  display: none;
}

// Metrics section

.small-card p {
  text-align: center;
}

.metrics-image-size {
  @media only screen and (max-width: 445px) {
  height: 35%;
  width: 35%;
  }
  height: 110px;
  width: 120px;
}

.metrics-title {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: $color-red;
}

.metrics-vrms-title {
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: 900;
  color: $color-black; 
  text-align: center;
  padding: 40px 0 36px 0;
}

.metrics-vrms-links {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-evenly; 
  align-content: space-between;
}

.list-container-no-indent ol {
  margin: 10px;
  padding: 10px;
}

.donation-spacing {
  margin: 0 0 40px 20px;
  font-size: 18px;
}

.text-small-italic {
  font-size: 15px;
  font-style: italic;
}

.news-cells {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 55.733vw;
  padding-bottom: 45px; 
}
.image-news-container{
  height: 100px;
  display: flex;
  align-content: center;
  margin-bottom: 30px;
}
.flex-container.news-container{
  align-items: center;
}


/* Below are the breakpoints and adjustments for different size monitors */

// Below tablet - 768px
@media #{$bp-below-tablet} {
  .page-content-container-grid {
    margin-top: 0; 
  }
  .wins-card-mobile{
    margin-left: auto;
    margin-right: auto;
  }
} // End below tablet

// Bigger than mobile - 480px
// @media #{$bp-mobile-up} {} 
// End mobile up

// Bigger than tablet - 768px
// @media #{$bp-tablet-up} {}

//Bigger than desktop - 960px
@media #{$bp-desktop-up} {
  // The next two tags turn on and off the sticky nav sidebar
  .page-content-container-grid {
    grid-template-columns: 996px auto;
    grid-template-rows: auto;
    grid-gap: 75px;
    grid-template-areas: 
    "content nav";
    margin-top: 30px
  }

  .sticky-nav {
    display: block;
    margin-right: 20px;
  }

  .sticky-nav-spacer-div {
    grid-area: nav;
    width: 250px;
  }

  .sticky-nav-content-container {
    margin-left: 100px;
    grid-area: content;
    justify-self: start;
    margin-top: 20px;
  }

  .page-card--about {
    margin: 12px 12px 40px;
    max-width: 896px;
    padding: 60px;
  }

  .page-card--platform {
    padding: 60px;
  }

  .read-more {
    display: none;
  }

  .read-less {
    display: none;
  }

  .last-card {
    margin-bottom: 150px;
  }

  .about-us-section-header {
    font-size: 1.5rem;
    margin: 0 0 40px;
    cursor: default;
    justify-content: center; 
  }

  .about-us-section-header--ED {
    justify-content: center;
    cursor: default;
    font-size: 1.5rem;
    margin: 0 0 40px;
  }

  .about-us-section-content {
    display: block;
    transition: display 0s, opacity 2.5s linear;
  }

  .about-us-section-header:after {
    display: none;
  }

  .sec-head-img {
    display: none;
  }

  .sec-head-img-ed {
    display: none;
  }

  .line-break {
    display: none;
  }

  .sticky-nav a {
    text-decoration: none;
  }

  .platform-mid-section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "top-left top-right"
    "top-left top-right"
    "top-left mid-right"
    "mid-left mid-right"
    "mid-left low-right"
    "mid-left low-right"
    "bottom-left bottom-right"
    "bottom-left bottom-right"
    "bottom-left bottom-right"
    ;
    column-gap: 80px;
  }

  .platform-sec-impact {
    grid-area: top-left;
  }

  .platform-sec-learning {
    grid-area: top right;
  }

  .platform-sec-diversity {
    grid-area: mid-left;
    @media only screen and (min-width:1306px) {
      grid-row-start: 2;
      margin-top: 3rem;
    }
  }

  .platform-sec-giving {
    grid-area: mid-right;
  }

  .platform-sec-agility {
    grid-area: low-right
  }

  .platform-sec-scalability {
    grid-area: bottom-left;
    @media only screen and (min-width:1316px) {
      grid-row-start: 6;
      margin-top: 8rem;
    }
  }

  .platform-sec-sustainability {
    grid-area: bottom-right;
  }

  .flex-container-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .sdg-left-column {
    width: 40%;
    margin: 30px 25px 0 0;
  }

  .sdg-right-column {
    width: 60%;
    padding-left: 10px;
  }

  .bottom-right-column {
    width: 50%;
    padding-left: 10px;
  }

  .top-left-column {
    width: 50%;
    padding-right: 10px;
  }

  .top-left-column--acc {
    padding-right: 25px;
  }

  .bottom-right-column--acc {
    padding-left: 25px;
  }

  .top-left-column--donations {
    width: 45%;
  }

  .bottom-right-column--donations {
    width: 55%;
  }

  .sdg-title-mobile {
    display: none;
  }

  .sdg-title-full {
    display: inline;
  }

  .wins-card-mobile {
    display: none;
  }
  .wins-card-desktop {
    display: block;
  }
  
  .wins-column-width-left {
    width: 30%;
    padding-left: 30px;
  }

  .wins-column-width-right {
    width: 70%;
    padding-left: 25px;
  }

  .flex-container.news-container{
    flex-basis: auto;
    column-gap: 2.863vw;
    align-items: baseline;
    margin-bottom: 67px;
  }
  .image-news-container{
      margin-bottom: 48px;
      height: 100px;
  }

  .news-cells {
    justify-content: unset;
    padding-bottom: unset;
    width: 33.3%;
  }

  .news-cells--govtech {
    margin-bottom: 75px; 
  }

  .garcetti-mobile {
    display: none;
  }

  .garcetti-large {
    display: block;
  }
} // End desktop-up

// These are to control the responsive location of the sticky nav

@media only screen and (max-width: 1321px) {
  .page-content-container-grid {
    grid-template-columns: auto auto;
    grid-gap: 75px;
  }

  .stick-it {
    right: 0px;
    left: auto;
  }
}

@media only screen and (max-width: 1171px) {

  .sticky-nav-content-container {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .page-content-container-grid {
    grid-gap: 23px;
  }
}

.entire-quote{
  margin-top: 30px;
  width: 90%;
}
.quote-marks{
  position: relative;
  width: 20px;
  display: inline-block;
  vertical-align: top;
  bottom: 10px;
  left:-10px
}

#quote-tmc{
  border-radius: 100px;
  position: relative;
  right: -50px;
  bottom: 10px;
  height: 75px;
  width: 75px;
}

.mayor-cite{
  position: relative;
  bottom: 50px;
  left: 20px;
  color: $color-cement;
  font-style: normal;
}
.quote-text{
  position: relative;
  display: inline-block;
  width: 88%;
}

@media only screen and (min-width:700px){
  .quote-text{
    font-weight: bold;
  }
  .entire-quote{
    position: relative;
    width:93%;
    left:100px;
  }
  #quote-tmc{
    bottom: 110px;
    right: 180px;
    height: 100px;
    width: 100px;
  }
  .mayor-cite{
    position: relative;
    left:125px;
    bottom: 90px;
    color: $color-cement;
    font-style: normal;
  }
  .garcetti-quote{
    position: relative;
    margin-bottom: -100px;
    margin-left:3vw;
  }
}
@media only screen and (max-width: 960px) {
  .page-content-container-grid {
    grid-template-columns: none; 
  }
  .sticky-nav-content-container {
    margin-left: 0px;
  }
}