//New class names:
//program-header-container
//project-wrapper
//program-area-contain
//program-area



// This contains the image and three paragraphs within the header. I added (bottom-header-paragraph)
// to help align it with other paragraph elements in the header. It is not typical throughout the site
// to have more than two paragraph elements.
.program-header-container {
    p {
        width: 100%;
    }

    .bottom-header-paragraph {
        max-width:100%;
        margin-top: 1rem;
    }
}


//This allows the background of the page content to be the light grey color
.project-wrapper {
    background: $color-pink;
}

//This is the default styling for the cards when they are in mobile view.
//project-dropdown and sustainable-dev-goal are defaulted to display:none until given the "activated" class attribute
.program-area {
    .mobile-card-info-container {
        display: flex;
        flex-direction: column;
        padding: 24px 22px;

        .mobile-card-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                margin: 0;
                color: $color-red;
            }
            .dropdown-arrow {
                transition: transform .5s;
            }
        }

        .project-dropdown {
            display: none;
        }
    }

    .sustainable-dev-goal {
        display: none;
    }
}

.organizations {
    padding: 44px;
    display: flex;
    flex-direction: column;
    max-width: 1080px;

    .organizations-info {
        display: flex;
        flex-direction: column;
        text-align: center;

        h3 {
            color: $color-black;
        }

    }

    .organizations-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        .org-img {
            justify-self: center;
            align-self: center;
            border-radius: 0px;
        }
        //This class is targeting the Code for LA logo image to mirror the appearance of the live page.
        .org-img-large{
            object-fit:cover;
            height: 65px;
            width: 185px;
            max-width: 100%;
        }
    }
}

//This is the styling when an individual card is given the "activated" class attribute from JS
.program-area.activated {

    .dropdown-arrow {
        transform: rotate(180deg)
    }

    .project-dropdown {
        display: block;
        margin-top: 24px;

        h4 {
            margin-bottom: 10px;
            font-style: bold;
            font-size: 20px;
            color: $color-black;
        }
    }

    .sustainable-dev-goal {
        display: block;
        background: $color-pink;
        padding: 24px 22px;

        h4 {
            margin-bottom: 10px;
            font-style: bold;
            font-size: 20px;
            color: $color-black;
        }

        .card-bottom-info {
            display: flex;
            flex-direction: row;
            margin-top:20px;
        }

        .sdg-image {
            height: 100%;
            margin-right: 20px;
            border-radius: 10px;
        }
    }

}

//We maintain mobile styling until we reach 480px, then we switch to this styling for tablet.
//The styling for the card is column based until we reach desktop width
@media #{$bp-mobile-up} {

    .program-area {
        display: flex;
        padding: 44px;
        flex-direction: column;
        max-width: 1080px;

            img {
                border-radius: 10px;
            }
            .card-image {
                min-width: 100%;
                max-height: auto;
            }

    }

    .mobile-card-info-container {

        .mobile-card-nav {
            .dropdown-arrow {
                display: none;
            }
        }

        .project-dropdown {
            display: block !important;
            margin-top: 24px;

            h4 {
                margin-bottom: 10px;
                font-style: bold;
                font-size: 20px;
                color: $color-black;
            }
        }
    }
    .sustainable-dev-goal {
        display: block !important;
        background: $color-pink;
        padding: 24px 22px;
        border-radius: 10px;
        align-self: center;

        h4 {
            margin-bottom: 10px;
            font-style: bold;
            font-size: 20px;
            color: $color-black;
        }

        .card-bottom-info {
            display: flex;
            flex-direction: row;
            margin-top:20px;
        }

        .sdg-image {
            height: 100%;
            margin-right: 20px;
            border-radius: 10px;
        }
    }
  
}

@media #{$bp-tablet-up} {
    .program-area-container {
        max-width: 1080px !important;
    }
    .program-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:2em;
        padding: 44px;

        img {
            border-radius: 10px;
        }
        .card-image {
            min-width: 100%;
            max-height: 308px;
        }

        .mobile-card-info-container {
            padding: 0px;
            grid-row: 1/3;
            grid-column: 2;
            .mobile-card-nav {
                .dropdown-arrow {
                    display: none;
                }
            }

            .project-dropdown {
                display: flex !important;
                margin-top: 24px;
                flex-direction: column;
                height: 100%;
                justify-content: space-around;

                h4 {
                    margin-bottom: 10px;
                    font-style: bold;
                    font-size: 20px;
                    color: $color-black;
                }
            }
        }

        .sustainable-dev-goal {
            display: block !important;
            background: $color-pink;
            border-radius: 10px;
            grid-row: 2/3;

            h4 {
                margin-bottom: 10px;
                font-style: bold;
                font-size: 20px;
                color: $color-black;
            }

            .card-bottom-info {
                display: flex;
                flex-direction: row;
                margin-top:20px;
            }

            .sdg-image {
                height: 100%;
                margin-right: 20px;
                border-radius: 10px;
            }
        }

    }

    .organizations {
        display:flex;
        max-width: 1080px;

            .organizations-info {
                display: flex;
                flex-direction: column;
                text-align: center;

                h3 {
                    color: $color-black;
                }

                p {
                    max-width: 706px;
                    align-self: center;
                }
            }

            .organizations-images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 1em;

                .org-img {
                    justify-self: center;
                    align-self: center;
                    border-radius: 0px;
                    min-height: 70px;
                }
                //This class is targeting the Code for LA logo image to mirror the appearance of the live page.    
                .org-img-large{
                    object-fit:cover;
                    height: 75px;
                    max-width: 100%;
                }
                    
            }
    }

}