.comm-practice-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items:center;
  padding: 20px 40px 40px;
  background: #fff;
  height: fit-content;
  margin: 40px auto 0;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: normal;

  @media #{$bp-below-tablet} {
    flex-flow: column wrap;
  }

  h1 {
    font-size: 48px;
//    line-height: 33.6px; This looks weird bt breakpoints
    text-align: center;
    padding: 10px 0;
    @media #{$bp-below-tablet} {
        font-size: 24px;
    }
  }

  .comm-practice-header-text {
    width: 600px;
    margin: 40px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    @media #{$bp-below-tablet} {
      width:100%;
      margin: auto;
      }
  }

  .comm-practice-header-img {
    width:320px;
    @media #{$bp-below-tablet} {
    width:100%;
    max-width:320px;
    }
  }
}

.comm-practice-content {
  .comm-practice-page-card {
    background: #fff;
    border: 0 solid rgba(51, 51, 51, 0.06);

    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    padding: 20px;
    margin: 45px;
    font-family: "Roboto" sans-serif;
    height: fit-content;

    @media #{$bp-below-tablet} {
      padding: 16px 16px;
    }
  }
  /*Kind of the same as in _sitemap and the Figma notes, just leave this alone for now */
  .card-primary {
    background: $color-white;
  }

  .page-card {
    border-radius: 20px;
    overflow: hidden;
  }

  .page-card-lg {
    max-width: 896px;
    border: 1px solid rgba(51, 51, 51, 0.06);
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    padding: 30px;
    margin: 0px auto 16px;

    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-tablet} {
      padding: 0px 16px;
      margin: 0px auto 12px;
    }
  }

  .page-card-container {
    display: flex;
    height: 454px;
    margin: -17px;

    @media #{$bp-below-tablet} {
      flex-direction: column;
      height: -moz-fit-content;
      height: fit-content;
    }
  }

  .comm-practice-expanded-card {
      @media #{$bp-tablet-up} {
        height: 494px;
      }
  }

  .page-card-image {
    margin: -5px;
    border-radius: 5px;
    max-width: 372px;
    height: 100%;
  
    @media #{$bp-below-mobile} {
      height: auto;
      width: 100%;
      max-height: 40vh;
      overflow: hidden;
    }
  }

  .page-card-content {
    margin: 34px;
    @media #{$bp-below-mobile} {
      margin: 40px 0;
      padding: 0 16px;
    }
  }
}
/*leader card styling - adapted from project page, mostly wrt sizing */
.leader-list--communities {
  display:flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
  margin: 20px auto;
    }
.leader-img--communities {
  margin: 10px;
  width: 50px;
  min-width: 40px;
  border-radius: 10px;
  }
.leader-card--communities {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 24% auto;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
  width: 240px;
  margin-bottom: 10px;

 /* // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-tablet} {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto auto 25px auto;
  }*/
}