.contactus {
  text-align: center;
  background: #f7f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
}

.surveybtn {
  width: 175px;
  height: 40px;
  text-align: center;
  margin: 0 !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.volunteerWithUs {
  margin: 0 5%;
}

.volunteerWithUs .row {
  width: 90%;
}
@media only screen and (max-device-width: 550px) {
  //For adding spacing between 'Getting Started' and 'Transportation' buttons on mobile devices
  .volunteerWithUs .surveybtn {
    margin: 0 0 15px 0 !important;
  }

  .subscribe {
    margin: 5px 0 10px 0 !important;
  }
}
