.page-card--home {
  text-align: center;
}

.btn--home-subscribe {
  margin: 0 !important;
}

.btn--home-survey {
  width: 175px;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  margin: 0 !important;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  text-align: initial;
  margin-left: 20%;

  @media screen and (max-width: 600px) {
    text-align: center;
    flex-direction: column;
    margin: auto;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.volunteerWithUs {
  margin: 0 5%;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 83%;
  margin-left: 8%;
}

.volunteerWithUs .row {
  width: 90%;
}

@media only screen and (max-device-width: 550px) {

  //For adding spacing between 'Getting Started' and 'Transportation' buttons on mobile devices
  .page-card--home-volunteer .btn--home-survey {
    margin: 0 0 15px 0 !important;
  }

  .btn--home-subscribe {
    margin: 5px 0 10px 0 !important;
  }
}
