.contactus {
  text-align: center;
  background: #F7F5F5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
}

.surveybtn {
  width: 175px;
  height: 40px;
  text-align: center;
  margin: 0 !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  text-align: initial;
  margin-left: 20%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.page-contain {
  color: black;
}