.wide-div {
  margin-top: 29px;
  background: #030c2c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: normal;
}

.mobile-image {
  @media #{$bp-below-mobile} {
    padding: 0;
  }
}

.credit-hero {
  padding: 33px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;

  @media #{$bp-below-mobile} {
    flex-direction: column;
    text-align: -webkit-center;
  }
}

.credits-item {
  margin: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  @media #{$bp-below-mobile} {
    margin: 5px;
  }
}

.credits-tool {
  margin: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  
  @media #{$bp-below-mobile} {
    margin: 5px;
    padding-left: 15px;
  }
}

.page-card--credits {
  padding: 30px;
  margin-top: 60px;

  @media #{$bp-below-mobile} {
    padding: 32px 16px;
    margin-top: 12px;
  }
}

.credits-list {
  order: 2;

  @media #{$bp-tablet-up} {
    display: grid;
    grid-gap: 32px 54px;
    grid-template-columns: repeat(2, 1fr);
    order: 3;
    width: 100%;
  }
}

.credits-inner {
  display: flex;
  flex-direction: column;

  @media #{$bp-mobile-up} {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.credits-heading {
  padding-left: 15px;
  margin-bottom: 15px;
  @media #{$bp-below-mobile} {
    padding-left: 20px;
    font-size: 20px;
  }
}

.icon-left,
.icon-center {
  width: 100px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  @media #{$bp-below-mobile} {
    width: 60px;
    padding-right: 10px;
  }
}

.icon-center {
  width: 200px;
}

.icon-info {
  width: 190px;
  p {
    margin: 0;
  }
}

.icon-left-image,
.icon-center-image {
  width: 100%;
} 

