.design-system-wrapper {
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-areas: "nav content";
    min-height: 100vh;
    width: 100vw;
    margin-top: 61px;
    padding-bottom: 160px;
    background-color: #f7f5f5;

    @media #{$bp-below-mobile} {
        margin-top: 54px;
    }
}


// sidebar section
.design-system-nav {
    grid-area: nav;
    height: fit-content;
    padding: 80px 20px 80px 36px;

    &--list {
        padding: 0;
        list-style-type: none;
    }

    &--item {
        margin-top: 2.5rem;
    }

    &--title {
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: 500;
    }

    &--sublist {
        padding-left: 18px;
        list-style-type: none;
    }

    &--subitem {
        margin-top: 1rem;
    }

    &--link {
        text-decoration: none;
    }

    .active-group {
        color: $color-black;
        font-weight: 500;
    }
}

// main section
.page-card--design-system {
    grid-area: content;
    overflow: hidden;
    border: 0 solid rgba(51, 51, 51, 0.06);
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2); 
    border-radius: 0;
    margin: 80px 60px auto 60px;

    &--header {
        color: $color-white;
        background-color: $color-blue-dark;
        width: 100%;
        margin: 0;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: 49px;
    }

    &--content-container {
        margin: 36px 47px;

        .page-description {
            padding-bottom: 64px;
        }

        .subgroup-description {
            padding-bottom: 48px;
        }

        // used to offset section of page linked to so it doesn't get hidden under header
        .anchor {
            display: block;
            position: relative;
            top: -80px;
            visibility: hidden;
        }
    }
}



// must set height for page-card class since it has no content
.code-example .page-card {
    min-height: 200px;
}

// must set background color of parent div for primary on dark buttons
.primary-on-dark-example {
    background-color: $color-blue-dark;
    width: fit-content;
    padding: 20px 23px;
}

// code blocks
figure {
    margin: 0;
}

.highlight pre {
    padding: 18px 24px;
}







// highlight coloring. should these be colors that already exist in our design system?
// to be filled in once decided. parts of code they effect included for clarification, but must be deleted after comment is removed.

// .highlight .nt {
//     color:
//     <button
//     >
//     </button>
// }

// .highlight .na {
//     color:
//     class=
// }

// .highlight .s {
//     color:
//     "example" (class name)
// }
