/*--------
| Mobile 
----------*/

.donate-wrapper {
    min-height: 100vh;
}

.header-container--donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    height: fit-content;

    .donate-banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title1 {
            padding-bottom: 28px;
        }

        p {
            font-size: 18px;
            max-width: 300px;
            text-align: left;
            @media #{$bp-tablet-up} {
                max-width: 500px;
            }
            @media #{$bp-mobile-up} {
                font-size: 16px;
                text-align: left;                
            }
        }
    }   
}

.page-card--donate{
    padding: 32px;

    .donate-title {
        text-align: center;
    }
    .donation-gif {
        box-shadow: 0px 2px 4px 0px #00000040;       
    }   
}

.donation-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
        margin-top: 20px;
    }
}


@media #{$bp-tablet-up} {
    .donation-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding: 20px;
        text-align: left;  
        align-items: flex-start;            
        
        .donation-body {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            margin-top: 15%;
            padding: 0 32px 0 16px;
        
            h3 {
                text-align: left;
            }
            
            ol {
                padding-left: 30px;
                max-width: 480px;
                line-height: 24px;
            }

            li {
            padding: 5px 0;
            font-size: 1.125rem;
            }
        }

        .donation-gif {
            grid-column: 2 / span 1;
            grid-row: 1 / span 2;
            margin: auto;
            width: 318px;
            padding-bottom: 20px;
        }

        p {
            margin-top: 10px;
            padding: 0 32px 0 36px;
            font-size: 15px;
            grid-row: 2 / span 3;
            grid-column: 1 / span 1;
        }       
    } 
}
