/*--------
| Mobile 
----------*/
.donate-title {
    text-align: center;
}

.donate-wrapper {
    min-height: 100vh;
}

.header-container--donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    height: fit-content;

    .donate-banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title1 {
            padding-bottom: 28px;
        }

        p {
            font-size: 18px;
            max-width: 300px;
            text-align: left;
            @media #{$bp-tablet-up} {
                max-width: 500px;
            }
            @media #{$bp-mobile-up} {
                font-size: 16px;
                text-align: left;                
            }
        }
    }   
}

.page-card--donate{
    padding: 32px;
}
