.main-footer {
  background: $color-blue-dark;
  color: $color-white;
  padding: 32px 25px 10px;

  @media #{$bp-tablet-up} {
    padding-bottom: 32px;
  }

  a {
    color: $color-white;
    text-decoration: none;
  }

  @media (max-device-width: 600px) {
    .btn--donate-footer {
      margin: 0 auto 25px auto !important;
    }

    .footer-links {
      flex-wrap: wrap-reverse; 
      justify-content: center !important;
    }
  }

  .header-list {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .btn--donate-footer {
    display: block;
    margin-left: auto;
    margin-bottom: 25px;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
  }
}
