.main-footer {
  position: sticky;
  width: 100%;
  background: $color-darkblue;
  color: $color-white;
  padding: 42px 25px 20px;
  bottom: 0;
  margin-top: -205px;

  a {
    color: $color-white;
    text-decoration: none;
  }

  .btn--donate-footer {
    display: table;
    margin: 0 auto;
  }

  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;

    .column {
      margin-bottom: 10px;
      flex: 0 0 50%;
      padding: 10px;
    }

    li {
      margin: 10px;
    }
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 15px 0 15px 0;
  }

  .header-list {
    margin: 0 0 15px 6px;
  }
}

@media screen and (max-width: 1024px) {
  .main-footer.header-list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .main-footer.footer-links {
    justify-content: space-between;
    margin: 0;
  }
  .main-footer.footer-columns {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  .main-footer.footer-columns.column {
    flex: none;
    padding-right: 150px;
  }
  .main-footer {
    margin-top: -165px;
  }
  .main-footer.btn--donate-footer {
    margin: 0 0 25px auto;
  }
}
