.main-footer {
  background: $color-blue-dark;
  color: $color-white;
  padding: 32px 16px 100px;

  @media #{$bp-tablet-up} {
    padding-bottom: 32px;
  }

  a {
    color: $color-white;
    text-decoration: none;
  }

  .header-list {
    align-items: center;
    display: flex;
    justify-content: center;;
  }
  
  .btn-donate-footer {
    background-color: $color-red;
    color: $color-white;
    position: absolute;
    right: 0;
    margin-right: 0;
    margin-top: -5px;
  }
  
  .btn-donate-footer:hover {
    background-color: $color-white;
    color: $color-black;
  }

  .footer-header {
    position: relative;
    color: #fa114f;
  }
}
