.header-p {
  font-size: 27px;
  display: flex;
  max-width: 895px;
  text-align: center;
  padding: 30px;
  margin: 12px auto;
  font-family: "Roboto"sans-serif;
}

.getting-started-page {
  background: $color-blue-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto"sans-serif;
  font-style: normal;
  font-weight: normal;
}

.gs-link {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.getting-started-step-title-overview {
  text-align: center; 
  font-size: 20px;
}

.getting-started-step-title-header {
  font-size: 25px;
}

.getting-started-step-subheader {
  text-align: center;
}

.getting-started-onboarding-instructions {
  text-align: initial;
}

.step-img {
  height: 100px;
  text-align: center;
}

.step-links {
  padding: 33px;
  margin: 0px auto;
}

.step-link-img {
  display: flex;
  justify-content: space-evenly;
  margin-left: 6%;

  @media #{$bp-below-mobile} {
    flex-direction: column;
    text-align: -webkit-center;
  }
}

.step-header {
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Roboto"sans-serif;

  @media #{$bp-below-mobile} {
    text-align: center;
  }
}

.getting-started-page-card {
  background: #fff;
  border: 0 solid rgba(51, 51, 51, 0.06);
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
  overflow: hidden;
  max-width: 896px;
  margin-bottom: 0;
  padding: 30px;
  height: fit-content;
  margin: 12px auto;
  font-family: "Roboto"sans-serif;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    padding: 30px 15px;
    p.accordion {
      display: inline-block;
      width: 100%;
    }
  }
}

.self-onboarding {
  display: flex;
  padding: inherit;
  margin: 11px;
}

.getting-started-guide-content-section {
  text-align: justify;
}

.zoom-pictures {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.zoom-img {
  width: 320px;
  align-self: center;
}

.project-position {
  padding: 16px;
  margin: 30px auto;
}

.accordion {
  color: black;
  cursor: pointer;
  transition: 0.4s;
  font-size: 20px;
  text-align: left;
  border-bottom: 0.5px solid gray;
  min-width: 835px;
  margin-top: 45px;

  @media #{$bp-below-mobile} {
    margin-top: 20px;
    min-width: 255px;
  }
}


.svg-accordion {
  float: right;
}

.svg-accordion:hover {
  opacity: 0.5;
}

.accordion:after {
  content: "\221F";
  float: right;
  transform: rotate(-45deg);
  transition: transform 0.25s ease-in;
  color: rgb(250, 17, 79);
  font-weight: bolder;
  font-size: 24px;
}

.active::after {
  content: "\221F";
  transform: rotate(135deg);
  transition: transform 0.25s ease-in;
}

.panel {
  display: none;
  overflow: hidden;
  text-align: left;
  margin-top: 40px;
}

.ordered-list-steps {
  display: flex;
  flex-direction: row;
  padding: 4px 0px;
  height: fit-content;
  margin-left: 26px;
  text-align: center;

  @media #{$bp-below-mobile} {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px 5px;
  }
}

.project-position-1 {
  padding: 40px 28px;
  margin: 0px 30px;
  width: 50%;

  @media #{$bp-below-mobile} {
    flex-direction: column;
    width: auto;
  }

}

.ordered-list-steps-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  text-align: center;

  @media #{$bp-below-mobile} {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.ordered-list-steps-2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.project-position-2 {
  text-align: center;
}

hr {
  width: 80%;
  margin-bottom: 8%;
}

.g-s-list {
  text-align: initial;
  margin: 5px 0;
}