.header-h1 {
  margin-top: 35px;
}

.header-bold-p {
  font-size: 16px;
  font-weight: 700;
  padding-top: 20px;
  font-family: "Roboto"sans-serif;

  @media #{$bp-below-tablet} {
    font-size: 18px;
    text-align: left;
  }
}
.header-p {
  display: flex;
  max-width: 580px;
  text-align: center;
  padding: 0 30px 10px 30px;
  // padding-bottom: 10px;
  margin: 12px auto;

  @media #{$bp-below-tablet} {
    text-align: left;
    padding: 0px;
  }
}

.getting-started-page {
  background: $color-darkblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto"sans-serif;
  font-style: normal;
  font-weight: normal;
}

.gs-link {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.getting-started-step-title-overview {
  text-align: center;
  font-size: 16px;
  max-width: 140px;
  padding: 10px 0;
}

.getting-started-step-title-overview-no-padding {
  text-align: center;
  font-size: 16px;
  max-width: 140px;
  padding-top: 10px;
  margin-bottom: 7px;
}

.getting-started-step-title-header {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0px;

  @media #{$bp-below-tablet} {
    padding: 0 .5em 0 .5em;
    font-size: 1.25rem;
    text-align: center;
  }
}

.getting-started-step-subheader {
  text-align: center;
}

.getting-started-onboarding-instructions {
  text-align: initial;
  padding-top: 20px;
}

.g-s-list {
  font-size: 16px;
}

.step-img-intro {
  max-height: 100px;
  text-align: center;
}

.rsvp-button {
  color: $color-white;
  font-size: 15px;
  font-weight: bold;
  background-color: $color-red;
  border-radius: 20px;
  box-shadow: 0 0 3px $color-mediumgrey;
  height: 2.6em;
  width: 13em;
  margin-left: 2em;
  margin-top: -.2em;

  @media #{$bp-below-tablet} {
    display: none;
  }
}

.rsvp-anchor {
  visibility: hidden;
  max-height: 0;
}

.rsvp-button2 {
  visibility: hidden;
  max-height: 0;

  @media #{$bp-below-tablet} {
    visibility: visible;
    color: $color-white !important;
    font-size: 15px;
    font-weight: bold;
    background-color: $color-red;
    border-radius: 20px;
    box-shadow: 0 0 3px $color-mediumgrey;
    height: 2.6em;
    width: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1em;
    text-decoration: none;
    max-height: 100%;
  }
}

.strong-text {
  margin-left: -1.7em;
  margin-top: .5em;
}

.card-intro {
  @media #{$bp-below-tablet} {
    padding: 0 1em 0 1em;
  }

}

.list-container {
  display: flex;
}

.column-ol-list {
  list-style-position: inside;
  padding-top: 2.5em;
  padding-left: 1.3em;

  @media #{$bp-below-tablet} {
    padding-top: 1.5em;
    max-width: 90%
  }
}

.column {
  float: left;
 }

 .left {
   width: 32%;

   @media #{$bp-below-tablet} {
     width: 100%;
     text-align: left;
   }
 }

 .right {
   width: 68%;
   padding-left: 60px;

   @media #{$bp-below-tablet} {
     width: 100%;
     padding-left: 20px;
   }
 }

 .info-icon {
    width: .875rem;
    position: relative;
    top: 2px;
    max-height: 100%;
    max-width: 100%;
 }

.step-img {
  transform: scale(.6);

  @media #{$bp-below-tablet} {
    width: 60%;
    display: block;
    margin: auto;
  }
}

.step-img-wide {
  transform: scale(.7);
  padding-top: 1em;

  @media #{$bp-below-tablet} {
    width: 60%;
    display: block;
    margin: auto;
  }
}

.step-img-icon-attend-git {
  margin-left: -1.9em;
  margin-right: 1em;
  width: 2.1em;
  float: left;
  align-self: center;
  margin-top: -.4em;
}

.step-img-icon-git {
  margin-left: -1.9em;
  margin-right: 1em;
  width: 2.1em;
  float: left;
  align-self: flex-start;
}

.step-img-icon-board {
  margin-left: -1.8em;
  margin-right: 1.1em;
  float: left;
  align-self: center;
  width: 1.7em;
  margin-top: -.2em;
}

.step-img-icon-cop {
  margin-left: -2.1em;
  margin-right: 1em;
  width: 2.3em;
  float: left;
  align-self: flex-start;
}

.step-img-icon-cop-small {
    margin-left: -2.1em;
    margin-right: 1.7em;
    float: left;
    align-self: flex-start;
    width: 1.6em;
    position: relative;
    left: 7px;
}

.step-img-icon {
  margin-left: -1.4em;
  margin-right: 1.1em;
  float: left;
  align-self: flex-start;
  width: 1.7em;
}

.step-img-icon-attend-slack {
  margin-left: -2.1em;
  margin-right: 1em;
  width: 2.3em;
  float: left;
  align-self: center;
  margin-top: -.2em;
}

.step-img-icon-choose-slack {
  margin-left: -1.9em;
    margin-right: .9em;
    width: 2.3em;
    float: left;
    align-self: flex-start;
    margin-top: .4em;
}

.step-img-icon-join-slack {
  margin-left: -1.8em;
    margin-right: .9em;
    width: 2.3em;
    float: left;
    align-self: flex-start;
}

.step-img-icon-join {
  margin-left: -1.4em;
  margin-right: 1.1em;
  float: left;
  align-self: flex-start;
  width: 1.7em;
}

.step-links {
  padding: 33px;
  margin: 0px auto;
}

.step-link-img {
  display: flex;
  justify-content: space-evenly;

  @media #{$bp-below-tablet} {
    // flex-direction: column;
    // text-align: -webkit-center;
    display: none;
  }
}

.step-header {
  display: flex;
  justify-content: left;
  color: #000000;
  font-family: "Roboto"sans-serif;

  @media #{$bp-below-tablet} {
    justify-content: center;
  }
}

.page-card--getting-started {
  padding: 40px 80px;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-tablet} {
    padding: 32px 16px;
  }
}

.self-onboarding {
  display: flex;
  padding: inherit;
  margin: 11px;
}

.zoom-pictures {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.zoom-img {
  width: 320px;
  align-self: center;
}

.project-position {
  padding: 16px;
  margin: 30px auto;
}

.github-sign-up-text {
  font-size: 13px;
  padding-top: 10px;
}

.getting-started-step-title-faq {
  margin-left: 2px;

  @media #{$bp-below-tablet} {
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
  }
}

.ordered-list-steps {
  display: flex;
  flex-direction: row;
  padding: 4px 0px;
  height: fit-content;
  margin-left: 26px;
  text-align: center;

  @media #{$bp-below-tablet} {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px 5px;
  }
}

.project-position-1 {

  padding: 40px 28px 0px 28px;
  margin: 0px 30px;
  width: 50%;

  @media #{$bp-below-tablet} {
    flex-direction: column;
    width: auto;
  }
}

.ordered-list-steps-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;

  @media #{$bp-below-tablet} {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.ordered-list-steps-2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.project-position-2 {
  text-align: center;
}

.project-position-3 {
  padding: 0px 28px 45px 28px;
  margin: 0px 30px;
  width: 50%;


  @media #{$bp-below-tablet} {
    flex-direction: column;
    width: auto;
  }

}

hr {
  width: 80%;
  margin-top: 8%;
  margin-bottom: 8%;
}
