.section-hack-nights {
  background: $color-blue-dark;
  color: $color-white;
}

.locations {
  @media #{$bp-tablet-up} {
    display: flex;
    justify-content: space-between;
  }
}

.location {
  background: $color-white;
  border-radius: 20px;
  color: $color-black;
  margin-bottom: 24px;
  overflow: hidden;

  @media #{$bp-tablet-up} {
    width: calc(33% - 12px);
  }
}

.location-img {
  background: white center no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  padding-top: 40%;
  width: 100%;
}

.location-details {
  padding: 16px;

  h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: $color-red;
  }
}

.btn {
  margin: 0 20px 20px 0;
}
