$nav-width: 240px;

.header-nav {
  position: fixed;
  left: 0;
  right:0;
  bottom: 0;
  background: $color-white;
  box-shadow: 0 -1px 0 0 rgba($color-black, 0.12);
  padding: 10px 0;

  ul {
    display: flex;
  }

  li {
    margin: 0;
    text-align: center;
    width: 25%;
  }

  a {
    text-decoration: none;

    &:link,
    &:visited {
      color: $color-black;
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-red;
    }
  }

  @media #{$bp-below-tablet} {
    font-size: #{map-get($font-size-small, mobile)};
    line-height: #{map-get($line-height-small, mobile)};
    text-transform: uppercase;
  }

  @media #{$bp-tablet-up} {
    background: none;
    box-shadow: none;
    flex-grow: 1;
    padding: 0 0 0 80px;
    position: static;

    ul {
      margin-right: 20px;
    }

    li {
      margin-left: 2em;
      width: auto;
    }
  }
}

body {
  transition: transform 300ms ease-in-out;

  &.nav-active {
    transform: translateX(-$nav-width);

    @media #{$bp-tablet-up} {
      transform: none;
    }
  }
}

.nav-icon {
  @include size(20px);
  display: block;
  margin: 0 auto 8px;

  @media #{$bp-tablet-up} {
    display: none;
  }
}

/* Hamburger nav CSS */

// On larger displays the hamburger nav doesn't show.
@media #{$bp-tablet-up} {
  #swapButton {
    display: none;
  }
}  

// This styles the hamburger nav and menus on mobile
@media #{$bp-below-tablet} {
  #burgerImage { 
    background-color: $color-white;
    display: block;
    height: 25px;
    width: 25px;
    border: none;
    padding-right: 41px;
    padding-top: 5px;
    margin: 5px 0;
  } 

  #burgerImageX { 
    display: none; 
    height: 25px;
    width: 25px;
    border: none;
    padding-right: 41px;
    padding-top: 5px;
  }

  // Sets the initial state of the menu so that it is not showing. 
  #headerNav {
    display: none;
  }

  // Hide the nav icons
  .nav-icon {
    display: none;
  }  

  // This is the position of the white box of the menu
  .header-nav {
    position: absolute;
    top: 53px;
    bottom: auto;
    height: auto;
    width: auto;
    z-index: -1;
    padding: 18px 71px;
  }

  //Menu is top to bottom instead of side to side
  .header-nav ul {
    flex-direction: column;
  }

  // menu links
  .header-nav li {
    padding: 6px;
    text-align: left;
    width: 100%;
    font-weight: 500;
    text-transform: none;
    font-size: 16px;
  }

  // Underlines the active link
  .header-nav li a {
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $color-black;
    }

    &:active {
      text-decoration: underline;
    }
  }
}
