.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $color-white;
  box-shadow: 0 1px 4px 0 rgba($color-black, 0.12);
  font-weight: map-get($font-weight, bold);
  padding: 20px;
  padding-bottom: 10px;
  z-index: 100;

  @media #{$bp-tablet-up} {
    @include clearfix;
    padding: 20px 10px 10px 10px;
    padding-top: 20px;
    position: fixed;

    .header-links {
      flex-grow: 0;
    }
  }

  .header-links {
    flex-grow: 1;
    text-align: right;

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      &:link,
      &:visited {
        color: $color-black;
        margin: -4px;
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-red;
      }
    }
  }

  .branding {
    position: absolute;
    top: -24px;
    left: -20px;

    @media #{$bp-tablet-up} {
      height: 150px;
      width: 150px;
    }
  }

  .main-header-content {
    display: flex;
  }
  
}

.main-header-content {
  display: flex;
}

.btn--donate-header { 
  margin: -10px 20px 0 0;
}

@media only screen and (max-width: 1028px) {

  // style the HfLA logo for tablet and mobile
  // It's not one of the standard numbers because
  // this is where the text started to get covered up
  // by the logo
  .main-header .branding {
    position: absolute;
    top: -13px;
    left: -18px;
    height: 50px;
    width: 95px;
  }
}

@media #{$bp-below-tablet} {
  // HFLA logo setting for mobile
  .main-header {
    position: fixed;
    padding: 7px;
  }

  // Make the donate button smaller for mobile
  .btn--donate-header {
    padding: 5px 25px;
    font-size: .75rem;
    font-weight: 500;
    height: 30px;
    margin-top: 6px;
    line-height: 0;
  }
}