.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $color-white;
  box-shadow: 0 1px 4px 0 rgba($color-black, 0.12);
  font-weight: map-get($font-weight, bold);
  padding: 20px;
  padding-bottom: 10px;
  z-index: 10;

  @media #{$bp-tablet-up} {
    @include clearfix;
    padding: 20px 10px 10px 10px;
    padding-top: 20px;
    position: fixed;

    .social-links {
      flex-grow: 0;
    }
  }

  .social-links {
    flex-grow: 1;
    text-align: right;

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      &:link,
      &:visited {
        color: $color-black;
        margin: -4px;
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-red;
      }
    }
  }

  .branding {
    position: absolute;
    top: -23px;
    left: -23px;

    @media #{$bp-tablet-up} {
      left: -20px;
    }
  }

  .main-header-content {
    display: flex;
  }
  
}

.main-header-content {
  display: flex;
}

.btn-donate { 
  background-color: $color-black;
  color: $color-white;
  margin-top: -10px;
  margin-bottom: 0;
}

.btn-donate:hover {
  background-color: $color-red;
}

