.hero {
  background: $color-blue-dark url($absolute_url + "/assets/images/hero/hacknight-women.jpg") center
    center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 140vh;
  justify-content: flex-end;
  max-height: 700px;
  min-height: 100vh;
  padding: 20px;
  position: relative;

  @media #{$bp-tablet-up} {
    min-height: 0;
  }

  &::after {
    @include position(absolute, 0 0 0 0);
    background: linear-gradient(
      to bottom,
      rgba($color-blue-dark, 0.3) 0%,
      rgba($color-blue-dark, 1) 100%
    );
    content: "";
    display: block;
    z-index: 1;

    @media #{$bp-tablet-up} {
      background: linear-gradient(
        to bottom,
        rgba($color-blue-dark, 0) 30%,
        rgba($color-blue-dark, 1) 100%
      );
      opacity: 1;
    }
  }
}

.hero-inner {
  color: $color-white;
  margin: 60px auto 0px;
  max-width: $max-content-width;
  position: relative;
  z-index: 2;

  @media #{$bp-tablet-up} {
    margin-bottom: 0;
    margin-top: 150px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0;

    @media #{$bp-tablet-up} {
      font-size: 3rem;
    }
  }
}

.hero-signup {
  .form-input {
    max-width: 310px;
    width: 100%;
  }

  @media #{$bp-tablet-up} {
    display: flex;

    .form-input {
      margin-right: 10px;
    }
  }

  .form-confirmation {
    margin: 10px 0;
  }
}
