// This page is styled mobile first.
.home {
  &--section {
    padding: 32px 16px;
  
    @media #{$bp-tablet-up} {
      padding: 74px 32px;
    }
  
    &:nth-child(even) {
      background-color: $color-whitesmoke;
    }
  }
}

.desktop-up-only {
  display: none;

  @media #{$bp-desktop-up} {
    display: revert;
  }
}

// HERO SECTION
.hero {
  background-color: $color-darkblue;
}

.hero--header {
  background: linear-gradient(to bottom, rgba(3,13,45,0) 0%, rgba(53, 61, 87, 0.13) 20%, rgba(11, 21, 52, 0.9037) 55%,#030d2d 100%),url($absolute_url + "/assets/images/hero/hacknight-women.jpg");
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  height: 374px;
  padding: 36px;
  margin-top: 50px;

  h1 {
    line-height: 1.35em;
    max-width: 900px;
  }

  @media #{$bp-tablet-up} {
    background: linear-gradient(to bottom, rgba($color-darkblue, 0) 0%, rgba($color-darkblue, 1) 100%), url($absolute_url + "/assets/images/hero/hacknight-women.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    height: 80vh;
    max-height: 680px;
    margin: 61px auto 0;

    a {
      display: none;
    }
  }

  @media #{$bp-desktop-up} {
    padding: {
      left: 176px;
      right: 176px;
    }
  }
}

.hero--embrace {
  padding: 36px;
  background-color: $color-white;

  h2 {
    text-align: center;
    margin-bottom: 36px;
  }

  p {
    margin-bottom: 0;
    line-height: 1.375em;
  }

  @media #{$bp-desktop-up} {
    display: flex;
    justify-content: center;
    padding: 100px;

    h2 {
      max-width: 611px;
      margin-right: 50px;
      text-align: left;
    }

    p {
      font-size: 20px;
      max-width: 439px;
    }
  }
}


// PROGRAM AREAS SECTION
.home--program-areas {
  text-align: center;
}

.program-areas--cards {
  display: flex;
  gap: 12px;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  padding-inline-start: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }

  .program-area-card {
    list-style-type: none;
    width: 164px;

    .program-area-img {
      height: 160px;
      width: 160px;
      overflow: hidden;
      border-radius: 20px;
      background-color: rgb(3, 13, 45);

      img {
        opacity: .75;

        &:hover {
          opacity: 1;
        }
      }
    }

    a {
      text-decoration: none;
      color: #333333;
      font-size: 16px;
      font-weight: 700;

      p {
        margin-top: 18px;
      }
    }
  }

  @media #{$bp-tablet-up} {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    overflow-x: initial;
    max-width: 1328px;

    .program-area-card {
      width: 254px;

      .program-area-img {
        height: 245px;
        width: 245px;
      }

      a {
        font-size: 20px;
      }
    }
  }
}


// TECHNOLOGIES SECTION
.home--technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-bottom: 32px;
  }
}

.technology-metrics-container {
  max-width: 342px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.2);
  padding: 0 25px 10px;

  ul {
    display: flex;
    justify-content: space-between;

    .metric {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 16px;
        font-weight: 700;
        max-width: 269px;
        margin-bottom: 0;
      }

      .metric-number {
        font-size: 28px;
        font-weight: 900;
        margin: 0;
        height: 50px;
        display: flex;
        align-items: center;

        img {
          height: .9em;
          transform: scale(0.9);
        }
      }
    }
  }
  
  hr {
    display: none;
  }

  @media #{$bp-tablet-up} {
  max-width: 1070px;

    ul {
      .metric {
        p {
          font-size: 24px;
        }

        .metric-number {
          font-size: 120px;
          height: 150px;
        }
      }
    }
  }

  @media #{$bp-desktop-up} {
    box-shadow: none;

    ul {
      .metric {
        p {
          font-size: 28px;
        }
  
        .metric-number {
          font-size: 144px;
          height: 180px;
        }
      }
    }

    hr {
      display: revert;
      margin: 25px 0;
      height: 146px;
      width: 1px;
      border: none;
      border-left: 1px solid #706E6E;
    }
  }
}

// COMMUNITIES OF PRACTICE SECTION 
.home--communities {

  .communities-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2 {
      text-align: center;
    }

    p {
      font-size: 18px;
      padding-top: 10px;
    }
  }

  .communities-links {
    margin: 0 auto;
    padding: 17px 22px;
    border-radius: 20px;
    width: fit-content;
    max-width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    background:
        linear-gradient(270deg, #FA114F 0%, #FE4498 16.43%, #E973D4 30.73%, #C69CFC 46.88%, #A5BCFF 61%, #9AD6FF 74%, #AEEAFF 86%, #D4F9FF 100%);

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      display: flex;
      gap: 60px;     
      max-width: fit-content;
      margin: 0 auto;
      padding: 0 10px;

      li {
        list-style-type: none;
        width: 77px;
        min-width: 77px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          color: #333333;
          text-decoration: none;
    
          p {
            height: 50px;
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
    }

    .communities-links--names {
      border-radius: 20px 20px 0 0;
    }

    .communities-links--icons {
      border-radius: 0 0 20px 20px;
    }
  }

  @media #{$bp-tablet-up} {
    .communities-heading {

      h2 {
        max-width: 450px;
      }

      p {
        width: 442px;
      }
    }

    .communities-links {

      ul {

        li {
          width: 143px;
          min-width: 143px;}
        }
      }
    }


  @media #{$bp-desktop-up} {
    .communities-heading {
      flex-direction: row;

      h2 {
        margin-right: 60px;
        text-align: left;
      }

      p {
        align-items: center;
      }
    }

    .communities-links {
      background: none;

      ul {
        width: fit-content;
      }

      .communities-links--icons {
        border-radius: 20px;
        padding: 20px 10px;
        background: linear-gradient(270deg, #FA114F 0%, #FE4498 16.43%, #E973D4 30.73%, #C69CFC 46.88%, #A5BCFF 61%, #9AD6FF 74%, #AEEAFF 86%, #D4F9FF 100%);
        justify-content: center;
      }
    }
  }
}

// WINS SECTION 
.home--wins {
  .wins-heading {
    margin-bottom: 29px;
    
    h2 {
      text-align: center;
    }
  }

  @media #{$bp-desktop-up} {
    display: flex;
    justify-content: center;

    .wins-heading {
      max-width: 346px;
      margin-right: 75px;

      h2 {
        margin-bottom: 44px;
        text-align: left;
      }
    }

    .wins-card {
      max-width: 620px;
    }
  }
}


// JOIN SECTION
.home--join {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$bp-tablet-up} {
    flex-direction: row;
    gap: 71px;
  }
}

.join-heading {
  border-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 298px;
  width: 298px;
  background-color: #030D2D;

  h2 {
    color: white;
    width: 40%;
    text-align: center;
    margin-bottom: 0;
  }
  
  @media #{$bp-tablet-up} {
    display: flex;
    height: 30vw;
    width: 30vw;
    min-height: 310px;
    min-width: 310px;
    max-height: 475px;
    max-width: 475px;
  }
}

.join-text {
  width: auto;
  max-width: 624px;

  &--main {
    font-weight: 700;
    font-size: 24px;
  }

  &--sub {
    font-size: 16px;
    margin-bottom: 0;
  }

  &--desktop-only {
    display: none;
  }

  @media #{$bp-tablet-up} {
    &--sub {
      font-size: 20px;
    }

    &--desktop-only {
      display: revert;
    }
  }
}

.join-button{
  @media #{$bp-tablet-up} {
    display: none;
  }
}


// CONTACT SECTION
.home--contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    width: 100%;
    max-width: 1090px;
    margin-bottom: 27px;
  }

  &--tablet-up-only {
    display: none;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    width: 832px;
    margin-top: 10px;

    p {
      margin: 0;

      a {
        font-weight: 700;
      }
    }
  }

  @media #{$bp-tablet-up} {
    h2 {
      border-bottom: 1px solid #706E6E;
      padding-bottom: 27px;
    }

    &--tablet-up-only {
      display: revert;
    }
  }

  @media #{$bp-desktop-up} {
    padding-top: 74px;
    padding-bottom: 74px;
    
    .contact-links {
      flex-direction: row;
      gap: 0;
    }
  }
}