/*--------
| Mobile 
----------*/

.join-us-wrapper {
  min-height: 100vh;
}

.join-us-card-container {
  background: $color-pink;
  display: flex;
  flex-direction: column;

  .join-us-remove-p-padding {
    padding-bottom: 0;
  }

  .btn-partner-with-us {
    margin-bottom: 27px;
    width: 175px;
  }

  .join-us-donation-circles {
    margin-bottom: 26px;
  }

  .join-us-donation {
    margin: 20px auto;
    background: $color-whitesmoke;
    padding: 20px;
    border-radius: 20px;

    h3 {
      margin: 24px auto;
      text-align: center;
    }

    img {
      width: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

/*---------
| Tablet
-----------*/
@media #{$bp-tablet-up} {
  .join-us-card-container {
    .page-card--join {

      #join-us-donation-icon {
        margin: 1rem auto;
        align-self: flex-start;
      }

      .join-us-donation {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;

        img {
          width: 318px;
        }
      }

      .join-us-donation-circles {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        margin-bottom: 26px;
      }

      .join-us-in-kind {
        display: flex;
        flex-direction: column;
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
      }

      .join-us-in-kind-title{
        text-align: center;
      }
    }
  }
}

/*---------
| Desktop
-----------*/