.header-container {
  .header-hero-image--privacy-policy {
    object-fit: contain;
    height: 240px;
    width: 236.41px;
  }
}
.content-section--privacy-policy {
  #visiting-hackforlaorg,
  #email-addresses,
  #third-party-service-providers,
  #google-analytics,
  #how-to-opt-out-of-the-use-of-cookies {
    margin-top: 24px;
  }
  ul,
  p {
    font-size: $font-size-paragraph2;
  }

  h2 {
    margin-bottom: 24px;
  }

  #overview {
    margin-top: 0px;
  }

  h3 {
    font-size: #{map-get($font-size-title4, desktop)};
    margin-bottom: 18px;
  }
  #visiting-hackforlaorg + p,
  #as-required-by-law-and-similar-disclosures + p {
    margin-bottom: 0px;
  }
}

@media #{$bp-desktop-up} {
  .header-container {
    .header-hero-image--privacy-policy {
      align-self: start;
    }
  }
  .content-section.content-section--privacy-policy {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .page-card--privacy-policy {
    padding: 36px 57px;
  }
  .content-section--privacy-policy {
    h2 {
      margin-top: 48px;
    }
  }
}

@media #{$bp-below-desktop} {
  /* 
  This has the same font-size as paragraph3 so it can be used for the Privacy Policy page in mobile screen sizes,
  which is a different font-size than the paragraph2 classes used for desktop size screens.
  */
  .content-section--privacy-policy {
    ul,
    p {
      font-size: $font-size-paragraph3;
      line-height: 1.375;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: $color-black;
    }
    h2 {
      margin-top: 32px;
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }
  .header-container--privacy-policy {
    padding: 32px 37.5px;
  }

  .page-card--privacy-policy {
    padding: 28px 21.5px;
  }
}
