.project-banner {
    background: $color-blue-dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    max-height: 300px;
    min-height: 100vh;
    position: relative;
  
    @media #{$bp-tablet-up} {
      min-height: 0;
    }
  }

.project-page-title {
  background: $color-blue-dark;
  margin-left: 20px;
}

.project-page-content {
  background: $color-teal;
}

.project-page-card {
  background: $color-white;
  border: 0 solid rgba($color-black, 0.06);
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba($color-black, 0.2);
  margin-bottom: 24px;
  overflow: hidden;
}

.project-page-description {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
}

.project-page-description-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 30px 30px 30px;
}

.project-page-resources {
    padding: 16px 16px;
  }

.resource-header {
  //padding: 30px 30px 30px 30px;
}

.resource-list {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
}

.resource-card {
    background: $color-white;
    border: 0 solid rgba($color-black, 0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba($color-black, 0.2);
    margin-bottom: 24px;
    overflow: hidden;

    max-width: 160px;
    max-height: 192px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

    @media #{$bp-tablet-up} {
        margin-bottom: 0;
    }
}

.resource-tmb {
    width: 128px;
    height: 128px;
}

.resource-tmb-img {
    width:100%;
    height: 100%;
    object-fit: cover
    
}

.resource-body {
    padding: 10px;
}

.resource-header {
    margin-block-end: 0px;
}