.program-areas-header {
    display: flex;
    justify-content: center;

    &__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 5rem;

        @media #{$bp-below-desktop} {
          margin-bottom: 1.625rem;
        }

        h1 {
            margin-top: 2.25rem;
            margin-bottom: 3.125rem;

          @media #{$bp-below-desktop} {
            margin-top: 2rem;
          }  
        }
    }

    &__text-group {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-evenly;
        text-align: center;
        padding: 1.4rem 0;
        background-color: $color-pink;
    
    
            a {
                font-weight: 300;
                text-decoration: none;
                color: black;
            }
            a:hover {
                color: $color-mediumvioletred;
                transform: scale(1.01);
            }

            .selected-category {
            color: $color-mediumvioletred;
            }

    }
    
    &__p {
        font-size: 1.125rem;
        max-width: 508px;
        text-align: left;
        margin: 12px auto;
    }

    &__hero-image {
        margin: 33px 0px;
        max-width: 100%;
    }
}

.program-areas-hero-svg {
    width: auto;
    height: 240px;

    @media #{$bp-below-tablet} {
      height: auto;
      max-width: 500px;
      width: 80%;
    }
}

@media(max-width: 960px) {
    .program-areas-header {
        flex-flow: column;

        &__text {
            margin-right: 0;

            h1 {
                margin-bottom: 1rem;
            }
        }

        &__p {
            margin-bottom: 0;
        }

        &__hero-image {
            margin: 10px 0;
        }
    }

    .header-container {
        padding: 2rem;
        margin-top: 10%;
    }
}

.content--program-areas {
    background: $color-pink;
    display: flex;
    flex-direction: column;
  
    .page-card-container {
      display: flex;
      min-height: 454px;
      height: fit-content;
  
      @media #{$bp-below-desktop} {
        flex-direction: column;
      }
    }
  
    .page-card-image-container {
      flex: 0 0 auto;
      width: 327px;
      overflow: hidden;

      @media #{$bp-below-desktop} {
        width: 100%;
        max-height: 40vh;
      }
    }
  
    .page-card-image {
      /*moved this to the container so I could use object-fit to accomodate random heights
      margin: -5px;
      max-width: 372px;*/
      width: 100%;
      height: 100%;
      object-fit: cover;
    
      @media #{$bp-below-tablet} {
        height: 231px;
      /*  width: 100%;
        max-height: 40vh;
        overflow: hidden;*/
      }
    }
  
    .page-card-content {
      flex: 0 1 auto;
      margin: 34px;
      height: -moz-fit-content;
      height: fit-content;
      @media #{$bp-below-tablet} {
        margin: 40px 0;
        padding: 0 16px;
      }
    }
    .page-card-content h3 {
      @media #{$bp-mobile-up} {
        font-size: 1.25rem;
      }
      @media #{$bp-desktop-up} {
        font-size: 1.5rem;
      }
    }
  }

.project-card-mini{
    width: 92px;
    height: 120px;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 13px 26px 13px 0px;
    font-size: 13px;
    line-height: 15.23px;
    text-align: center;


    .project-card-mini-image{
        width: inherit;
        height: 67.83px;
    }

    .project-card-mini-title{
        text-align: center;
    }
    &-list-alignment{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-inline-start: 0px;


      .project-card-mini-spacer { // Blank card mini class that is used as a spacer for centering purposes.
        width: 118px; // Width of the project card mini + margin
        list-style: none;
      }
      
      @media #{$bp-below-tablet} {
        justify-content: center;
        padding-inline-start: 26px; // Offsets 26px margin 
      }

    }

}
