.covid-notification-banner {
    background-color: $color-gold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    p {
        text-align: center;
        font-weight: bold;
        margin: 0;
        padding: 15px 0;
    }
}

.calendar-started-page {
    background: $color-darkblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-card--project-meetings {
    padding: 30px;

    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-mobile} {
        padding: 32px 16px;
    }
}

.schedule-list {
    list-style: none;

    li:before {
        content: "\2022";
        color: $color-red;
        font-weight: bold;
        font-size: 28px;
        display: inline-block;
        width: 0.60em;
        margin-left: -0.6em;
        vertical-align: middle;
    }
}

.time-slot-text {
    vertical-align: text-top;
    display: inline-block;
    margin-block-end: 0;
}

.day-header {
    margin-block-end: 16px;
}

.meetings-message {
    text-align: center;
}

.userTimeZone {
    margin-bottom: 20px;
}