.project-hero {
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  margin-top: 29px;
  width: 100vw;
  height: 46vw;
  max-height: 74vh;



  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba($color-darkblue, 0.3) 0%,
      rgba($color-darkblue, 1) 100%
    );
    content: "";
    display: block;
    z-index: 1;

    @media #{$bp-tablet-up} {
      background: linear-gradient(
        to bottom,
        rgba($color-darkblue, 0) 30%,
        rgba($color-darkblue, 1) 100%
      );
      opacity: 1;
    }

    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-mobile} {
      background: linear-gradient(to bottom, rgba(3,13,45,0.3) 30%, #030d2d 100%);
    }
  }
}

.meetingTime {
  padding-bottom: 1rem;
}

.project-home-page {
  background: #030d2d;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    
  }
}

.page-card--project-description-page {
  padding: 30px;
  margin-bottom: 0;
  margin-top: 28px;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    padding: 30px 15px;
  }
}

.getting-page-card-title {
  color: $color-black;
}

.project-page-card-title {
  color: $color-black;
}

#project-description-card {
  padding-bottom: 19px;
}

.project-page-status-indicator {
  display:inline-block; 
  float:none;
}

.project-page-description {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
  padding: 0px 2%;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.project-page-description-field {
  display: inline-block;
}

.open-roles {
  margin-bottom:7px;
}

#open-roles-list {
  column-count: 2;
  list-style: none;
  margin-bottom: 0;
  padding-left: 18px;
  li:before {
    content: "\2022";
    color: #fa114f;
    font-weight: bold;
    font-size: 28px;
    display: inline-block;
    width: 0.60em;
    margin-left: -0.6em;
    vertical-align: middle;
  }

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    column-count: 1;
  }
}

.description-grid-item {
  padding: 0px 10px;
}

.getting-started {
  margin: 4% 39% 0% 39%;
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  padding: 0px 13px;
  border-radius: 12px;
  width: fit-content;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    margin: 4% auto 0% auto;
  }
}

.getting-started-button-text {
  margin-bottom:0px; 
  white-space: nowrap;
}

.getting-started-button {
  width: 38px;
  height: 34px;;
  margin: 0 5px;
  border: none;
  background: transparent;

  transition: transform 1s;

  &:focus {
    outline: 0;
  }
  &:hover {
    background: transparent;
  }
}

#getting-started-section {
  padding: 30px;
  transition: max-height 1s, padding 1s;
  margin-top: 28px;
}

#help-getting-started {
  height: 175px;
  width: 224px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgba(51,51,51,0.1);
  border-radius: 16px;
  padding: 5px 15px;
  text-align: left;
}

.help-getting-started-text {
  margin: 0px 15px 13px 15px;
}

.btn--project-help-make-guide {
  margin: 0 0 0 0;

  &:focus {
    outline: 0;
  }
}

#help-make-text-section {
  height: 175px;
  max-width: 0px;
  padding: 35px 0px;
  overflow: hidden;
  text-align: center;
  min-width: 0px;
  transition: min-width 1s, padding 1s;
  text-align: left;
}

.project-start-guide-img {
  margin: 17% 0 17% 0;
  border-radius: 11px;
}

.resource-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 21px;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
  }
}

.resource-link {
  text-decoration: none;
  &:link{
    color: #333;
  }
  &:visited{
    color: #333;
  }
  &:hover{
    color: #fa114f;
  }
}

.resource-card {
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba($color-black, 0.2);
  overflow: hidden;
  display: inline-block;
  margin: 0px 42px 21px 0px;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    margin: 0px 13px 21px 0px;
  }
}

.resource-img {
  width: 128px;
  height: 128px;
  padding: 20px;
  margin: auto auto;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    width: 116px;
    height: 116px;
  }
}

.resource-img-provided {
  padding:12px;
}

.resource-title {
  font-size: 16px;
  margin-block-end: 0px;
}

.resource-body {
  padding: 10px;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #ececec;
}

.leader-img {
  margin: 12px 12px 12px 12px;
  width: 70px;
  min-width: 40px;
  border-radius: 12px;
}

.contributor-link {
  margin: 12px 24px 12px 0px;
  width: 70px;
  min-width: 70px;
  border-radius: 12px;
}

.leader-card {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 24% auto;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
  margin: auto 32px auto 0px;
  margin-bottom: 25px;
  width: 46%;

  // NEW MOBILE FRIENDLY RULES
  @media #{$bp-below-mobile} {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto auto 25px auto;
  }
}

.leader-description {
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$bp-below-mobile} {
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }
}

.leader-description-field {
  margin-block-end: 0.25em;
}

.empty-content-message {
  font-style: italic;
  max-height: 175px;
  max-width: 229px;
  margin: 0px 0px 30px 21px;
  text-align: center;
  border: 1px solid rgba(51,51,51,0.1);
  border-radius: 16px;
  padding: 5px 15px;
  text-align: left;
}

.empty-content-message p {
  margin-block-end: 0;
  padding: 10px 10px;
}

.role-paragraph {
  display: inline-block;
  margin-block-end: 0;
  vertical-align: text-top;
}

.contributor-div {
  box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
  border-radius: 16px;
  margin: 13px 30px 13px 0px;
  width: 94px;
  padding: 12px;
  flex-shrink: 0;

  @media #{$bp-below-mobile} {
    margin: 0px 10px 26px 0px;
  }
}


.userTimeZone--project-page {
  font-size: 15px;
  margin-bottom: 20px;
}
