//mobile view

@mixin mobile {
  @media #{$bp-below-tablet} {
    @content;
  }
}

.header-container--sitemap {
  display: flex;
  flex-direction: row;
  justify-content: center;

  img {
    max-width: 252.14px;
  }
  @include mobile {
    flex-direction: column;
    align-items: center;
    padding: 32px;
  }
}

// .header-container{
//   @include mobile{
//     padding: 32px auto ;
//   }
// }

.header-text-margin--sitemap {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  p {
    font-size: 18px;
    max-width: 508px;
    margin-top: 8px;
    text-align: left;
  }
  @include mobile {
    margin: auto;
    margin-bottom: 36px;
    .title1 {
      margin-bottom: 20px;
    }
  }
}

.sitemap-page {
  background: #f7f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title4 {
    margin-bottom: 32px;
  }
  p {
    font-size: 16px;
    max-width: 477px;
    margin: auto;
    margin-bottom: 40px;
  }
  @include mobile {
    p {
      font-size: 16px;
      max-width: 300px;
    }
  }

  .page-card--sitemap-flex {
    padding: 48px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  @media #{$bp-tablet-up} {
    .page-card-lg:nth-child(1n + 2) {
      padding-left: 0;
    }
  }

  .page-card--sitemap {
    width: 100%;
    padding: 48px;

    @media #{$bp-below-mobile} {
      padding: 32px 16px;
    }
  
    img {
      margin: auto;
      margin-left: auto;
    }
    .card-mobile-icon {
      display: none;
    }
    @include mobile {
      .title4 {
        text-align: center;
      }
      .card-desktop-icon {
        display: none;
      }
      .card-mobile-icon {
        display: flex;
        margin: 58px auto;
      }
      a {
        display: flex;
        justify-content: center;
      }
    }
  }
  
  /*   Page-specific button  */

  .btn--site-map-suggest {
    width: 224px;
    height: 40px;
    font-size: 1rem;
    text-align: center;
    margin: 0 !important;
    border-radius: 20px;
  }

  /*   Medium Long Button  - more padding */

  .btn-md-long-2 {
    height: 40px;
    padding: 0 44px;
    border-radius: 20px;
    font-size: 1rem;
  }
}
