//mobile view

@mixin mobile {
  @media #{$bp-below-tablet} {
    @content;
  }
}

.sitemap-page {
  background: #f7f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title4 {
    margin-bottom: 32px;
  }
  p {
    font-size: 16px;
    max-width: 477px;
    margin: auto;
    margin-bottom: 40px;
  }
  @include mobile {
    p {
      font-size: 16px;
      max-width: 300px;
    }
  }

  .page-card--sitemap {
    width: 100%;
    padding: 48px;

    @media #{$bp-below-mobile} {
      padding: 32px 16px;
    }
  
    img {
      margin: auto;
    }

    @include mobile {
      .title4 {
        text-align: center;
      }

      a {
        display: flex;
        justify-content: center;
      }
    }
  }

  /*   Page-specific button  */

  .btn--site-map-suggest {
    width: 224px;
    height: 40px;
    font-size: 1rem;
    text-align: center;
    margin: 0 !important;
    border-radius: 20px;
  }

  /*   Medium Long Button  - more padding */

  .btn-md-long-2 {
    height: 40px;
    padding: 0 44px;
    border-radius: 20px;
    font-size: 1rem;
  }
}
