.toolkit-header {
    display: flex;
    justify-content: center;

    &__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 5rem;

        h1 {
            margin-bottom: 3.125rem;
        }
    }

    &__text-group {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-evenly;
        text-align: center;
        padding: 1.4rem 0;
        background-color: $color-pink;
    
    
            a {
                font-weight: 400;
                text-decoration: none;
                color: $color-black;
            }
            a:hover {
                color: $color-red;
                transform: scale(1.01);
            }

            .selected-category {
                font-weight: 700;
                color: $color-red;
            }

    }
    
    &__p {
        font-size: 1.125rem;
        max-width: 508px;
        text-align: left;
        margin: 12px auto;
    }

    &__hero-image {
        margin: 33px 0px;
        max-width: 100%;
    }
}

.toolkit-svg {
    width: auto;
    height: 240px;
}

@media(max-width: 850px) {
    .toolkit-header {
        flex-flow: column;

        &__text {
            margin-right: 0;

            h1 {
                margin-bottom: 2.25rem;
            }
        }

        &__p {
            margin-bottom: 0;
        }

        &__hero-image {
            margin: 10px 0;
        }
    }

    .header-container {
        padding: 2rem;
        margin-top: 10%;
    }
}

.toolkit-background {
    background-color: #030D2D;
    padding: 2rem;
}

.suggest-guide-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.suggest-guide-group h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    color: #FFFFFF;
    margin-bottom: 0;
}

.toolkit-flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: stretch;
    justify-content: center;
}

// .outer-link {
//     width: 1.5rem;
// }

.toolkit-flex-item.section-container {
    position: relative;
    max-width: 23rem;
    padding: 0rem;
    height: auto;
    margin: 1.2rem 1rem;
    overflow: hidden;

    a {
        width: 1.5rem;
    }
}

.toolkit-flex-item-img-container {
    max-height: 16.95rem;
    overflow: hidden;
}

.toolkit-flex-item-img-container svg {
    width: 100%;
    height: 100%;
}

.resource-svg-icons {
    height: 17.5rem;
    width: 17.5rem;
    margin: 0 auto;
}

.toolkit-info-container {
    margin: 1rem 0rem 2rem;
    padding: 0rem 2rem;

    h3 {
        font-weight: normal;
        text-align: left;
        font-size: 1.125rem;
        height: fit-content;
    }
}

.toolkit-info-container p {
    margin: 1rem auto auto 0rem;
    line-height: 1.1rem;
    width: 100%;
}

// .not-clickable {
//     color: black !important;
// }

.toolkit-flex-item-status {
    position: absolute;
    font-size: 1.125rem;
    line-height: 1.2rem;
    right: 1rem;
    bottom: 1rem;
}

.toolkit__card-list {
    margin-bottom: 10rem;
}

@media only screen and (max-width: 1430px) {
    .toolkit-header {

        &__text-group {
            padding-left: 0;
            padding-right: 0;
        }

        &__banner-item {
            font-size: 1.1rem;
            margin: 0 2.5rem;
        }
    }
}

@media #{$bp-below-desktop} {

    .toolkit-header {

        &__text-group {
            justify-content: space-evenly;
            align-items: center;
        }

        &__banner-item {
            font-size: .9rem;
            margin: 0 .6rem;
            max-width: 6rem;
            text-align: center;
        }
    }

    .suggest-guide-group {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .toolkit-flex-container {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0;
    }

    .toolkit-flex-item {
        margin: 0 auto;
    }

    .resource-svg-icons {
        height: 15.5rem;
        width: 15.5rem;
    }
}



@media #{$bp-below-mobile} {
    .toolkit-header {
        padding-bottom: 3rem;

        &__banner-item {
            font-size: .5rem;
            max-width: 3.6rem;
        }

        &__p {
            font-size: 1rem;
        }
    }
}



    .toolkit-flex-item {
        margin-bottom: 1.5rem;
    }

    .resource-svg-icons {
        height: 14.5rem;
        width: 14.5rem;
    }

    .toolkit-info-container {
        h3 {
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            line-height: 1.5rem;
            max-height: fit-content;
        }
    }

    .suggest-guide-group {
        h2 {
            margin-bottom: 1rem;
        }
    }

    @media #{$bp-below-tablet} {
        .toolkit-svg {
            max-width: 350px;
        }
    }

    @media #{$bp-below-mobile} {
        .toolkit-svg {
            max-width: 250px;
        }
        .suggest-guide-group {
            flex-direction: column;
        }
        .toolkit-flex-container {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            flex-direction: column;
        }


    }