.toolkit-header {
    &__text-group {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-evenly;
        text-align: center;
        padding: 1.4rem 0;
        background-color: $color-pink;

        a {
            font-weight: 400;
            text-decoration: none;
            color: $color-black;
        }
        a:hover {
            color: $color-red;
            transform: scale(1.01);
        }

        .selected-category {
            font-weight: 700;
            color: $color-red;
        }
    }
}

.toolkit-background {
    background-color: #030D2D;
    padding: 2rem;
}

.suggest-guide-group {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.suggest-guide-group h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    color: #FFFFFF;
    margin-bottom: 0;
}

/*
  Refer to issue #1999. This part, the accompanying divs in toolkit.html (lines 89 and 109),
  and $screen-desktop-large under _layout.scss were added to take into account how the external
  resources look at a certain breakpoint ($bp-desktop-large-up). As of 7/22/2021, there are only three resources in the list.
  Since suggest-site-group div was added to the grid and takes up the entire first row, the rows that
  follow does not go to the center and instead aligns to the left. The media queries here fixes that.
  When there are four or more resources added in the future, this part (and the divs in toolkit.html)
  can be removed.
*/
.external-resource-container {
    @media #{$bp-desktop-large-up} {
        display: flex;
        grid-column: 1 / -1;
        justify-content: center;
    }

    @media #{$bp-below-desktop-large} {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
        grid-column: 1 / -1;
        align-items: stretch;
        justify-content: center;
    }

    @media #{$bp-below-desktop} {
        //display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0;
    }

    @media #{$bp-below-mobile} {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    }
}

.toolkit-flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    align-items: stretch;
    justify-content: center;
}

.toolkit-flex-item.section-container {
    position: relative;
    max-width: 23rem;
    padding: 0rem;
    height: auto;
    margin: 1.2rem 1rem;
    overflow: hidden;
    
    a {
        width: 1.5rem;
    }
}

.toolkit-flex-item-img-container {
    max-height: 16.95rem;
    overflow: hidden;
}

.toolkit-flex-item-img-container svg {
    width: 100%;
    height: 100%;
}

.resource-svg-icons {
    height: 17.5rem;
    width: 17.5rem;
    margin: 0 auto;
}

.toolkit-info-container {
    margin: 1rem 0rem 2rem;
    padding: 0rem 2rem;

    h3 {
        font-weight: normal;
        text-align: left;
        font-size: 1.125rem;
        height: fit-content;
    }
}

.toolkit-info-container p {
    margin: 1rem auto auto 0rem;
    line-height: 1.1rem;
    width: 100%;
}

.toolkit-flex-item-status {
    position: absolute;
    font-size: 1.125rem;
    line-height: 1.2rem;
    right: 1rem;
    bottom: 1rem;
}

.toolkit__card-list {
    margin-bottom: 10rem;
}

@media only screen and (max-width: 1430px) {
    .toolkit-header {

        &__text-group {
            padding-left: 0;
            padding-right: 0;
        }

        &__banner-item {
            font-size: 1.1rem;
            margin: 0 2.5rem;
        }
    }
}

@media #{$bp-below-desktop} {

    .toolkit-header {

        &__text-group {
            justify-content: space-evenly;
            align-items: center;
        }

        &__banner-item {
            font-size: .9rem;
            margin: 0 .6rem;
            max-width: 6rem;
            text-align: center;
        }
    }

    .toolkit-flex-container {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(2, minmax(0, max-content));
        padding: 0;
    }

    .toolkit-flex-item {
        margin: 0 auto;
    }

    .resource-svg-icons {
        height: 15.5rem;
        width: 15.5rem;
    }
}

@media #{$bp-below-tablet} {
    .toolkit-svg {
        max-width: 350px;
    }

    .external-resources-text {
      text-align: left;
    }
}

@media #{$bp-below-mobile} {
    .toolkit-header {

        &__banner-item {
            font-size: .5rem;
            max-width: 3.6rem;
        }
    }
}

.toolkit-flex-item {
    margin-bottom: 1.5rem;
}

.resource-svg-icons {
    height: 14.5rem;
    width: 14.5rem;
}

.toolkit-info-container {
    h3 {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        line-height: 1.5rem;
        max-height: fit-content;
    }
}

@media #{$bp-below-mobile} {
    .toolkit-svg {
        max-width: 250px;
    }
    .suggest-guide-group {
        flex-direction: column;
        padding: 0;
        margin: 0;

        h2 {
            margin-bottom: 1rem;
        }
    }
    .toolkit-flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    }
    .external-resources-text {
      text-align: center;
    }
}
