.toolkit-header {
    padding-top: 10rem; 
    padding-bottom: 10rem;

    @media only screen and (max-width: 1200px) {
        padding-bottom: 3rem;
    }

    &__text-group {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-evenly; 
        padding-left: 30rem; 
        padding-right: 30rem; 
        text-align: center;
        padding: 1.5rem 22rem;

        @media only screen and (max-width: 1300px){
            padding-left: 0;
            padding-right: 0;
            justify-content: space-evenly;
        }

    }
    
    &__h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 3.7rem;
        line-height: 4.3rem;
        align-items: center;
        text-align: center;
    }

    &__h3 {
        margin-block-end: 0;
        font-weight: 300;

        @media #{$bp-below-mobile} {
            font-size: .75rem;
        }
    }
    
    &__p {
        font-style: normal;
        font-weight: normal;
        font-size: 1.7rem;
        line-height: 2rem;
        max-width: 60vw;
        margin: 3rem auto;
        text-align: left;

        @media only screen and (max-width: 1200px){
            max-width: 70vw;
        }

        @media only screen and (max-width: 400px){
            font-size: 1.1rem;
        }

    }

    &__hero-image {
        max-width: 100%;
    }
}

.toolkit-svg {
    width: 45%;
    height: 60%;

    @media only screen and (max-width: 1200px) {
        width: 75%;
    }
}

.toolkit-background {
    background-color: #030D2D;
    padding: 2rem;
}

.suggest-guide-group {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding-left: 3rem; 
    padding-right: 3rem; 
    text-align: center;

    @media only screen and (max-width: 600px){
        justify-content: space-evenly;
        flex-direction: column;
    }
}

.suggest-guide-group h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.toolkit-flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;

    @media only screen and (max-width: 800px) {
        align-content: center;
        flex-direction: column;
    }
}

.outer-link {
    width: 30px;
}

.toolkit-flex-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    min-width: 33rem;
    padding: 0rem;
    min-height: 39rem;
    overflow: hidden;
    margin: 1.2rem 1rem;
    overflow: hidden;

    @media only screen and (max-width: 1200px) {
        flex-basis: 13%; 
        margin: 1rem;
    }

    @media only screen and (max-width: 800px) {
        min-width: 28rem;
        min-height: auto;
    }

    @media only screen and (max-width: 600px) {
        min-height: 30rem;
    }

    @media #{$bp-below-mobile} {
        min-width: auto;
    }

}

.toolkit-flex-item-img-container {
    min-height: 60%;

    @media only screen and (max-width: 1000px) {
        min-height: auto;
    }
}

.toolkit-flex-item-img-container svg {
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 800px) {
        flex: 1;
    }
}

.resource-svg-icons {
    height: 356px;
    width: 356px;
    margin: 0rem auto 1rem auto;
    display: flex;

    @media only screen and (max-width: 800px) {
        height: 164px;
        width: 164px;
        margin-bottom: 3rem;
    }
}

.toolkit-info-container {
    padding: 1rem 2rem 5rem 2rem;

    h3 {
        font-weight: normal;
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.75rem;
        max-height: 2rem;

        @media #{$bp-below-mobile} {
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            line-height: 1.5rem;
            max-height: fit-content;
        }
    }

    @media #{$bp-below-mobile} {
        padding: 2rem;
    }
}

.toolkit-info-container p {
    margin: 1rem auto auto 0rem;
    line-height: 1.1rem;

    @media only screen and (max-width: 500px) {
        width: 15rem;
        padding: 0rem !important;
    }
}

.not-clickable {
    color: black !important;
}

.toolkit-flex-item-status {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    line-height: 1.2rem;

    @media #{$bp-below-mobile} {
        font-size: 1.1rem;
    }
}

.toolkit__card-list {
    margin-bottom: 10rem;
}

.toolkit-button {
    margin: 5px 0px;
}