//Hero styling

//mobile for wins info

.wins-hero{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    img{
        max-height: 360px;
    }
    h1{
        margin-bottom: 56px;
    }
}

.wins-btn{
    max-width: 300px;
    max-height: 75px;
}


.wins-see-more-div {
    position: absolute;
    background-color: white;
    right: 0px;
    bottom: 0px;
    color: $color-red;
    padding: 0px 3px;
    cursor: pointer;
}

.wins-card-text {
	margin-top: 40px;
	height: 88px;
	overflow: hidden;
	position: relative;
    p {
        margin: 0;
    }
}

.wins-icon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin: 2em 0 0 6.5rem;
}
.wins-item-container{
    display: inline-block;
    position: relative;
}
.wins-text-bubble {
    display: none;
    // font-weight: normal !important;
    border-radius: 7px;
    width: 279%;
    left: -108%;
    padding: .6em .5em;
    background: $color-black;
    text-align: center;
    font-weight: 900;
    color: $color-white;
    font-family: arial;
    position: absolute;
    z-index: 100;
}
[data-wins]{
    font-weight: normal 
}
.wins-text-bubble:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid $color-black;
    border-right: 10px solid transparent;
    transform: rotate(45deg);
    border-bottom: 10px solid transparent;
    right: 40%;
    top: 0;
}

.wins-badge-icon {
    min-width: 2em;
    max-width: 2em;
    min-height: 2em;
    max-height: 2em;
    margin: .5em 1.5em .5em 0;
}

.wins-badge-icon:hover + .wins-text-bubble{
    display: block;
}

#overlay-info{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2.6em;
}
.overlay-item-container{
    display: flex;
    align-items: start;
    margin-bottom: 1em;
}
.overlay-badge-icon{
    max-width: 1rem;
    margin-top: .2em;
    margin-right: .7em;
}
.overlay-wins-text{
    margin: 0;
    max-width: 14em;
}

@media #{$bp-below-tablet} {
    .wins-hero{

        img{
            height: 230px;
        }
        h1{
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
        }
        .wins-btn{
            max-width: 217px;
            max-height: 60.5px;
            font-size: 18.5px;
        }
        
    }
}


@media #{$bp-below-mobile} {
    .wins-hero{
        img{
            height: 105px;
        }
        .wins-btn{
            max-width: 134px;
            max-height: 46px;
            font-size: 12px;
            line-height: 14px;
        }
    }
    .wins-icon-container{
        margin: 2em 0 0 3.5rem;
        display: block;
    }
    .wins-item-container{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-bottom: 1em;
    }
    .wins-badge-icon{
        margin-top: .05em;
        min-width: 1.5em;
        max-width: 1.5em;
        min-height: 1.5em;
        max-height: 1.5em;
    }
    .wins-text-bubble{
        display: block;
        width: 72%;
        text-align: left;
        position: relative;
        left: 0;
        padding: 0;
        background: inherit;
        color: $color-black;
    }
    .wins-text-bubble::before{
        border: none;
    }
}

// page
.wins-page-contain{
    margin:0 auto;
    max-width: 1292px;
}
.wins-page-contain > p{
    margin: 18px 60px;
}

//card styling
.wins-card{
    padding: 45px;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: visible;
}
.wins-card-top{
    display: flex;
}
.wins-card-top-right{
    flex-grow: 1;
}
.wins-card-profile-img{
    width: 86px;
    height: 86px;
    border-radius: 100px;
    margin-right: 20px;
}
.wins-card-big-quote{
    width: 28px;
    height: 112px;
    margin-right: 20px;
    margin-left: 58px;
    position: relative;
}
.wins-card-bottom{
    display: flex;
}
.wins-card-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 6px;
}

.wins-card-name{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: .4em;
}
.wins-card-team{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.wins-card-title{
    display: flex;
    justify-content: space-between;
}
.wins-card-icon, .wins-card-github-icon, .wins-card-linkedin-icon{
    margin-left: 18px;
}
.wins-card-icons{
    display: flex;
}
.wins-card-overview{
    margin-top: 1em;
}

@media #{$bp-below-tablet} {
    .wins-card {
        position: relative;
    }

    .wins-card-text{
        height: 81px;
        position: inherit;
    }

    .wins-see-more-div {
        height: 0;
        margin-top: 4px;
        padding: 0;
        right: 7%;
        top: 88.5%;
    }

    .home-getting-started-container {
        h1 {font-size: 2rem;}
    }

    .project-inner {
        font-size: .937rem;
        line-height: 1.3rem;
        margin-bottom: .3rem;
    }
    .btn--wins {
        height: 40px;
        padding: 0 20px;
        border-radius: 20px;
        font-size: 1rem;
        line-height: 40px;
    }
}

@media #{$bp-below-mobile} {
    .wins-card-text{
        height: 80px;
    }
    .wins-card{
        padding: 24px;
    }
    .wins-card-left{
        width: 50px;
    }
    .wins-card-profile-img{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        margin-right: 6px;
    }
    .wins-card-big-quote{
        margin: 0 6px 0 32px;
        height: 54px;
        width: 18px;
        position: static;
    }

    .wins-card-name{
        font-size: 19px;
        line-height: 22px;
    }

    .wins-card-icon{
        margin-left: 13.5px;
    }
    .github-icon{
        height: 20px;
        width: 20px;
    }
    .linkedin-icon{
        height: 20px;
        width: 20px;
    }
    .wins-card-text{
        margin-top: 16px;
    }

    .wins-card-overview{
        margin-top: 0;
        font-size: 16px;
    }
}



//modal overlay
@media #{$bp-desktop-up} {
    .wins-card-overview{
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .overlay {
        display: none;
        z-index: 1;
        position: fixed;
        left: 0px;
        top: 0px;
        width: calc(100vw + 17px);
        height: 100%;
        background-color: rgba(70, 70, 70, 0.5);
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .display-none {
        display: none;
    }

    .display-initial {
        display: flex;
        flex-direction: column;
    }
    .top-buffer{
        height: 20vh;
    }
    .bottom-buffer {
        height: 5vh;
    }
    .modal-container{
        position: absolute;
        width: 60%;
        left: 20%;
    }
    .center-screen {
        opacity: 1;
	}
	.overlay-card-text{
		padding-top: 40px;
	}
	.wins-card-badges{
		display:flex;
		flex-flow: row wrap;
		width: 100%;
		.badge-item{
            flex: 1 1;
            flex-basis: 250px;
			// width: 100px;
			margin: 4px;
			display: flex;
			.badge-icon{
				margin: 2px 12.5px 0 0;
				height: 15px;
				min-width: 30px;
				display: flex;
				justify-content: center;
			}
		}
	}


}

//mobile see more
@media #{$bp-below-desktop} {
    .overlay {
        display: none;
    }
    .display-none {
        display: none;
    }
    .expanded{
        height: auto;
        .wins-see-more-div {
            position: relative;
            text-align: right;
        }
    }
}

.wins-card-content > * {
    flex: 0 0 auto;
}



//wins page filter override section begin
.wins-page-contain > ul.filter-list{
	grid-template-columns: repeat(2, 1fr);
	min-width: 216px;
	width: 40%;

	
}

.wins-page-contain > ul.filter-list li ul {
	width: 100%;
}

@media #{$bp-below-tablet}{
	.wins-page-contain > ul.wins-filter{
		width: 100%;
		grid-template-rows: none;
    }
}
//wins page filter override section end
