//Hero styling
.wins-hero{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	img{
		height: 366;
	}
	h1{
		font-size: 59px;
		line-height: 69px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
	}
}

.wins-btn{
	max-width: 300px;
	max-height: 75px;
}


.wins__see-more-div {
	position: absolute;
	background-color: white;
	right: 0px;
	bottom: 0px;
	color: red;
	padding: 0px 3px;
	cursor: pointer;
}

.wins__card-text {
	padding-top: 40px;
	p {
		margin: 0;
	}

}

@media #{$bp-below-tablet} {
	.wins-hero{

		img{
			height: 230px;
		}
		h1{
			font-style: normal;
			font-weight: normal;
			font-size: 38px;
		}
		.wins-btn{
			max-width: 217px;
			max-height: 60.5px;
			font-size: 18.5px;
		}
		
	}
}

@media #{$bp-below-mobile} {
	.wins-hero{

		img{
			height: 105px;
		}
		h1{
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 28px;
		}
		.wins-btn{
			max-width: 134px;
			max-height: 46px;
			font-size: 12px;
			line-height: 14px;
		}
	}
}

// page
.wins-page-contain{
	margin:0 auto;
	max-width: 1292px;
}
.wins-page-contain > p{
	margin: 18px 60px;
}

//card styling
.wins-card{
	padding: 45px;
	display: flex;
	flex-direction: row;
}
.wins-card-left{
	width: 100px;
	margin-right: 10px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.wins-card-profile-img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.wins-card-big-quote{
	width: 28px;
	height: 96.05px;
	// margin: 8px;
}
.wins-card-content{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	width: 100%;
	position: relative;
	height: 225px;
	overflow: hidden;
	margin-left: 6px;
}

.wins-card-name{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
	margin-top: 13px;
}
.wins-card-team{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
}
.wins-card-top{
	display: flex;
	justify-content: space-between;
}
.wins-card-icon{
	margin-left: 18px;
}
.wins-card-info{
	font-weight: bold;
}

.wins-card-overview{
	margin-top: 1em;
}

@media #{$bp-below-tablet} {
	.wins-card-content{
		height: 233px;
	}
}

@media #{$bp-below-mobile} {
	.wins-card-content{
		height: 215px;
	}
	.wins-card{
		padding: 24px;
	}
	.wins-card-left{
		width: 50px;
	}
	.wins-card-profile-img{
		width: 50px;
		height: 50px;
		border-radius: 100px;
	}
	.wins-card-big-quote{
		margin: 4px;    
		height: 60px;
		width: 18px;
	}

	.wins-card-name{
		font-size: 19px;
		line-height: 22px;
		margin: 0;
		padding-top: 5px;
	}
	.wins-card-team{
		font-size: 12px;
		line-height: 16px;
	}
	.wins-card-icon{
		margin-left: 13.5px;
	}
	.github-icon{
		height: 20px;
		width: 20px;
	}
	.linkedin-icon{
		height: 20px;
		width: 20px;
	}
	.wins__card-text{
		padding-top: 16px;
	}

	.wins-card-overview{
		margin-top: 0;
		font-size: 16px;
	}
}



//modal overlay
@media #{$bp-desktop-up} {
	.wins-card-overview{
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.overlay {
		display: none;
		z-index: 1;
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(70, 70, 70, 0.5);
		padding: 10px;
	}

	.display-none {
		display: none;
	}

	.display-initial {
		display: initial;
	}

	.center-screen {
		position: fixed;
		opacity: 1;
		width: 60%;
		left: 20%;
		top: 30%;
		.wins-card-content{
			height: auto;
		}
	}
}

//mobile see more
@media #{$bp-below-desktop} {
	.overlay {
		display: none;
	}
	.display-none {
		display: none;
	}
	.expanded{
		height: auto;
		.wins__see-more-div {
			position: relative;
			text-align: right;
		}
	}
}

.wins-card-content > * {
	flex: 0 0 auto;
}