//Hero styling
.wins-hero{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    img{
        max-height: 360px;
    }
    h1{
        margin-bottom: 56px;
    }
}

.wins-btn{
    max-width: 300px;
    max-height: 75px;
}


.wins-see-more-div {
    position: absolute;
    background-color: white;
    right: 0px;
    bottom: 0px;
    color: $color-red;
    padding: 0px 3px;
    cursor: pointer;
}

.wins-card-text {
	margin-top: 40px;
	height: 88px;
	overflow: hidden;
	position: relative;
    p {
        margin: 0;
    }
}


@media #{$bp-below-tablet} {
    .wins-hero{

        img{
            height: 230px;
        }
        h1{
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
        }
        .wins-btn{
            max-width: 217px;
            max-height: 60.5px;
            font-size: 18.5px;
        }
        
    }
}


@media #{$bp-below-mobile} {
    .wins-hero{
        img{
            height: 105px;
        }
        .wins-btn{
            max-width: 134px;
            max-height: 46px;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

// page
.wins-page-contain{
    margin:0 auto;
    max-width: 1292px;
}
.wins-page-contain > p{
    margin: 18px 60px;
}

//card styling
.wins-card{
    padding: 45px;
    display: flex;
    flex-direction: column;
}
.wins-card-top{
    display: flex;
}
.wins-card-top-right{
    flex-grow: 1;
}
.wins-card-profile-img{
    width: 86px;
    height: 86px;
    border-radius: 100px;
    margin-right: 20px;
}
.wins-card-big-quote{
    width: 28px;
    height: 112px;
    margin-right: 20px;
    margin-left: 58px;
    position: relative;
}
.wins-card-bottom{
    display: flex;
}
.wins-card-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 6px;
}

.wins-card-name{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: .4em;
}
.wins-card-team{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.wins-card-title{
    display: flex;
    justify-content: space-between;
}
.wins-card-icon, .wins-card-github-icon, .wins-card-linkedin-icon{
    margin-left: 18px;
}
.wins-card-icons{
    display: flex;
}
.wins-card-info{
    font-weight: bold;
}

.wins-card-overview{
    margin-top: 1em;
}

@media #{$bp-below-tablet} {
    .wins-card {
        position: relative;
    }

    .wins-card-text{
        height: 81px;
        position: inherit;
    }

    .wins-see-more-div {
        height: 0;
        margin-top: 4px;
        padding: 0;
        right: 7%;
        top: 88.5%;
    }

    .home-getting-started-container {
        h1 {font-size: 2rem;}
    }

    .project-inner {
        font-size: .937rem;
        line-height: 1.3rem;
        margin-bottom: .3rem;
    }
    .btn--wins {
        height: 40px;
        padding: 0 20px;
        border-radius: 20px;
        font-size: 1rem;
        line-height: 40px;
    }
}

@media #{$bp-below-mobile} {
    .wins-card-text{
        height: 80px;
    }
    .wins-card{
        padding: 24px;
    }
    .wins-card-left{
        width: 50px;
    }
    .wins-card-profile-img{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        margin-right: 6px;
    }
    .wins-card-big-quote{
        margin: 0 6px 0 32px;
        height: 54px;
        width: 18px;
        position: static;
    }

    .wins-card-name{
        font-size: 19px;
        line-height: 22px;
    }

    .wins-card-icon{
        margin-left: 13.5px;
    }
    .github-icon{
        height: 20px;
        width: 20px;
    }
    .linkedin-icon{
        height: 20px;
        width: 20px;
    }
    .wins-card-text{
        margin-top: 16px;
    }

    .wins-card-overview{
        margin-top: 0;
        font-size: 16px;
    }
}



//modal overlay
@media #{$bp-desktop-up} {
    .wins-card-overview{
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .overlay {
        display: none;
        z-index: 1;
        position: fixed;
        left: 0px;
        top: 0px;
        width: calc(100vw + 17px);
        height: 100%;
        background-color: rgba(70, 70, 70, 0.5);
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .display-none {
        display: none;
    }

    .display-initial {
        display: flex;
        flex-direction: column;
    }
    .top-buffer{
        height: 20vh;
    }
    .bottom-buffer {
        height: 5vh;
    }
    .modal-container{
        position: absolute;
        width: 60%;
        left: 20%;
    }
    .overlay-close-icon {
        float: right;  
        padding: 20px 20px 0 0; 
        cursor: pointer;
    }
    .center-screen {
        opacity: 1;
	}
	.overlay-card-text{
		padding-top: 40px;
	}
	.wins-card-badges{
		display:flex;
		flex-flow: row wrap;
		width: 100%;
		.badge-item{
            flex: 1 1;
            flex-basis: 250px;
			// width: 100px;
			margin: 4px;
			display: flex;
			.badge-icon{
				margin: 2px 12.5px 0 0;
				height: 15px;
				min-width: 30px;
				display: flex;
				justify-content: center;
			}
		}
	}


}

//mobile see more
@media #{$bp-below-desktop} {
    .overlay {
        display: none;
    }
    .display-none {
        display: none;
    }
    .expanded{
        height: auto;
        .wins-see-more-div {
            position: relative;
            text-align: right;
        }
    }
}

.wins-card-content > * {
    flex: 0 0 auto;
}



//wins page filter override section begin
.wins-page-contain > ul.filter-list{
	grid-template-columns: repeat(2, 1fr);
	min-width: 216px;
	width: 40%;

	
}

.wins-page-contain > ul.filter-list li ul {
	width: 100%;
}

@media #{$bp-below-tablet}{
	.wins-page-contain > ul.wins-filter{
		width: 100%;
		grid-template-rows: none;
	}
}
//wins page filter override section end
