.getting-started-page {
    margin-top: 29px;
    background: #030d2d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.getting-started-page-card {
    background: #fff;
    border: 0 solid rgba(51,51,51,0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
    overflow: hidden;
    max-width: 896px;
    margin-bottom: 0;
    padding: 30px;
    height: fit-content;
    margin: 12px auto;

    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-mobile} {
        padding: 30px 15px;
    }
}

.getting-started-guide-content-section {
    margin-left: 21px;
}

.zoom-pictures {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.zoom-img {
    width: 320px;
    align-self: center;
}