.content-hack-night {
    margin-top: 85px;
    padding: 88px;
}

.show-video {
    display: flex;
    // margin-left: 12%;
}

.flex-page-card {
    display: flex;
}
.step-img-1{
    height: 134px;
    text-align: center;
    width: 529px;
}
.getting-started-page-card-hack-nights {
    background: #fff;
    border: 0 solid rgba(51, 51, 51, 0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    overflow: hidden;
    max-width: 483px;
    margin-bottom: 0;
    padding: 30px;
    height: fit-content;
    margin: 20px;
    font-family: "Roboto"sans-serif;

    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-mobile} {
        padding: 30px 15px;
    }
}

.meetup-steps {
    display: flex;
    margin: 100px 0;
}

.meetup-steps-1 {
    display: flex;
    margin: 45px 0;
}

#text-content {
    padding: 0 39px;
}

.notification-banner {
    background-color: #f2c94d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.notification-banner p {
    text-align: center;
    font-weight: bold;
    margin: auto 30%;
    padding: 20px;
}

.meetings-message {
    text-align: center;
}
.location-image{
    margin: -5px;
    border-radius: 5px;
    max-width: 372px;
    height: 450px;
}

.getting-started-page-card-locations {
    background: #fff;
    border: 0 solid rgba(51,51,51,0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
    overflow: hidden;
    max-width: 996px;
    margin-bottom: 0;
    // padding: 0 30px 0 0;
    height: fit-content;
    margin: 50px auto;
    font-family: "Roboto" sans-serif;
}

.locations-1{
    display: flex;
}
.location-content{
    margin: 36px;
}

.mini-projects{
    display: flex;
    flex-wrap: wrap;
}
#mini-img{
    width: 90px;
    height: 66px;
}
.img-dis{
    width: 92px;
    border: 1px solid gray;
    margin: 10px;
    height: 120px;
}
.proj-desc{
    text-align: center;
}