.content-hack-night {
    margin: 83px 0px;
    padding: 25px;
}

.show-video {
    display: flex;
    margin-left: 40px;
}

.flex-page-card {
    display: flex;
}
.step-img-1{
    height: 167px;
    text-align: center;
    max-width: 144px;
}
.step-img-2{
    height: 134px;
    text-align: center;
    width: 529px;
}
.getting-started-page-card-hack-nights {
    background: #fff;
    border: 0 solid rgba(51, 51, 51, 0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    overflow: hidden;
    max-width: 483px;
    margin-bottom: 0;
    padding: 20px;
    // height: fit-content;
    margin: 20px;
    font-family: "Roboto"sans-serif;

    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-mobile} {
        padding: 30px 15px;
    }
}

.meetup-steps {
    display: flex;
    margin: 60px 0;
}

.meetup-steps-1 {
    display: flex;
    margin: 45px 0;
}
.meetup-steps-2 {
    display: flex;
    
}

#text-content {
    padding: 0px 28px;
    font-size: 1.22rem;
}
#text-content-1 {
    padding: 0 27px;
    font-size: 18px;
}

.notification-banner {
    background-color: #f2c94d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.notification-banner p {
    text-align: center;
    font-weight: bold;
    margin: auto 30%;
    padding: 20px;
}

.meetings-message {
    text-align: center;
}
.location-image{
    margin: -5px;
    border-radius: 5px;
    max-width: 372px;
    height: 451px;
}

.getting-started-page-card-locations {
    background: #fff;
    border: 0 solid rgba(51,51,51,0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
    overflow: hidden;
    max-width: 996px;
    margin-bottom: 0;
    // padding: 0 30px 0 0;
    height: fit-content;
    margin: 50px auto;
    font-family: "Roboto" sans-serif;
}

.locations-1{
    display: flex;
}
.location-content{
    margin: 36px;
}

.mini-projects{
    display: flex;
    flex-wrap: wrap;
}
#mini-img{
    width: 90px;
    height: 66px;
}
.img-dis{
    width: 92px;
    border: 1px solid gray;
    margin: 10px;
    height: 120px;
}
.proj-desc{
    text-align: center;
}

.days-display{
    font-size: 0.9rem;
}

.title-meetup {
    font-size: 2.25rem;
    text-align: center;
    margin: 67px;
}

.btn-meet{
    background: #fa114f;
    border: 2;
    border-radius: 60px;
    box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    height: 86px;
    /* line-height: 40px; */
    padding: 0 20px;
    text-decoration: none;
    transition: all 100ms ease-in;
    white-space: nowrap;
    width: 78%;
}
.class-btn{
    text-align: center;
    margin-top: 99px;
}
.event-title{
    text-align: center;
    font-size: 31px;
    margin-top: 20px;
}