.content-hack-night {
    margin: 83px 0px;
    padding: 25px;
    @media #{$bp-below-tablet}  {
        margin-top: 52px;
        padding: 0;
    }
}
.header-container-hacknights{
    background: #fff;
    padding: 8px;
    height: fit-content;
    // margin-top: 100px;
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 8%;

    @media #{$bp-below-tablet} {
        margin: 45px 0px;
        padding: 0;
        flex-direction: column;
        margin-top: 96px;
        font-size: 16px;
      }
}

.show-desc{
    margin: 15px 44px;
    @media #{$bp-below-tablet} {
        display: flex;
        flex-direction: column-reverse;
        margin: 49px 24px;
    }
}
.show-video {
    display: flex;
    margin-left: 40px;
    @media #{$bp-below-tablet} {
        flex-direction: column;
        margin: 0;
    }
}

.flex-page-card {
    display: flex;

    @media #{$bp-below-tablet} {
        flex-direction: column;
        width: 100%;
    }
}
.step-img-1{
    height: 134px;
    text-align: center;
    max-width: 150px;
}
.step-img-2{
    height: 134px;
    text-align: center;
    max-width: 150px;
}
.getting-started-page-card-hack-nights {
    background: #fff;
    border: 0 solid rgba(51, 51, 51, 0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    overflow: hidden;
    max-width: 489px;
    margin-bottom: 0;
    padding: 18px;
    margin: 8px;
    font-family: "Roboto"sans-serif;

    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-mobile} {
        padding: 30px 15px;

    }
}

.getting-started-mobile-page{
    display: none;
    background: #fff;
    border: 0 solid rgba(51, 51, 51, 0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
    overflow: hidden;
    max-width: 654px;
    margin-bottom: 0;
    padding: 20px;
    margin: 20px;
    font-family: "Roboto"sans-serif;

    @media #{$bp-below-mobile} {
        display: flex;
        padding: 30px 15px;
        justify-content: center;

    }
}
.video-size{
    left: 0;
     top: 0; 
    width: 387px; 
    height: 250px;

    @media #{$bp-below-mobile} {
        left: 0;
        top: 0;
        width: 308px;
        height: 215px;
}
}


.meetup-steps {
    display: flex;
    margin: 60px 0;

    @media #{$bp-below-mobile} {
        flex-direction: column;
        text-align: center;
    }
}
.meetup-steps-2 {
    display: flex;
    @media #{$bp-below-mobile} {
        flex-direction: column;
        text-align: center;
    }
}

#text-content {
    padding: 28px;
    font-size: 16px;
    line-height: 19px;

    @media #{$bp-below-mobile} {
        padding: 0;
        font-size: 1rem;
    }
}
#text-content-1 {
    padding: 28px;
    font-size: 16px;
    line-height: 19px;

    @media #{$bp-below-mobile} {
        padding: 8px;
        font-size: 1rem;
    }
}

.notification-banner {
    background-color: #f2c94d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    @media #{$bp-below-tablet} {
        margin: 25px 0;
        flex-direction: column;
    }
}

.notification-banner p {
    text-align: center;
    font-weight: bold;
    margin: auto 30%;
    padding: 20px;

    @media #{$bp-below-mobile} {
        text-align: justify;
        padding: 9px;
        margin: 0;
    }
}

.meetings-message {
    text-align: center;
}
.location-image{
    margin: -5px;
    border-radius: 5px;
    max-width: 372px;
   
    @media #{$bp-below-mobile} {
        height: auto;
    }
}

.getting-started-page-card-locations {
    background: #fff;
    border: 0 solid rgba(51,51,51,0.06);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
    overflow: hidden;
    max-width: 996px;
    margin-bottom: 0;
    padding: 20px;
    margin: 45px;
    font-family: "Roboto" sans-serif;
    height: fit-content;

    @media #{$bp-below-tablet} {
        width: 335px;
        padding: 16px 9px;
    }
}

.locations-1{
    display: flex;
    height: 388px;
    margin: -17px;

    @media #{$bp-below-mobile} {
        flex-direction: column;
        text-align: center;
        height: fit-content;
    }
}
.location-content{
    margin: 34px;
    @media #{$bp-below-mobile} {
        margin: 40px 0;
        padding: 0;
    }
}

.mini-projects{
    display: flex;
    flex-wrap: wrap;
}
#mini-img{
    width: 90px;
    height: 66px;
}
.img-dis{
    width: 92px;
    border: 1px solid gray;
    margin: 10px;
    height: 120px;
}
.proj-desc{
    text-align: center;
}

.days-display{
    font-size: 0.9rem;
    margin: 22px 32px;
    
    @media #{$bp-below-mobile} {
        font-size: 0.7rem;
        margin: 0;
    }
}

.title-meetup {
    font-size: 25px;
    text-align: center;
    margin: 67px;

    @media #{$bp-below-mobile} {
        margin: 0;
    }
}

.btn-meet{
    background: #fa114f;
    border: 2;
    border-radius: 60px;
    box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    height: 86px;
   
    padding: 0 20px;
    text-decoration: none;
    transition: all 100ms ease-in;
    white-space: nowrap;
    width: 62%;

    @media #{$bp-below-mobile} {
       font-size: 1.1rem;
       width: 70%;
    }
}
.class-btn{
    text-align: center;
    margin-top: 44%;

    @media #{$bp-below-mobile} {
        margin: 0;
     }
}
.event-title{
    text-align: center;
    font-size: 31px;
    margin-top: 20px;

    @media #{$bp-below-tablet} {
        font-size: 17px;
        display: flex;
        justify-content: space-between;
     }
}

.vector-img{
    display: none;

    @media #{$bp-below-tablet} {
        display: initial;
     }
}

.arrow-down{
    display: none;
    width: 36px;
    height: 35px;
    @media #{$bp-below-tablet} {
        display: initial;
     }
}

.mobile-dropdown{

    @media #{$bp-below-tablet} {
        display: none;
     }
}

.mobile-locations-dropdown{
    @media #{$bp-below-tablet} {
        display: none;
     }
}   

