<!doctype html>
<html lang="en">
{% include head.html %}
<body>  
  <div id="app">
    <a id="skip-link" class="sr-only-focusable" href="#content">
      <!-- PLEASE DO NOT REMOVE, THIS <a> TAG EXISTS FOR ACCESSIBILITY REASONS -->
      Skip to main content.
    </a>
    {%- include header.html -%}
    <main role="main" id='content'>
      {{ content }}
    </main>
    {%- include footer.html -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="{{ '/assets/js/api-actionnetwork.js' | absolute_url }}"></script>
  </div>
</body>
</html>
