---
layout: default
---

<div style='background-image: url({{ page.image }});' class='project-banner'></div>

<div class='content-section project-details'>
    <h2>{{ page.title }}</h2>
    <p>{{ page.description }}</p>
    <p><strong>Partner:</strong> {{ page.partner }}</p>
    <p><strong>Looking for:</strong> {{ page.looking }}</p>
    <p><strong>Location:</strong> {{ page.location }}</p>
    <p><strong>Languages:</strong></p>
    <p><strong>Status:</strong></p>
</div>

<div class='content-section links'>
    <ul class="link-list unstyled-list">
        {%- for item in page.links -%}
            <li class='link-card'>
                <div class='link-card-inner'>
                    <!--Where the images will be-->
                    <div class='link-tmb'>
                        <img src={{ page.image | absolute_url }} class='link-tmb-img' alt={{page.alt}}/>
                    </div>

                    <div class='link-body'>
                        <h4 class='link-header'>
                            <a href='{{ item.url }}'>{{ item.name }}</a>
                        </h4>
                    </div>
                </div>
            </li>
        {%- endfor -%}
    </ul>
</div>

{{ content | markdownify }}
