<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167506267-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-167506267-1');
    </script>
    <!-- End Google tag -->
    <link rel="canonical" href="{{ page.redirect_to }}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0;url={{ page.redirect_to }}" />
    <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}" />
</head>
<body>
    {%- include header.html -%}
    <main role="main">
        <section class="content-section redirect">
            <div class="page-contain redirect-page-contain">
                <h2>Redirecting...</h2>
                <p>We are connecting you to an outside resource.<a href="{{ page.redirect_to }}">{{ page.redirect_to }}</a></p>
                <p>Please click the link above if you are not automatically redirected after a few seconds.</p>
            </div>
        </section>
    </main>
    {%- include footer.html -%}
    <script>location='{{ page.redirect_to }}'</script>
</body>
</html>
