---
layout: default
title: Events - Hack for LA
permalink: /events/
---

<div class="header-container hacknights--header-container">
  {% include_relative header-container-content.html %}
</div>

<section class="content-section events-page">

    <h1 style="color: #ffffff; margin-top: 48px; font-size: 36px">Our Events</h1>
    <div class="flex-page-card">
      <div class="column-card-lg--events">
        <h2 class="event-title">
          <img class="vector-img" src="../assets/images/hack-nights/meetup.svg" alt="image of an m" />
          Meetup Events
        </h2>
        <div class="mobile-dropdown">
          
          <div class="meetup-steps">
            <div id="img-content">
              <img class="step-img-1" src="../assets/images/getting-started/step1.png" />
            </div>
            <div id="text-content">
              <h2 class="title-meetup">Onboarding</h2>
              <p>
                If you are new to the community, join us for Onboarding Night! We
                offer both Guided Onboarding and Self Onboarding options on our
                <a target="_blank" href="getting-started">Getting Started</a>
                page.
              </p>
            </div>
          </div>
  
          <div class="meetup-steps">
            <div id="img-content">
              <img class="step-img-1" src="../assets/images/hack-nights/building.png" />
            </div>
            <div id="text-content">
              <h2 class="title-meetup">Workshops</h2>
              <p>
                We host workshops on a range of topics, from development best
                practices to project management methodologies. Please check back
                for the current workshop schedule.
              </p>
            </div>
          </div>
  
          <div class="meetup-steps">
            <div id="img-content">
              <img class="step-img-1" src="../assets/images/hack-nights/happy-hour.png" />
            </div>
            <div id="text-content">
              <h2 class="title-meetup">Happy Hour</h2>
              <p>
                Bars and cafes are shut down, but that doesn’t mean we can’t enjoy
                each other’s company! Grab your beverage of choice and socialize
                with fellow hackers following some organizational announcements.
              </p>
            </div>
          </div>

          <div class="class-btn">
            <a href="https://www.meetup.com/hackforla/events" target="_blank">
              <button class="btn btn-primary btn-lg btn--events">View on Meetup</button></a>
          </div>
        </div>
      </div>
      
      <div class="column-card-lg--events">
        <h2 class="event-title">
          <img class="vector-img" src="../assets/images/hack-nights/meetings.svg" alt="image of a group of people" />
          Online Project Team Meetings
        </h2>
        <div class="mobile-dropdown">
          <div class="meetup-steps-2">
            <div id="img-content">
              <img class="step-img-2" src="../assets/images/hack-nights/org-projects.png" />
            </div>
            <div id="text-content-1">
              <p>
                Please review the listing of project team meeting times to find a
                project that fits your schedule. You are welcome to attend a
                project team meeting after you have completed
                <a href="https://undebate-cc.herokuapp.com/hackforla-projects" target="_blank">Onboarding</a>.
              </p>
            </div>
          </div>
          <div class="days-display-1">
            <div id="userTimeZone" class='userTimeZone'></div>
            {% assign days-of-week = "Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday" | split: "," %}
            {% for day in days-of-week %}
              <div id="{{day}}">
                <h3 class="day-header-1">{{day}}</h3>
                <ul id="{{day}}-List" class="schedule-list-1"></ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  
    <h1 style="color: #ffffff; margin-top: 48px 0; font-size: 36px">
      Our Locations
    </h1>
    <div class="notification-banner">
      <p class="meetings-message">
        In light of the COVID-19 pandemic, Hack for LA has suspended its in-person
        events below. The organization remains fully active, and all events are
        now being conducted remotely using Zoom at the days/times listed above.
      </p>
  
      <div class="getting-started-mobile-page">
        <h2 class="event-title-1">
          <img class="vector-img" src="../assets/images/hack-nights/locations.svg" alt="image of a location icon" />
          See our Locations
        </h2>
      </div>
    </div>
  
    <div class="mobile-locations-dropdown">
      <div class="getting-started-page-card-locations">
        <div class="locations-1">
          <div class="location-img-pos">
            <img class="location-image" src="../assets/images/hack-nights/westside1.png" alt="westside" />
          </div>
          <div class="location-content">
            <h1 style="font-size: 35px; font-weight: normal">Monday</h1>
            <div class="mini-projects">
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/engage.jpg" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/engage">Engage</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/hellogov.jpg" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/hellogov">HelloGOV</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/lucky-parking.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/lucky-parking">Lucky Parking</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/new-schools-today.jpg" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/new-schools-today">New Schools Today</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/not-today.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/not-today">Not Today</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/public-tree-map.png" alt="" />
                <div class="proj-desc">
                  <a href="">Public Tree Map</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/vrms.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/vrms">VRMS</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/website.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/website">HackforLA Website</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/undebate.jpg" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/undebate">Undebate</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/record-clearance.jpg" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/record-clearance-project">Clearance Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="getting-started-page-card-locations">
        <div class="locations-1">
          <div class="location-img-pos">
            <img class="location-image" src="../assets/images/hack-nights/DTLA.png" alt="DTLA" />
          </div>
          <div class="location-content">
            <h1 style="font-size: 35px; font-weight: normal">Tuesday</h1>
            <div class="mini-projects">
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/311.jpg" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/311-data">311 Data</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/civic-tech-index.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/civic-tech-index">Civic Tech Index</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/tdm-calculator.jpg" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/tdm-calculator">LA TDM Calculator</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/vrms.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/vrms">VRMS</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/home-unite-us.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/home-unite-us">Home Unite Us</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/website.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/website">HackforLA Website</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/writeforall.png" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/writeforall">Write for All</a>
                </div>
              </div>
  
              <div class="img-dis">
                <img id="mini-img" src="../assets/images/projects/food-oasis.jpg" alt="" />
                <div class="proj-desc">
                  <a href="https://www.hackforla.org/projects/food-oasis">Food Oasis</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="getting-started-page-card-locations">
        <div class="locations-1">
          <div class="location-img-pos">
            <img class="location-image" src="../assets/images/hack-nights/south-la.jpg" alt="southLA" />
          </div>
          <div class="location-content">
            <h1 style="font-size: 35px; font-weight: normal">Wednesday</h1>
            <div class="mini-projects description">
              <p>
                Our South LA meetup was created by a community member on our
                leadership team.
              </p>
              <p>
                The mission of the South LA hacknight is to offer free technical
                education opportunities and facilitate user centered design and
                software development projects to improve civic life in the local
                area with local partners and stakeholders.
              </p>
              <p>
                This meetup is just getting started, there are no current
                projects.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>


<script>
  const locationsDropDown = document.querySelector(
    ".getting-started-mobile-page"
  );
  const showingLocations = document.querySelector(".mobile-locations-dropdown");
  const showContent = document.querySelectorAll(".event-title");
  const showLocations = document.querySelector(".event-title-1");

  showLocations.addEventListener("click", function () {
    this.classList.toggle("active");
    if (showingLocations.style.display == "none") {
      showingLocations.style.display = "block";
    } else {
      showingLocations.style.display = "none";
    }
  });

  for (let i = 0; i < showContent.length; i++) {
    showContent[i].addEventListener("click", showingDropDown);
  }

  function showingDropDown() {
    this.classList.toggle("active");
    let dropDown = this.nextElementSibling;

    if (dropDown.style.display === "block") {
      dropDown.style.display = "none";
    } else {
      dropDown.style.display = "block";
    }
  }
</script>

<script>



  // Assigns local JSON Data to localData variable
  {% assign localData = site.data.vrms_data | jsonify %}
  let localData = {{ localData }};

  const API_URL = 'https://www.vrms.io/api/recurringevents';

  // Assigns variable to each header by ID
  const mondayList = document.querySelector("#Monday-List");
  const tuesdayList = document.querySelector("#Tuesday-List");
  const wednesdayList = document.querySelector("#Wednesday-List");
  const thursdayList = document.querySelector("#Thursday-List");
  const fridayList = document.querySelector("#Friday-List");
  const saturdayList = document.querySelector("#Saturday-List");
  const sundayList = document.querySelector("#Sunday-List");

  // GET request
  let calendarFetch = fetch(API_URL, {
    method: 'GET'
  });

  // Function schedules data that is passed in
  function schedule(scheduleData) {
    let daysReceived = [];
    let days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];
    let daysMatched = [];
    
    //sorting based on Hours then minutes
    scheduleData.sort(
    function(a, b) {
        var newA = new Date(a.startTime);  
        var newB = new Date(b.startTime);
        if (newA.getHours() != newB.getHours() ) {
            return (newA.getHours() - newB.getHours());
        } else {
            return newA.getMinutes() - newB.getMinutes();
        }
    } );

    // Loops through data and assigns information to variables in a readable format
    for (let i = 0; i <= scheduleData.length - 1; i++) {
      let startTime = timeFormat(new Date(scheduleData[i].startTime));
      let endTime = timeFormat(new Date(scheduleData[i].endTime));
      let webURL = scheduleData[i].project.hflaWebsiteUrl;
      let projectName = scheduleData[i].project.name;
      let description = scheduleData[i].description;
      let day = new Date(scheduleData[i].date).toString().substring(0, 3);
      let scheduleClass;

      // Fills up array of days received to later check if any days are missing
      daysReceived.push(day);

      // Checks if days received matches days of the week
      for (let j = 0; j <= daysReceived.length - 1; j++) {
        for (let k = 0; k <= days.length - 1; k++) {
          if (daysReceived[j] == days[k]) {
            daysMatched.push(days[k]);
          }
        }
      }

      // Function that adds data to proper header
      function scheduleDay() {
        let dayList;
        // Assigns different class to data depending if it utilized local JSON file or the VRMS fetch data
        if (scheduleData == localData) {
          scheduleClass = "localData";
        } else {
          scheduleClass = "updated";
        }
        if ((day === "Mon")) {
          dayList = mondayList;
        } else if ((day === "Tue")) {
          dayList = tuesdayList;
        } else if ((day === "Wed")) {
          dayList = wednesdayList;
        } else if ((day === "Thu")) {
          dayList = thursdayList;
        } else if ((day === "Fri")) {
          dayList = fridayList;
        } else if ((day === "Sat")) {
          dayList = saturdayList;
        } else if ((day === "Sun")) {
          dayList = sundayList;
        }

        dayList.insertAdjacentHTML("beforeend",
          `<li class="${scheduleClass}">${startTime} - ${endTime} <a href="${webURL}">${projectName}</a> ${description}</li>`
        );
      }

      scheduleDay(day);
    }

    // Removes duplicate days from days matched
    let cleanArray = removeDuplicates(daysMatched);

    // Fills up array with days that have nothing scheduled
    let emptyDays = arr_diff(days, cleanArray);

    // Passes in array of days with nothing scheduled
    if (emptyDays) {
      // Function passes in array of days that outputs an li element w/ "There are no meeting scheduled" to days without meetings scheduled
      function scheduleEmpty(emptyDays) {
        for (let a = 0; a <= emptyDays.length - 1; a++) {
          let emptyDayList;
          let day = emptyDays[a].toString();
          // Assigns different class to data depending if it utilized local JSON file or the VRMS fetch data
          if (scheduleData == localData) {
            scheduleClass = "localData";
          } else {
            scheduleClass = "updated";
          }
          if ((day === "Mon")) {
            emptyDayList = mondayList;
          } else if ((day === "Tue")) {
            emptyDayList = tuesdayList;
          } else if ((day === "Wed")) {
            emptyDayList = wednesdayList;
          } else if ((day === "Thu")) {
            emptyDayList = thursdayList;
          } else if ((day === "Fri")) {
            emptyDayList = fridayList;
          } else if ((day === "Sat")) {
            emptyDayList = saturdayList;
          } else if ((day === "Sun")) {
            emptyDayList = sundayList;
          }

          emptyDayList.insertAdjacentHTML("beforeend",
            `<li class="${scheduleClass}">There are no meetings scheduled.</li>`);
        }
      }
      // Executes empty schedule
      scheduleEmpty(emptyDays)
    }
  }

  // Function removes duplicates in an array
  function removeDuplicates(array) {
    return array.filter((a, b) => array.indexOf(a) === b)
  };

  // Function checks for differences between two arrays
  function arr_diff(a1, a2) {

    let a = [],
      diff = [];

    for (let i = 0; i < a1.length; i++) {
      a[a1[i]] = true;
    }

    for (let i = 0; i < a2.length; i++) {
      if (a[a2[i]]) {
        delete a[a2[i]];
      } else {
        a[a2[i]] = true;
      }
    }

    for (let k in a) {
      diff.push(k);
    }

    return diff;
    // console.log(diff)
  }

  // Function clears the schedule
  function clearSchedule() {
    let prevMonList = mondayList.getElementsByClassName("localData");
    let prevTueList = tuesdayList.getElementsByClassName("localData");
    let prevWedList = wednesdayList.getElementsByClassName("localData");
    let prevThuList = thursdayList.getElementsByClassName("localData");
    let prevFriList = fridayList.getElementsByClassName("localData");
    let prevSatList = saturdayList.getElementsByClassName("localData");
    let prevSunList = sundayList.getElementsByClassName("localData");

    while (prevMonList[0]) {
      prevMonList[0].parentNode.removeChild(prevMonList[0]);
    }
    while (prevTueList[0]) {
      prevTueList[0].parentNode.removeChild(prevTueList[0]);
    }
    while (prevWedList[0]) {
      prevWedList[0].parentNode.removeChild(prevWedList[0]);
    }
    while (prevThuList[0]) {
      prevThuList[0].parentNode.removeChild(prevThuList[0]);
    }
    while (prevFriList[0]) {
      prevFriList[0].parentNode.removeChild(prevFriList[0]);
    }
    while (prevSatList[0]) {
      prevSatList[0].parentNode.removeChild(prevSatList[0]);
    }
    while (prevSunList[0]) {
      prevSunList[0].parentNode.removeChild(prevSunList[0]);
    }
  }

  // Executes schedule with localData
  schedule(localData);

  // Fetchs JSON file from VRMS_API
  calendarFetch
    .then(response => response.json())
    .then((data) => {
      // Checks for differences between localData and VRMS data
      if (arr_diff(data, localData)) {
        clearSchedule();
        schedule(data);
      }
    })
    .catch(err => {
      console.log(err);
    })

  // Formats time to be readable
  function timeFormat(time) {
    hours = time.getHours();
    minutes = time.getMinutes();

    if (minutes == 0) {
      minutes = minutes + "0";
    }

    if (hours < 12 && hours !== 0) {
      return `${hours}:${minutes} am`;
    } else if (hours === 0) {
      return `12:${minutes} am`;
    } else if (hours > 12) {
      hours = hours - 12;
      return `${hours}:${minutes} pm`;
    } else if (hours = 12) {
      return `${hours}:${minutes} pm`;
    } else {
      return `${hours}:${minutes} am`;
    }
  }
  /* Show user's time zone */

  // Initialize variables and set defaults
  let userTimeZone = undefined;
  let timeZoneOutput = "All times listed in your local time zone.";

  // Get user time zone
  userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

  // If userTimeZone exists, add it to the text
  if (userTimeZone) {
    timeZoneOutput = `Times are in your local time zone: ${userTimeZone}`;
  }

  // Display time zone on page
  document.getElementById("userTimeZone").insertAdjacentHTML('afterbegin', timeZoneOutput);
</script>