<div class='card-primary page-card-lg page-card--about' >
    <div class="about-us-section-header" data-hash="sustainability">
        <span class="sec-head-img"><img src="/assets/images/about/section-header-elements/sustainability.svg" alt="" /></span>
        <span class="sdg-title-mobile">HfLA Supports SDGs</span><span class="sdg-title-full">Hack for LA Supports:<br />LA’s Sustainable Development Goals (SDG) Movement</span>
    </div>
    <div class="about-us-section-content">
        <div class="flex-container-reverse">
            <!--This is the top and then right cell-->
            <div class="sdg-right-column">
                <p class="top-paragraph">
                    The SDGs were drafted and adopted at the UN General Assembly in 2015. The SDGs aim to address social inequality, economic growth, 
                    environmental preservation, among other global development challenges. In 2015, the United Nations established the 2030 Global 
                    Agenda for Sustainable Development consisting of 17 Sustainable Development Goals (SDGs).
                </p>
                <p class="text-bold text-bold--sdg">Select Hack for LA projects working to achieve these goals:</p>
                <div class="sdg-groups">
                    <div class="sdg-column sdg-left color-goldenrod-2">2.1</div><div class="sdg-column sdg-right">FOLA</div>
                </div>
                <div class="sdg-groups">
                    <div class="sdg-column sdg-left color-orangered">5.5</div><div class="sdg-column sdg-right">Women Leadership Development</div>
                    <div class="sdg-column sdg-left color-orangered">5.b</div><div class="sdg-column sdg-right">Empowering women through the use of technology</div>
                    <div class="sdg-column sdg-left color-orangered">5.d</div><div class="sdg-column sdg-right">End discrimination against LBGTQI+</div>
                </div>
                <div class="sdg-groups">
                    <div class="sdg-column sdg-left color-brown">8.2</div><div class="sdg-column sdg-right">Software Engineering Apprenticing and Fellowships</div>
                    <div class="sdg-column sdg-left color-brown">8.6</div><div class="sdg-column sdg-right">Virtual Workshop Wednesdays</div>
                    <div class="sdg-column sdg-left color-brown">8.b</div><div class="sdg-column sdg-right">Youth internships and mentorship program</div>
                </div>
                <div class="sdg-groups">
                    <div class="sdg-column sdg-left color-goldenrod-11">11.2</div><div class="sdg-column sdg-right">TDM calculator</div>
                </div>
                <div class="sdg-groups">
                    <div class="sdg-column sdg-left color-darkolivegreen">13.3</div><div class="sdg-column sdg-right">Climate Collabathon</div>
                </div>
                <div class="sdg-groups">
                    <div class="sdg-column sdg-left color-teal">16.3</div><div class="sdg-column sdg-right">Racial Justice and Record Clearance</div>
                    <div class="sdg-column sdg-left color-teal">16.7</div><div class="sdg-column sdg-right">Undebate and Engage</div>
                    <div class="sdg-column sdg-left color-teal">16.8</div><div class="sdg-column sdg-right">311-data.org</div>
                </div>
                <div class="sdg-groups">
                    <div class="sdg-column sdg-left color-midnightblue">17.6</div><div class="sdg-column sdg-right">Open Source Software Code for All and Civic Tech Index</div>
                    <div class="sdg-column sdg-left color-midnightblue">17.11</div><div class="sdg-column sdg-right">Structured Context Data Project</div>
                    <div class="sdg-column sdg-left color-midnightblue">17.17</div><div class="sdg-column sdg-right">Collabathon chrome extension</div>
                </div>
            </div>
            <!-- This is the bottom and then left cell-->
            <div class="sdg-left-column sdg-left-flex-container">
                <div class="grid-2-column">
                    <img src="/assets/images/about/sdg-elements/zero-hunger.svg" alt="Zero Hunger goal logo" />
                    <img src="/assets/images/about/sdg-elements/gender-equality.svg" alt="Gender Equality goal logo" />
                    <img src="/assets/images/about/sdg-elements/decent-work.svg" alt="Decent Work and Economic Growth goal logo" />
                    <img src="/assets/images/about/sdg-elements/sustainable-cities.svg" alt="Sustainable Cities and Communities goal logo" />
                    <img src="/assets/images/about/sdg-elements/climate-action.svg" alt="Climate Action goal logo" />
                    <img src="/assets/images/about/sdg-elements/peace-justice.svg" alt="16 Peace, Justice and Strong Institutions" />
                    <img src="/assets/images/about/sdg-elements/partnerships.svg" alt="Partnerships for the goals goal logo" />
                    <div class="grid-center"><img src="/assets/images/about/sdg-elements/sdg-la.svg" alt="Los Angeles Sustainable Development wheel logo" /><br />
                    </div>
                </div>
                <a href="https://sdg.lamayor.org"><span class="small-text">https://sdg.lamayor.org</span></a>
            </div>
        </div>
    </div>
</div>
