<div class='card-primary page-card-lg page-card--about'>
    <div class="about-us-section-header" data-hash="accomplishments"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/accomplishments.svg" alt="" /></span>Accomplishments</div>
    <div class="about-us-section-content">
        <div class="flex-container">
            <!--This is the top and then right cell-->
            <div class="top-left-column top-left-column--acc">
                <p class="text-bold accomplishment-highlights">Highlights from 2020</p>
                {% for accomplishment in site.data.internal.accomplishments limit:4 %}
                    <div class="accomplishment-title"><a href="{{accomplishment.link}}" target="_blank" rel="noopener noreferrer"> {{accomplishment.title}} </a></div>
                    <div> {{ accomplishment.description }} </div>                                    
                {% endfor %} 
            </div> 

            <div class="bottom-right-column bottom-right-column--acc">
                {% for accomplishment in site.data.internal.accomplishments limit:4 offset:4 %}
                    <div class="accomplishment-title"><a href="{{accomplishment.link}}" target="_blank" rel="noopener noreferrer"> {{accomplishment.title}} </a></div>
                    <div> {{ accomplishment.description }} </div>                                    
                {% endfor %} 
            </div>
        </div>
        <div class="flex-container flex-container--wins">
            <!--This is the top and then right cell-->
            <div class="top-left-column wins-column-width-left">
                <div class="accomplishment-wins"><img src="/assets/images/about/wins-cup.svg" alt="">Wins</div>
                <div>Check out what our team members have said about their experiences.</div>
                <p class="eliptical align-left coming-soon"><a href="https://hackforla.org/wins">View Volunteer Wins</a></p>
            </div>
            <div class="bottom-right-column wins-column-width-right">
                <div class="wins-card-mobile"><a href="https://hackforla.org/wins" target="_blank" rel="noopener noreferrer"><img src="/assets/images/about/wins-card-mobile.svg" alt="Wins card: contributors' names, teams and roles, and testimonials of their accomplishments." ></a></div>
                <div class="wins-card-desktop"><a href="https://hackforla.org/wins" target="_blank" rel="noopener noreferrer"><img src="/assets/images/about/wins-card-desktop.svg" alt="Wins card: contributors' names, teams and roles, and testimonials of their accomplishments." /></a></div>
            </div>
        </div>
    </div>
</div>