<div class='card-primary page-card-lg page-card--about page-card--platform' >
    <div class="about-us-section-header" data-hash="platform">
        <span class="sec-head-img"><img src="/assets/images/about/section-header-elements/platform.svg" alt=""></span>Hack for LA Platform
    </div>
    <div class="about-us-section-content">
        <div class="sub-card">
            <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/workforce-development.svg" alt=""></span><span class="sub-head-text color-dodgerblue">Workforce Development</div>
            <p class="sub-card-content border-dodgerblue">
                Enlightened self-interest is a powerful motivator. Our members have access to mentorship, 
                one-on-one help with job searches, and resume coaching. We do project matching to fit skill 
                and subject areas in which they wish to develop new skills, gain confidence in newly learned 
                skills, and transition from beginner to junior, mid-level, or expert - often in areas they 
                wish to add impressive credits to their resume.
            </p>
            <div class="platform-mid-section">
                <div class="platform-sec-impact">
                    <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/impact.svg" alt=""></span><span class="sub-head-text color-lightseagreen">Impact</div>
                    <p class="sub-card-content border-lightseagreen">
                        We choose and empower projects where there is a demonstrable impact on stakeholders, project partners, 
                        our local community, and our members. We don’t seek to be the experts, but instead to learn from them 
                        and apply the leverage that technology offers to help improve pace and outcomes from their already 
                        valuable work. High profile project partners carry weight when our members are looking for work.
                    </p>
                </div>
                <div class="platform-sec-learning">
                    <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/learning.svg" alt=""></span><span class="sub-head-text color-orange">Learning</div>
                    <p class="sub-card-content border-orange">
                        An environment where every member and the org itself benefit from the shared experiences of the members. 
                        From high school students to Ph.D., from novice to expert, there is knowledge to be gained by sharing 
                        practices and working collaboratively, making mistakes and learning from them in an environment that 
                        values failing fast and learning.
                    </p>
                </div>
                <div class="platform-sec-diversity">
                    <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/diversity.svg" alt=""></span><span class="sub-head-text color-chocolate">Diversity, Equity, and Inclusion</div>
                    <p class="sub-card-content border-chocolate">
                        The diverse experiences of all of our members help us create a better civic tech ecosystem, by bringing 
                        their lived experience to our org. Our diversity includes race, sexual orientation, learning modalities, 
                        cognitive abilities, and socio-economic experiences. Our model of inclusion requires and inspires 
                        empathy and patience, both with others and ourselves. We are all here to learn to work together to 
                        create the change we want to see in the world, and that happens one conversation at a time.
                    </p>
                </div>
                <div class="platform-sec-giving">
                    <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/giving.svg" alt=""></span><span class="sub-head-text color-firebrick">Giving</div>
                    <p class="sub-card-content border-firebrick">
                        We all come together to give freely of our time, expertise, interest and empathy, in an effort to improve 
                        our local community through direct action.
                    </p>
                </div>
                <div class="platform-sec-agility">
                    <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/agility.svg" alt=""></span><span class="sub-head-text color-deeppink">Agility</div>
                    <p class="sub-card-content border-deeppink">
                        There will be impediments, setbacks and disappointments. We embrace change by empowering our members to 
                        meet, talk, experiment and achieve enough common consensus to move internal initiatives forward, without 
                        rigid structures and oppressive processes. This works on project teams, Communities of Practice and 
                        Organizational Stewardship.
                    </p>
                </div>
                <div class="platform-sec-scalability">
                    <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/scalability.svg" alt=""></span><span class="sub-head-text color-mediumvioletred">Scalability</div>
                    <p class="sub-card-content border-mediumvioletred">
                        In order to scale our impact with people and projects, we experiment, iterate and refine, measure and 
                        automate.  Using the lowest lift tools possible for the job, and building our own, when scale cannot be 
                        achieved with manual labor or open source tools.
                    </p>
                </div>
                <div class="platform-sec-sustainability">
                    <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/sustainability.svg" alt=""></span><span class="sub-head-text color-darkorchid">Sustainability</div>
                    <p class="sub-card-content border-darkorchid">
                        To create a sustainable community that provides consistent results and experience for stakeholders and a 
                        feeling of stability amongst its members.
                    </p>
                </div>
            </div>
            <p class="bold-quote">And last but definitely not least, a true open door policy....</p>
            <div class="sub-card-head"><span class="sub-head-image"><img src="/assets/images/about/platform-header-elements/inclusivity.svg" alt=""></span><span class="sub-head-text color-blueviolet">Radical Inclusivity</div>
            <p class="sub-card-content border-blueviolet">
                When organizations filter you out before you get in the door, they perpetuate the bias already inherent 
                in our society.  Radical Inclusivity at Hack for LA means that if you can contribute to our impact goals 
                and peer learning environment, you are welcome here.
            </p>
        </div>
    </div>
</div>