<div class='card-primary page-card-lg page-card--about'>
    <div class="about-us-section-header" data-hash="metrics"><span class="sec-head-img"><img src="/assets/images/about/section-header-elements/metrics.svg" alt="" /></span>Metrics</div>
    <div class="about-us-section-content">
        <div class="top-paragraph">
            <p>
                Hack for LA is taking an iterative approach to Metrics gathering. Using readily available tools now, and building 
                custom tools to model, grow, and serve our sector specific community.
            </p>
            <p>
                We currently use Google surveys extensively and make the responses available publicly.  
            </p>
        </div>
        <div class="flex-container">
            <!--This is the top and then right cell-->
            <div class="top-left-column">
                <div class="small-card">
                    <div class="flex-container-row">
                        <img class="metrics-image-size" src="/assets/images/about/metrics-pie-chart.png" alt="" /><div class="metrics-title">Metrics</div>
                    </div>
                    <p>Check out our <a href="https://hackforla.org/dashboard" target="_blank" rel="noopener noreferrer">Survey Results</a></p>
                </div>
            </div>
            <div class="bottom-right-column">
                <div class="small-card">
                    <div class="metrics-vrms-title"><img src="/assets/images/about/vrms-logo.svg" alt="VRMS logo" /></div>
                    <div class="metrics-vrms-links"><a href="https://vrms.io" target="_blank" rel="noopener noreferrer">See App</a> <a href="https://hackforla.org/projects/vrms" target="_blank" rel="noopener noreferrer">Learn More</a></div>
                </div>
            </div>
        </div>
        <div>
            <p>
                VRMS is a browser-based software tool created by Hack for LA (HfLA) to curate participant journeys and further the organization’s 
                goals of workforce development and project impact. 
            </p>
            <p>
                By collecting and using relevant data VRMS will be able to automate repetitive tasks; match volunteers with projects, 
                relevant training, and job opportunities; measure engagement with projects and activities; and surface insights to 
                improve organizational effectiveness and the volunteer experience over time.  
            </p>
        </div>
    </div>
</div> 