<div class='card-primary page-card-lg page-card--about'>
    <div class="about-us-section-header" data-hash="partners"><span class="sec-head-img"><img
                src="/assets/images/about/section-header-elements/partners.svg" alt="" /></span>Partners</div>
    <div class="about-us-section-content">
        <div class="flex-container-row flex-container-row--partners">

            {% for partner in site.data.internal.partners%}
            <a href="{{partner.link}}" target="_blank" rel="noopener noreferrer">
                <img class="partner-logo" src="{{partner.image}}" alt="{{partner.name}}" title="{{partner.name}}" />
            </a>
            {% endfor %}

        </div>
    </div>
</div>