<div class="getting-started-locations-only">
    <div class="locations-card-container">
        <div class="location-card">
            <img class="location-image" src="../assets/images/hack-nights/westside1.png" alt="Westside">
        </div>
        <div class="location-card" >
            <img class="location-image" src="../assets/images/hack-nights/DTLA.png" alt="Downtown L.A.">
        </div>
        <div class="location-card">
            <img class="location-image" src="../assets/images/hack-nights/southla.png" alt="South L.A.">
        </div>
    </div>
</div>
