<a class="anchor" id="contact"></a>
<section class="content-section">
  <!-- <h2 class="page-contain">Get in Touch</h2><br> -->

  <div class="page-card card-secondary page-card-md page-card--home page-card--home-volunteer">
    <h3>Volunteer with us</h3>
    <div class="row-1">
      <div class="column volunteerWithUs">
        <p>We are looking for volunteers of all different skill types, levels, and civic interests.</p>
        <a href='./getting-started'><button class='btn btn-primary btn--home-survey'>Getting Started</button></a><br>
      </div>
      <div class="column volunteerWithUs">
        <p>Please help us understand your transportation preferences by completing a short survey.</p>
        <a href='https://docs.google.com/forms/d/e/1FAIpQLSeb5zITlv_OewbT_k0UMNw6kail8-vKIyjM3E9qPMLYR6qiYw/viewform'><button
            class='btn btn-primary btn--home-survey'>Transportation</button></a>
      </div>
    </div>
  </div><br>

  <div class="page-card card-secondary page-card-md page-card--home">
    <h3>Get in touch with us</h3>
    <p>The more you tell us about yourself, the better we can match you with the right resources.</p><br>

    <div class="row">
      <div class="column"><a href='./survey4'><button class='btn btn-primary btn--home-survey'>Government</button></a></div>
      <div class="column">I am a government agency.</div>
    </div><br>

    <div class="row">
      <div class="column"><a href='./survey3'><button class='btn btn-primary btn--home-survey'>Non-profit</button></a></div>
      <div class="column">I am a non-profit organization.</div>
    </div><br>

    <div class="row">
      <div class="column"><a href='./survey6'><button class='btn btn-primary btn--home-survey'>Other</button></a></div>
      <div class="column">I am none of the above.</div>
    </div><br>
  </div>
</section>