name: Add Update Comment
on:
  issues:
    types:
      - labeled
jobs:
  add-comment:
    if: "${{ github.event.label.name == 'To Update !' }}"
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            @${{ github.event.issue.assignee.login }} Please add update using this template
            1. Progress
            2. Blockers
            3. Availability
            4. ETA
